<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="featureBigTeleAMR-title"></h4>
        </div>

        <div class="modal-body" id="featureBigTeleAMRtab-info">
            <ul id="aboutBigTeleAMRTabs" class="nav nav-tabs">
                <li class="active"><a href="#featureBigTeleAMR-WL" data-toggle="tab"><i class="glyphicon glyphicon-time"></i>&nbsp;ระดับน้ำ</a></li>
                <li><a href="#featureBigTeleAMR-R" data-toggle="tab"><i class="glyphicon glyphicon-tint"></i>&nbsp;ปริมาณน้ำฝน</a></li>
              
            </ul>
            <div id="aboutBigTeleAMRTabsContent" class="tab-content" style="padding-top: 10px;">
                <div class="tab-pane fade active in" id="featureBigTeleAMR-WL">

                </div>
                <div class="tab-pane fade" id="featureBigTeleAMR-R">

                </div>
              
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>