  #water2_test {
      width: 50px;
      height: 50px;
      position: absolute;
      background-color: red;
    }
    
    #water1x {
      stroke: #000;
      stroke-width: 0.5px;
      stroke-dasharray: 870;
      stroke-dashoffset: 870;
      animation: draw 10s infinite linear;
    }
    
    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    }
    
    #water1,
    #water1-2,
    #water1-5,
    #water1-26,
    #water1-13,
    #water1-19,
    #water1-12,
    #water1-25,
    #water1-16,
    #water1-17,
    #water1-14,
    #water1-21,
    #water1-23,
    #water1-24,
    #water1-22 {
      animation: td_150 1.5s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    @keyframes td_150 {
      0% {
        opacity: 0;
        filter: alpha(opacity=0);
      }
      10% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translate(0px, 150px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    #water1-3,
    #water1-8,
    #water1-9,
    #water1-10,
    #water1-11,
    #water1-15,
    #water1-18 {
      animation: td_50 1.2s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    @keyframes td_50 {
      0% {
        opacity: 0;
        filter: alpha(opacity=0);
      }
      10% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translate(0px, 50px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    #water1-4,
    #water1-6,
    #water1-7,
    #water1-20 {
      animation: td_100 1.8s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    @keyframes td_100 {
      0% {
        opacity: 0;
        filter: alpha(opacity=0);
      }
      10% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translate(0px, 100px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    #water2,
    #water2-4,
    #water2-5 {
      animation: lr_100 1.8s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    @keyframes lr_100 {
      0% {
        transform: translate(0px);
        opacity: 0.1;
      }
      10% {
        opacity: 1;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translateX(100px) translateY(0px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    #water2-6,
    #water2-2,
    #water2-3 {
      animation: lr_50 1.8s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    @keyframes lr_50 {
      0% {
        transform: translate(0px);
        opacity: 0.1;
      }
      10% {
        opacity: 1;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translateX(50px) translateY(0px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    #water2-8 {
      animation: rl_100 1.8s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    @keyframes rl_100 {
      0% {
        transform: translate(0px);
        opacity: 0.1;
      }
      10% {
        opacity: 1;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translateX(-100px) translateY(0px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    #water2-9 {
      animation: rl_70 1.8s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    @keyframes rl_70 {
      0% {
        transform: translate(0px);
        opacity: 0.1;
      }
      10% {
        opacity: 1;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translateX(-70px) translateY(0px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    #water2-16,
    #water2-15,
    #water2-7,
    #water2-11,
    #water2-12,
    #water2-13 {
      animation: rl_50 1.2s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    @keyframes rl_50 {
      0% {
        transform: translate(0px);
        opacity: 0.1;
      }
      10% {
        opacity: 1;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translateX(-50px) translateY(0px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    #water2-10,
    #water2-14 {
      animation: rl_20 1.2s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    @keyframes rl_20 {
      0% {
        transform: translate(0px);
        opacity: 0.1;
      }
      10% {
        opacity: 1;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translateX(-20px) translateY(0px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    #water3_1 {
      animation: animt_b_2 2.5s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    #water3_2 {
      animation: animt_b_1 2.5s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    #water1_4 {
      animation: animt_b_1 0.7s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    #water3 {
      animation: animt_b2_1 1.8s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    #water4,
    #water5 {
      animation: animt_b2_2 1.4s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    #water9x {
      animation: animt_b2 0.8s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    #water2_1,
    #water2_2,
    #water2_3,
    #water2_4,
    #water2_5,
    #water2_6,
    #water2_7,
    #water2_8,
    #water2_9,
    #water2_10 {
      animation: animt_b3 1s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    /*#m2,#m4,#m6,#m8,#m10,#m12,#m14,#m16,#m18{
	
  animation: scale1  1.5s  linear ;
 animation-direction: normal;
  transform-origin: 50% 50%;
  
  
  
 
}


#m1,#m3,#m5,#m6,#m7,#m9,#m11,#m13,#m15,#m17,#m19,#m4_2{
	
  animation: scale1  1.5s  linear ;
 animation-direction: normal;
  transform-origin: 50% 50%;
  
  
  
 
}*/
    
    #water2x {
      animation: animationFrames 3s ease infinite;
      transform-origin: 100% 100%;
    }
    
    @keyframes animt_b {
      0% {
        opacity: 0;
        filter: alpha(opacity=0);
      }
      10% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translate(0px, 300px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    @keyframes animt_b_1 {
      0% {
        opacity: 0;
        filter: alpha(opacity=0);
      }
      10% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translate(0px, 60px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    @keyframes animt_b_2 {
      0% {
        opacity: 0;
        filter: alpha(opacity=0);
      }
      10% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translate(0px, -60px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    @keyframes animt_b_1_old {
      0% {
        transform: translate(0px);
        opacity: 0.1;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: translate(0px, 5px);
      }
    }
    
    @keyframes animt_b2 {
      0% {
        transform: translate(0px);
        opacity: 0.1;
      }
      10% {
        opacity: 1;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translateX(170px) translateY(0px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    @keyframes animt_b2_1 {
      0% {
        transform: translate(0px);
        opacity: 0.1;
      }
      10% {
        opacity: 1;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translateX(120px) translateY(0px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    @keyframes animt_b2_2 {
      0% {
        transform: translate(0px);
        opacity: 0.1;
      }
      10% {
        opacity: 1;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translateX(25px) translateY(0px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    @keyframes animt_b3 {
      0% {
        opacity: 0;
        filter: alpha(opacity=0);
      }
      50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translate(-1px, 0px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    @-moz-keyframes animationFrames {
      0% {
        -moz-transform: translate(10px);
      }
      100% {
        -moz-transform: translate(100px, 100px);
      }
    }
    
    @-webkit-keyframes animationFrames {
      0% {
        -webkit-transform: translate(10px);
      }
      100% {
        -webkit-transform: translate(100px, 100px);
      }
    }
    
    @-o-keyframes animationFrames {
      0% {
        -o-transform: translate(10px);
      }
      100% {
        -o-transform: translate(100px, 100px);
      }
    }
    
    @-ms-keyframes animationFrames {
      0% {
        -ms-transform: translate(10px);
      }
      100% {
        -ms-transform: translate(100px, 100px);
      }
    }
    
    @keyframes scale1 {
      0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
        filter: alpha(opacity=0);
      }
      50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }