<div id="weatherModal">
    <style>
        .right {
            float: right!important;
        }

        .button.tiny {
            padding-top: .5em;
            padding-bottom: .4375em;
            -webkit-appearance: none;
            padding-right: .875em;
            padding-left: .875em;
            font-size: .6875em;
        }

        .button {
            box-shadow: 0 0px 0 rgba(255, 255, 255, 0) inset;
            transition: background-color 300ms ease-out 0s;
        }

        .button {
            background-color: #0079ef;
        }

        .button {
            border-style: solid;
            border-width: 1px;
            cursor: pointer;
            font-family: inherit;
            font-weight: bold;
            line-height: 1;
            margin: 0 0 1.25em;
            position: relative;
            text-decoration: none;
            text-align: center;
            border-color: #2284a1;
            color: #fff;
        }
    </style>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="featuretab-title"></h4>
            </div>
            <div class="modal-body" id="featuretab-info">
                <div class="container" style="width: 100%;">
                    <div class="tab-content">
                        <!--<div id="map_storm" class="tab-pane fade active in">-->
                        <div id="mapstorm">
                            <div class="row" style="margin-top: 400px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function tab_map() {
            block('.container');

            $.get("http://hydrologydb.rid.go.th/hydromet/code/weatherAPI/imagefromnhc/",
                    function (data) {
                        var find_data = '';
                        find_data = $(data).find('div.row').eq(4);
                        $('#mapstorm').html('');
                        $('#mapstorm').append(find_data);
                    })
                .always(function () {
                    unblock('.container');
                });
        }

        tab_map();

        var modal_weather = document.getElementById('weatherModal');

        window.onclick = function (event) {
            if (event.target == modal_weather) {
                modal_weather.style.display = "none";
                $('.modal-backdrop').remove();
            }
        }

        $(document).ajaxStop(function () {
            /* add Class modal Image */
            /* Strom Pic */
            $('#mapstorm').find('.modal_img').eq(0).addClass('strom_Pic').attr("rel", "strom_Pic");
            $('#mapstorm').find('.modal_img').eq(1).addClass('strom_Pic').attr("rel", "strom_Pic");
            $('#mapstorm').find('.modal_img').eq(2).addClass('strom_Pic').attr("rel", "strom_Pic");
            $('#mapstorm').find('.modal_img').eq(3).addClass('strom_Pic').attr("rel", "strom_Pic");
            $('#mapstorm').find('.modal_img').eq(5).addClass('strom_Pic').attr("rel", "strom_Pic");
            $(".strom_Pic").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                helpers: {
                    thumbs: {
                        width: 50,
                        height: 50
                    }
                }
            });
            /* Strom Animation */
            $('#mapstorm').find('.modal_img').eq(4).addClass('strom_Animation').attr("rel",
                "strom_Animation");
            $('#mapstorm').find('.modal_img').eq(6).addClass('strom_Animation').attr("rel",
                "strom_Animation");
            $(".strom_Animation").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                helpers: {
                    thumbs: {
                        width: 50,
                        height: 50
                    }
                }
            });
            unblock('#map');
        });

        var modal_weather = document.getElementById('weatherModal');
        window.onclick = function (event) {
            if (event.target == modal_weather) {
                modal_weather.style.display = "none";
                $('.modal-backdrop').remove();
            }
        }
    </script>
</div>