<link rel="stylesheet" href="js/layers/weather/theme_modal.css">
<div id="modal-weather" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="featuretab-title"></h4>
        </div>
        <div class="modal-body" id="featuretab-info">
            <div class="container" style="width: 100%;">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab_basic_weather"><i class="glyphicon glyphicon-cog"></i> ข้อมูลพื้นฐาน</a></li>
                    <li><a data-toggle="tab" href="#tab_table_weather"><i class="glyphicon glyphicon-list-alt"></i> ตาราง</a></li>
                    <li><a data-toggle="tab" href="#tab_graph_weather"><i class="glyphicon glyphicon-stats"></i> กราฟ</a></li>
                </ul>
                <div class="tab-content">
                    <input id="cstat" type="hidden">
                    <div id="tab_basic_weather" class="tab-pane fade in active">
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-condensed">
                                        <tr>
                                            <td colspan="2" style="text-align: center;">
                                                <b>ข้อมูลเมื่อวันที่ </b>
                                                <span id="date_weather"></span>
                                                <b> เวลา</b>
                                                <span id="time_weather"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="text-align: center; width: 55%;">รายการ</th>
                                            <th style="text-align: center;">ค่าที่ได้</th>
                                        </tr>
                                        <tr>
                                            <th>สถานี</th>
                                            <td><span id="stn_name_weather"></span></td>
                                        </tr>
                                        <tr>
                                            <th>จังหวัด</th>
                                            <td><span id="province_weather"></span></td>
                                        </tr>
                                        <tr>
                                            <th>อุณหภูมิบาโรมิเตอร์ (celcius)</th>
                                            <td><span id="barometer_temperature_weather"></span></td>
                                        </tr>
                                        <tr>
                                            <th>ความกดอากาศที่สถานี (mb)</th>
                                            <td><span id="station_pressure_weather"></span></td>
                                        </tr>
                                        <tr>
                                            <th>ความกดอากาศที่ระดับน้ำทะเล (mb)</th>
                                            <td><span id="mean_sea_level_pressure_weather"></span></td>
                                        </tr>
                                        <tr>
                                            <th>อุณหภูมิจุดน้ำค้าง (celcius)</th>
                                            <td><span id="dew_point_weather"></span></td>
                                        </tr>
                                        <tr>
                                            <th>ความชื้นสัมพัทธ์ (%)</th>
                                            <td><span id="relative_Humidity_weather"></span></td>
                                        </tr>
                                        <tr>
                                            <th>ความดันไอ (mb)</th>
                                            <td><span id="vapor_pressure_weather"></span></td>
                                        </tr>
                                        <tr>
                                            <th>ทัศนวิสัยทางบก (km)</th>
                                            <td><span id="land_visibility_weather"></span></td>
                                        </tr>
                                        <tr>
                                            <th>ทิศทางลม (degree)</th>
                                            <td><span id="wind_direction_weather"></span></td>
                                        </tr>
                                        <tr>
                                            <th>ความเร็วลม (km/h)</th>
                                            <td><span id="wind_speed_weather"></span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab_table_weather" class="tab-pane fade in">
                        <form id="form_search_weather_table" name="form_search_weather_table" class="form-inline" style="margin:5px 0 7px 0; text-align:center; ">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>ตั้งแต่วันที่ &nbsp;</label>
                                        <input class="form-control input_date" id="table_form_date_start" type="text" maxlength="10" value="" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <label>ถึง &nbsp;</label>
                                        <input class="form-control input_date" id="table_form_date_end" type="text" maxlength="10" value="" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <button id="btn_search_table" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> ค้นหา</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row" style="text-align: center; margin-bottom: 15px;">
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <div class="col-md-12">
                                <b>ข้อมูลเมื่อวันที่</b>
                                <span id="span_date_start_table"></span>
                                <b>ถึง</b>
                                <span id="span_date_end_table"></span>
                            </div>
                            <div class="col-md-12">
                                <hr />
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="row">
                            <div id="table_weather" class="col-md-12 table-responsive">
                            </div>
                        </div>
                    </div>
                    <div id="tab_graph_weather" class="tab-pane fade in">
                        <form id="form_search_weather_graph" name="form_search_weather_graph" class="form-inline" style="margin:5px 0 7px 0; text-align:center; ">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>ตั้งแต่วันที่ &nbsp;</label>
                                        <input class="form-control input_date" id="graph_form_date_start" type="text" maxlength="10" value="" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <label>ถึง &nbsp;</label>
                                        <input class="form-control input_date" id="graph_form_date_end" type="text" maxlength="10" value="" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <button id="btn_search_graph" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> ค้นหา</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row" style="text-align: center; margin-bottom: 15px;">
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <div class="col-md-12">
                                <b>ข้อมูลเมื่อวันที่</b>
                                <span id="span_date_start_graph"></span>
                                <b>ถึง</b>
                                <span id="span_date_end_graph"></span>
                            </div>
                            <div class="col-md-12">
                                <hr />
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <canvas id="Chart_barometer_temperature" width="500" height="300"></canvas>
                            </div>
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <div class="col-lg-12">
                                <canvas id="Chart_station_pressure" width="500" height="300"></canvas>
                            </div>
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <div class="col-lg-12">
                                <canvas id="Chart_mean_sea_level_pressure" width="500" height="300"></canvas>
                            </div>
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <div class="col-lg-12">
                                <canvas id="Chart_dew_point" width="500" height="300"></canvas>
                            </div>
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <div class="col-lg-12">
                                <canvas id="Chart_relative_Humidity" width="500" height="300"></canvas>
                            </div>
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <div class="col-lg-12">
                                <canvas id="Chart_vapor_pressure" width="500" height="300"></canvas>
                            </div>
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <div class="col-lg-12">
                                <canvas id="Chart_land_visibility" width="500" height="300"></canvas>
                            </div>
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <div class="col-lg-12">
                                <canvas id="Chart_wind_direction" width="500" height="300"></canvas>
                            </div>
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <div class="col-lg-12">
                                <canvas id="Chart_wind_speed" width="500" height="300"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="libraries/bootstrap/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="libraries/bootstrap/js/bootstrap-datepicker.th.js"></script>
<script type="text/javascript" src="libraries/bootstrap/js/bootstrap-datepicker-thai.js"></script>
<script type="text/javascript" src="js/layers/weather/tab_table_weather.js"></script>
<script type="text/javascript" src="js/layers/weather/tab_graph_weather.js"></script>
<script type="text/javascript" src="js/layers/weather/modalV1.js"></script>
