#form_search_weather_graph .col-md-12:nth-child(1),
#form_search_weather_table .col-md-12:nth-child(1) {
    margin-top: 1pc;
}

.input_date {
    text-align: center;
    background-color: #F5FBFD;
}

thead tr {
    background-color: #e8e8e8;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

tfoot tr {
    background-color: #8ef2cd;
    text-shadow: 0.3px 0px 0px;
}

#table_weather tfoot tr:hover,
#table_weather tbody tr:hover {
    background-color: #ffff99;
}

.datepicker td,
.datepicker th {
    background-color: white;
}


/*==========  Non-Mobile First Method  ==========*/


/* Large Devices, Wide Screens (2000px) */

@media only screen and (max-width: 2000px) {
    .input_date {
        width: 60% !important;
    }
}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {
    #form_search_weather_graph .form-group:nth-child(1),
    #form_search_weather_table .form-group:nth-child(2) {
        width: 12pc;
    }
}

@media only screen and (max-width: 768px) {
    .input_date {
        width: 100% !important;
    }
    #form_search_weather_graph .form-group:nth-child(2),
    #form_search_weather_table .form-group:nth-child(2) {
        width: 100%;
    }
}