<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="featureTele200-title"></h4>
        </div>

        <div class="modal-body" id="featureTele200tab-info">
            <ul id="aboutTele200Tabs" class="nav nav-tabs">
                <li class="active"><a href="#featureTele200-WL" data-toggle="tab"><i class="glyphicon glyphicon-time"></i>&nbsp;ระดับน้ำ</a></li>
                <li><a href="#featureTele200-R" data-toggle="tab"><i class="glyphicon glyphicon-tint"></i>&nbsp;ปริมาณน้ำฝน</a></li>
                <li><a href="#featureTele200-A" data-toggle="tab"><i class="glyphicon glyphicon-dashboard"></i>&nbsp;คุณภาพอากาศ</a></li>
            </ul>
            <div id="aboutTele200TabsContent" class="tab-content" style="padding-top: 10px;">
                <div class="tab-pane fade active in" id="featureTele200-WL">

                </div>
                <div class="tab-pane fade" id="featureTele200-R">

                </div>
                <div class="tab-pane fade" id="featureTele200-A">

                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>