﻿html,
body,
#container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    padding-top: 50px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0;
}

#sidebar {
    display: block;
    width: 250px;
    height: 100%;
    max-width: 100%;
    float: left;
}

#map {
    width: auto;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#loading {
    position: absolute;
    width: 220px;
    height: 19px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -110px;
    z-index: 20001;
}

#features {
    margin: 0px;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#sidebar-hide-btn {
    margin-top: -2px;
}

#aboutTabsContent {
    padding-top: 10px;
}

.progress-bar-full {
    width: 100%;
}

.white {
    color: #FFFFFF;
}

.panel-heading {
    width: 250px;
}

.panel-body {
    width: 250px;
}

.feature-row {
    cursor: pointer;
    width: 250px;
}

.sidebar-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.sidebar-table {
    position: absolute;
    width: 100%;
    top: 103px;
    bottom: 0px;
    overflow: auto;
}

.leaflet-control-layers {
    overflow: auto;
}

.leaflet-control-layers label {
    font-weight: normal;
    margin-bottom: 0px;
}

.leaflet-control-layers-list input[type="radio"],
input[type="checkbox"] {
    margin: 2px;
}

.table {
    margin-bottom: 0px;
}

.navbar .navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
}

.navbar-collapse.in {
    overflow-y: hidden;
}

.navbar-header .navbar-icon-container {
    margin-right: 15px;
}

.navbar-header .navbar-icon {
    line-height: 50px;
    height: 50px;
}

.navbar-header a.navbar-icon {
    margin-left: 25px;
}

.typeahead {
    background-color: #FFFFFF;
}

.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 4px;
    padding: 4px 0;
    width: 100%;
    max-height: 300px;
    overflow: auto;
}

.tt-suggestion {
    font-size: 14px;
    line-height: 20px;
    padding: 3px 10px;
}

.tt-suggestion.tt-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
    cursor: pointer;
}

.tt-suggestion p {
    margin: 0;
}

.tt-suggestion+.tt-suggestion {
    border-top: 1px solid #ccc;
}

.typeahead-header {
    margin: 0 5px 5px 5px;
    padding: 3px 0;
    border-bottom: 2px solid #333;
}

.has-feedback .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}

@media (max-width: 992px) {
    .navbar .navbar-brand {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    #sidebar {
        display: none;
    }
    .url-break {
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    .dropdown-menu a i {
        color: #FFFFFF;
    }
}


/* Print Handling */

@media print {
    .navbar {
        display: none !important;
    }
    .leaflet-control-container {
        display: none !important;
    }
}

.select2-results__group {
    color: black!important;
    font-weight: bold!important;
    font-size: 15px!important;
    cursor: default!important;
    display: block!important;
    padding: 6px!important;
}

.select2-container--bootstrap .select2-results__option .select2-results__option {
    padding: 6px 12px 6px 20px!important;
}


/* svg shadow class*/

img[src*="rain.svg"],
img[src*="sunny.svg"],
img[src*="staff_gauge.png"] {
    -webkit-filter: drop-shadow( 4px 2px 2px #777);
    filter: drop-shadow( 4px 2px 2px #777);
}


/* == Modal FullScreen =========================== */

.modal-dialog.modal-fullscreen {
    position: fixed;
    /*//width:auto;  // uncomment to make the width based on the left/right attributes.*/
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100% !important;
}

.modal-dialog.modal-fullscreen .modal-content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 0px;
    border: solid 0px #00F;
}

.modal-dialog.modal-fullscreen .modal-content .modal-header {
    height: 55px;
    /* adjust as needed. */
}

.modal-dialog.modal-fullscreen .modal-content .modal-body {
    overflow-y: auto;
    position: absolute;
    border: 0px solid #f00;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 55px;
    /* .modal-header height */
    margin-bottom: 0px;
    /* .modal-footer height */
}

.modal-dialog.modal-fullscreen .modal-content .modal-footer {
    height: 80px;
    /* adjust as needed. */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn_modal {
    color: #000;
    opacity: 1;
    cursor: pointer;
    border: solid 0px;
    background: transparent;
    padding: 3px 4px;
    line-height: 1;
    margin: 0px;
    cursor: pointer;
}

.btn_modal:hover {
    color: #336699;
    background-color: #f1f1f1;
}

.btn_modal[data-fullscreen="1"] {
    color: #3366CC;
}

.btn_modal[data-maximize="1"] {
    color: #3366CC;
}


/* == End Modal FullScreen =========================== */

.btn-top-rank {
    border-radius: 5px;
    bottom: 10px;
    box-shadow: 1px 1px 4px #333;
    font-family: THSarabunNew;
    left: 10px;
    position: absolute;
    z-index: 500;
}

.btn-top-rank .btn-rainfall-rank {
    display: none;
}