html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  padding: 25px;
  font-family: "Open Sans", sans-serif;
  background: #2c539e;
  background: -moz-linear-gradient(-45deg, #2c539e 0%, #63967d 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #2c539e), color-stop(100%, #63967d));
  background: -webkit-linear-gradient(-45deg, #2c539e 0%, #63967d 100%);
  background: -o-linear-gradient(-45deg, #2c539e 0%, #63967d 100%);
  background: -ms-linear-gradient(-45deg, #2c539e 0%, #63967d 100%);
  background: linear-gradient(135deg, #2c539e 0%, #63967d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#63967d',GradientType=1 );
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1, h2 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 26px;
  font-weight: 100;
  margin-bottom: 20px;
}
h1 b, h2 b {
  font-weight: 600;
}
h1 small, h2 small {
  font-weight: 300;
  font-size: 15px;
  color: #262a2b;
}

h1 {
  margin-top: 0;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  line-height: 26px;
  color: rgba(255, 255, 255, 0.9);
}

code {
  color: #f2f23a;
}

#ball {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 50px auto;
  background: white;
}

#ball.red {
  -webkit-animation: powpow 0.75s ease forwards;
  -moz-animation: powpow 0.75s ease forwards;
  -o-animation: powpow 0.75s ease forwards;
  animation: powpow 0.75s ease forwards;
}

@-webkit-keyframes powpow {
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes powpow {
  0% {
    -moz-transform: scale(1);
  }
  25% {
    -moz-transform: scale(1.2);
  }
  50% {
    -moz-transform: scale(1);
  }
  75% {
    -moz-transform: scale(1.1);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-o-keyframes powpow {
  0% {
    -o-transform: scale(1);
  }
  25% {
    -o-transform: scale(1.2);
  }
  50% {
    -o-transform: scale(1);
  }
  75% {
    -o-transform: scale(1.1);
  }
  100% {
    -o-transform: scale(1);
  }
}
@keyframes powpow {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
#text {
  width: 80%;
  max-width: 640px;
  margin: 0 auto;
}

#svg-container {
  background: rgba(255, 255, 255, 0.1);
  width: 90%;
  max-width: 640px;
  margin: 0 auto;
  height: 120px;
  padding: 10px 0;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

#svgC {
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.btn {
  display: inline-block;
  text-decoration: none;
  position: relative;
  background: #5a89bd;
  border-radius: 5px;
  color: #fff;
  padding: 8px 16px;
  border: none;
  box-shadow: 0 3px 0px #304c6c;
  margin: 0 10px 20px 0;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.2s ease;
}

.btn:active {
  box-shadow: 0 0px 0px #304c6c;
  top: 3px;
}

button.disabled,
button[disabled],
button[disabled="disabled"] {
  opacity: 0.5;
  cursor: not-allowed;
}

button.disabled:active,
button[disabled]:active,
button[disabled="disabled"]:active {
  top: 0;
  border-bottom: 3px solid #304c6c;
}
