<link rel="stylesheet" href="asset/css/css_datepicker.css">
<link rel="stylesheet" href="js/layers/middledam/chartjs.css">

<style type="text/css">
    .input_date,
    .chosen-container-single {
        background-color: #F5FBFD;
        text-align: center;
    }

    input[type='hidden0'] {
        width: 60px;
    }

    #table_data2 thead {
        background-color: #F9F9F9;
    }

    #table_data2 thead th {
        text-align: center;
    }

    #table_data2 tbody {
        background: #FFF;
    }

    #table_data2 tbody tr:hover {
        background-color: #FFF793;
        cursor: pointer;
    }

    #table_data2 td.region {
        font-size: 16px !important;
        font-weight: bold;
        background-color: #FFFF99;
    }

    #table_data2 .tr_sum td {
        background-color: #CCFFCC;
        font-weight: bold;
    }

    #table_data2 .tr_min td {
        background-color: #CCFFCC;
    }

    #table_data2 .tr_sum_total td {
        background-color: #CCFFCC;
        font-weight: bold;
    }
    /*เมื่อหน้าจอกว้าง */

    @media (min-width: 992px) {
        .modal-lg {
            width: 1100px;
        }
    }
    /*เมื่อหน้าจอกว้าง */

    @media (min-width: 768px) {
        .input_date {
            width: 155px !important;
        }
    }
</style>


<input type="hidden" id="cprov_s" name="cprov_s" value="">
<input type="hidden" id="cresv_s" name="cresv_s" value="">


<input type="hidden" id="check_load_water" value="1">
<input type="hidden" id="check_load_table" value="0">
<input type="hidden" id="check_load_graph" value="0">

<input type="hidden" id="check_load_province" value="0">
<input type="hidden" id="check_load_rsvmiddle" value="0">




<div id="modal-middledam" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="featuretab-title"></h4>
        </div>

        <div class="modal-body" id="featuretab-info">
            <ul id="aboutTabs" class="nav nav-tabs">
                <li class="active"><a class="menu_tab" data-toggle="tab" href="#tab_water"><i class="glyphicon glyphicon-time"></i> สภาพน้ำ</a></li>
                <li><a class="menu_tab" data-toggle="tab" href="#tab_table"><i class="glyphicon glyphicon-list-alt"></i> ตาราง</a></li>
                <li><a class="menu_tab" data-toggle="tab" href="#tab_graph"><i class="glyphicon glyphicon-stats"></i> กราฟ</a></li>
            </ul>
            <div id="aboutTabsContent" class="tab-content" style="padding-top: 10px;">

                <div class="tab-pane fade active in" id="tab_water">


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-condensed" id="table_data1" width="80%">
                                    <tbody>
                                        <tr>
                                            <td class="text-center" colspan="2"><strong>ข้อมูลวันที่ <span id="show_date"></span></strong></td>
                                        </tr>
                                        <tr>
                                            <td>ความจุที่ รนส. (ล้าน ลบ.ม.)</td>
                                            <td><span id=""> - </span></td>
                                        </tr>
                                        <tr>
                                            <td width="50%">ความจุที่ รนก. (ล้าน ลบ.ม.)</td>
                                            <td width="50%"><span id="cap_resv"></span></td>
                                        </tr>
                                        <tr>
                                            <td>ความจุที่ รนต. (ล้าน ลบ.ม.)</td>
                                            <td><span id="low_qdisc"></span></td>
                                        </tr>
                                        <tr>
                                            <td>ปริมาตรน้ำใช้การทั้งหมด (ล้าน ลบ.ม.)</td>
                                            <td><span id="water_workable_all"></span></td>
                                        </tr>
                                        <tr>
                                            <td>ปริมาตรน้ำในอ่าง (ล้าน ลบ.ม.)</td>
                                            <td><span id="qdisc"></span> <span id="percent_rsv"></span></td>
                                        </tr>
                                        <tr>
                                            <td>ปริมาตรน้ำใช้การ (ล้าน ลบ.ม.)</td>
                                            <td><span id="water_workable"></span> <span id="percent_water_workable"></span></td>
                                        </tr>
                                        <tr>
                                            <td>ปริมาตรน้ำไหลเข้า (ล้าน ลบ.ม.)</td>
                                            <td><span id="q_info"></span></td>
                                        </tr>
                                        <tr>
                                            <td>ปริมาตรน้ำระบาย (ล้าน ลบ.ม.)</td>
                                            <td><span id="q_outfo"></span></td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>

                    <div class="row" style="padding-top:10px">
                        <div class="col-xs-2 col-lg-2 text-nowrap">
                            หมายเหตุ :
                        </div>
                        <div class="col-xs-10 col-lg-10" style="padding-left:0px">
                            รนส. หมายถึง ระดับน้ำสูงสุด<br> รนก. หมายถึง ระดับน้ำกักเก็บ<br> รนต. หมายถึง ระดับน้ำต่ำสุด
                        </div>
                    </div>

                </div>


                <div class="tab-pane fade" id="tab_table">


                    <form id="form_search_rsvmiddle_table" name="form_search_rsvmiddle_table">
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="form-inline" style="margin:5px 0 7px 0; text-align:center; ">

                                    <div class="form-group div_dropdown_province">
                                        <label>&nbsp;จังหวัด&nbsp;</label>
                                        <select id="cprov_table" name="cprov_table" data-placeholder="เลือกจังหวัด" class="chosen-select">
                                            <option value=""></option>                                        
                                        </select>
                                    </div>

                                    <div class="form-group div_dropdown_rsvmiddle">
                                        <label>&nbsp;อ่างฯ&nbsp;</label>
                                        <select id="cresv_table" name="cresv_table" data-placeholder="เลือกอ่างฯ" class="chosen-select">
                                        <option value=""></option>
                                    </select>
                                    </div>

                                    <div class="form-group">
                                        <label>&nbsp;ตั้ั้งแต่วันที่&nbsp;</label>
                                        <input class="form-control input_date" id="date_start_table" type="text" maxlength="10" value="" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <label>&nbsp;ถึง&nbsp;</label>
                                        <input class="form-control input_date" id="date_end_table" type="text" maxlength="10" value="" autocomplete="off">
                                    </div>
                                    <button id="btn_search_table" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> ค้นหา</button>
                                </div>

                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-lg-12">

                            <hr style="margin:10px; ">
                            <div align="center" style="margin:5px 0px 5px; ">
                                <div class="rsvmiddle_name"></div>
                                <div>
                                    <strong>ข้อมูลวันที่ </strong>
                                    <span class="show_date_start_table"></span>
                                    <strong>ถึง</strong>
                                    <span class="show_date_end_table"></span>
                                    <strong>หน่วย </strong> ล้านลบ.ม.
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table width="100%" align="center" class="table table-bordered" id="table_data2">
                                    <thead>
                                        <tr>
                                            <th width="3%" rowspan="2" nowrap="nowrap">ลำดับ</th>
                                            <th width="20%" rowspan="2" nowrap="nowrap">วันที่</th>
                                            <th width="9%" rowspan="2" nowrap="nowrap">ความจุ<br>รนก.<br>(ล้าน ลบ.ม.)</th>
                                            <th width="7%" rowspan="2" nowrap="nowrap">ปริมาณน้ำ<br>รนก. ต่ำสุด<br>(ล้าน ลบ.ม.)</th>
                                            <th colspan="2" nowrap="nowrap">ปริมาณน้ำในอ่างฯ</th>
                                            <th colspan="2" nowrap="nowrap">ปริมาณน้ำในอ่างฯ</th>
                                            <th width="7%" colspan="2" nowrap="nowrap">น้ำไหลลงอ่าง</th>
                                            <th width="6%" colspan="2" nowrap="nowrap">น้ำระบาย</th>
                                            <th width="7%" rowspan="2" nowrap="nowrap">ปริมาณน้ำ<br>ที่ใช้การได้</th>
                                        </tr>
                                        <tr>
                                            <th width="8%" nowrap="nowrap">ปี <span id="year_prev"></span></th>
                                            <th width="9%" nowrap="nowrap">%<br> รนก.
                                            </th>
                                            <th width="8%" nowrap="nowrap">ปัจจุบัน</th>
                                            <th width="9%" nowrap="nowrap">%<br>รนก.</th>
                                            <th nowrap="nowrap">ปริมาณ<br>น้ำ</th>
                                            <th nowrap="nowrap">สะสมตั้งแต่<br><span class="date_cumulative
            "></span></th>
                                            <th nowrap="nowrap">ปริมาณ<br>น้ำ</th>
                                            <th nowrap="nowrap">สะสมตั้งแต่<br><span class="date_cumulative
            "></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="right">1</td>
                                            <td>xxx</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td colspan="2">&nbsp;</td>
                                            <td colspan="2">&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>

                    <br>
                </div>



                <div class="tab-pane fade chart_body" id="tab_graph">


                    <form id="form_search_rsvmiddle_graph" name="form_search_rsvmiddle_graph" class="form-inline" style="margin:5px 0 7px 0; text-align:center; ">
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="form-group div_dropdown_province">
                                    <label>&nbsp;จังหวัด&nbsp;</label>
                                    <select id="cprov_graph" name="cprov_graph" data-placeholder="เลือกจังหวัด" class="chosen-select">
                                            <option value=""></option>                                        
                                        </select>
                                </div>

                                <div class="form-group div_dropdown_rsvmiddle">
                                    <label>&nbsp;อ่างฯ&nbsp;</label>
                                    <select id="cresv_graph" name="cresv_graph" data-placeholder="เลือกอ่างฯ" class="chosen-select">
                                        <option value=""></option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>ตั้งแต่วันที่&nbsp;</label>
                                    <input class="form-control input_date" id="date_start_graph" type="text" maxlength="10" value="" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label>&nbsp;ถึง&nbsp;</label>
                                    <input class="form-control input_date" id="date_end_graph" type="text" maxlength="10" value="" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <button id="btn_search_graph" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> ค้นหา</button>
                                </div>

                            </div>
                        </div>
                    </form>


                    <hr style="margin:10px; ">

                    <div align="center" style="margin:5px 0px 5px; ">
                        <div class="rsvmiddle_name"></div>
                        <div><strong>ข้อมูลวันที่ </strong> <span class="show_date_start_graph"></span> <strong>ถึง</strong>
                            <span class="show_date_end_graph"></span> <strong>หน่วย </strong> ล้านลบ.ม.</div>
                    </div>

                    <hr style="margin:10px; ">

                    <div class="row">
                        <div class="col-lg-12">
                            <div align="center">
                                <div id="legend" class="chart-legend text-center"></div>
                                <canvas id="chart1" width="500" height="220"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div align="center">
                                <div id="legend2" class="chart-legend text-center"></div>
                                <canvas id="chart2" width="500" height="100"></canvas>
                            </div>

                        </div>
                    </div>


                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<script type="text/javascript" src="libraries/bootstrap/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="libraries/bootstrap/js/bootstrap-datepicker.th.js"></script>
<script type="text/javascript" src="libraries/bootstrap/js/bootstrap-datepicker-thai.js"></script>
<script type="text/javascript" src="js/layers/middledam/formula_parser.js"></script>
<script type="text/javascript" src="js/layers/middledam/function_app.js"></script>
<script type="text/javascript" src="js/layers/middledam/chart_data.js"></script>

<script type="text/javascript">
    var base_url = "";
    if (window.location.origin === "http://www.ra.com:52") {
        base_url = "http://www.ra.com:52/reservoir/";
    } else {
        base_url = "http://app.rid.go.th:88/reservoir/";
    }

    $(function () {

        //------------------------------------------------------------------------------------------
        $('.input_date').datepicker({
            language: "th-th",
            autoclose: true,
        });

        //============================================================
        $("a[href='#tab_water']").click(function (e) {
            $('#modal-middledam').removeClass('modal-lg');
            if ($('#check_load_water').val() == 0) {
                tab_water();
                //--------------------------
                $('#check_load_water').val(1);
            }//check 
        });

        //============================================================
        $("a[href='#tab_table']").click(function (e) {
            $('#modal-middledam').removeClass('modal-lg').addClass('modal-lg');
            if ($('#check_load_province').val() == 0) {
                gen_dropdown_province();
                $('#check_load_province').val(1); //load province
            }
            if ($('#check_load_rsvmiddle').val() == 0) {
                gen_dropdown_rsvmiddle();
                $('#check_load_rsvmiddle').val(1); //load rsvmiddle
            }
            if ($('#check_load_table').val() == 0) {
                date_start_table = chg_date_en($('#date_start_table').val());
                date_end_table = chg_date_en($('#date_end_table').val());
                tab_table();
                //-----
                $('#check_load_table').val(1);
            }//check 
        });
        $("#btn_search_table").click(function (e) {
            e.preventDefault();
            console.clear();
            if ($("#cresv_table option:selected").val().length == 0) {
                alert('กรุณาเลือกอ่างฯ!');
            } else {
                date_start_table = chg_date_en($('#date_start_table').val());
                date_end_table = chg_date_en($('#date_end_table').val());
                //-------------------------------------------------------------------------------------------
                $("#show_rsvmiddle_name").html($("#cresv_table option:selected").text()); //modal title 
                //console.log($('#cresv_s').val()+' '+$("#cresv_table option:selected").val() );
                if ($('#cresv_s').val() != $("#cresv_table option:selected").val()) { //ถ้าเลือกอ่างใหม่ 
                    $("#cresv_s").val($("#cresv_table option:selected").val());
                    $("#check_load_water,#check_load_graph").val(0);
                }
                tab_table();
            }
        });
        //--- Dropdown tab table ---------
        $('#cprov_table').change(function () {
            console.log($(this).val());
            gen_dropdown_rsvmiddle($(this).val());
            $('#cprov_graph').val($(this).val()).trigger("chosen:updated");
        });
        $('#cresv_table').change(function () {
            console.log($(this).val());
            $('#cresv_graph').val($(this).val()).trigger("chosen:updated");
        });

        //============================================================
        $("a[href='#tab_graph']").click(function (e) {
            $('#modal-middledam').removeClass('modal-lg').addClass('modal-lg');
            if ($('#check_load_province').val() == 0) {
                gen_dropdown_province();
                $('#check_load_province').val(1); //load province
            }
            if ($('#check_load_rsvmiddle').val() == 0) {
                gen_dropdown_rsvmiddle();
                $('#check_load_rsvmiddle').val(1); //load rsvmiddle
            }
            if ($('#check_load_graph').val() == 0) {
                tab_graph();
                $('#check_load_graph').val(1);
            }
        });
        $("#btn_search_graph").click(function (e) {
            e.preventDefault();
            console.clear();
            if ($("#cresv_graph option:selected").val().length == 0) {
                alert('กรุณาเลือกอ่างฯ!');
            } else {
                //-------------------------------------------------------------------------------------------
                $("#show_rsvmiddle_name").html($("#cresv_graph option:selected").text()); //modal title 
                //console.log($('#cresv_s').val()+' '+$("#cresv_graph option:selected").val() );
                if ($('#cresv_s').val() != $("#cresv_graph option:selected").val()) { //ถ้าเลือกอ่างใหม่ 
                    $("#cresv_s").val($("#cresv_graph option:selected").val());
                    $("#check_load_water,#check_load_table").val(0);
                }
                tab_graph();
            }

        });
        //--- Dropdown tab graph ---------
        $('#cprov_graph').change(function () {
            console.log($(this).val());
            gen_dropdown_rsvmiddle($(this).val());
            $('#cprov_table').val($(this).val()).trigger("chosen:updated");
        });
        $('#cresv_graph').change(function () {
            console.log($(this).val());
            $('#cresv_table').val($(this).val()).trigger("chosen:updated");
        });






    }); //ready


    function tab_water() {
        //console.log('tab_water');
        block("#tab_water");
        $.get(base_url + "api/rsvmiddlesGeojson", { rsvmiddle: $('#cresv_s').val() })
            .done(function (data) {
                feature = data.features[0];
                $("#cap_resv").html(feature.properties.cap_resv);
                $("#low_qdisc").html(feature.properties.low_qdisc);
                var water_workable_all = parseFloat(feature.properties.cap_resv) - parseFloat(feature.properties.low_qdisc);
                var percent_water_workable = (parseFloat(feature.properties.water_workable) / water_workable_all) * 100;
                $("#water_workable_all").html(number_format_num(water_workable_all, 3));
                $("#qdisc").html(feature.properties.qdisc);
                $("#percent_rsv").html(' (' + feature.properties.percent_rsv + '%)');
                $("#water_workable").html(feature.properties.water_workable);
                $("#percent_water_workable").html(' (' + number_format_num(percent_water_workable, 3) + '%)');
                $("#q_info").html(feature.properties.q_info);
                $("#q_outfo").html(feature.properties.q_outfo);
                unblock("#tab_water");
            }, 'json');
    }

    function tab_table() {
        //---------------------------------------------------------------------------------------------
        $(".show_date_start_table").html(chg_date_thai(date_start_table));
        $(".show_date_end_table").html(chg_date_thai(date_end_table));

        block('#tab_table', 'กำลังโหลดข้อมูล...');
        $.ajax({
            method: "GET",
            url: base_url + "api/rsvmiddle",
            data: {
                date_start: date_start_table,
                date_end: date_end_table,
                rsvmiddle: $('#cresv_s').val()
            },
            dataType: "json"
        })
            .done(function (data) {
                if (data) {
                    $('#year_prev').html(data.reservoir_date.year_prev + 543);
                    $('.date_cumulative').html(chg_day_month(data.reservoir_date.start));

                    var table_data = $("#table_data2 tbody");
                    var row_data = '';
                    var i = 0;
                    var q_info_cumulative = 0, q_outfo_cumulative = 0;
                    table_data.html('');

                    if (data.reservoir_data.length == 0) {
                        row_data += '<tr><td colspan="13" align="center" class=""><br><strong>ไม่มีข้อมูล</strong><br><br> </td></tr>';
                    } else {
                        $.each(data.reservoir_data, function (index, value) {
                            i++;
                            q_info_cumulative += parseFloat(value.q_info);
                            q_outfo_cumulative += parseFloat(value.q_outfo);
                            if (i == 1) {
                                min_q_info_cumulative = q_info_cumulative;
                                min_q_outfo_cumulative = q_outfo_cumulative;
                            }
                            row_data += '<tr>';
                            row_data += '<td align="right">' + i + '</td>';
                            row_data += '<td nowrap>' + chg_date_thai(value.date) + '</td>';
                            row_data += '<td nowrap  align="right">' + value.cap_resv + '</td>';
                            row_data += '<td nowrap  align="right">' + value.low_qdisc + '</td>';
                            row_data += '<td nowrap  align="right">' + value.qdisc_prev + '</td>';
                            row_data += '<td nowrap  align="right">' + value.percent_resv_prev + '</td>';
                            row_data += '<td nowrap  align="right">' + value.qdisc_curr + '</td>';
                            row_data += '<td nowrap  align="right">' + value.percent_resv_curr + '</td>';
                            row_data += '<td nowrap  align="right">' + value.q_info + '</td>';
                            row_data += '<td nowrap  align="right">' + number_format_num(q_info_cumulative, 3) + '</td>';
                            row_data += '<td nowrap  align="right">' + value.q_outfo + '</td>';
                            row_data += '<td nowrap  align="right">' + number_format_num(q_outfo_cumulative, 3) + '</td>';
                            row_data += '<td nowrap  align="right">' + value.water_workable + '</td>';
                            row_data += '</tr>';

                        });

                        //รวมทั้งหมด --------------------------------------------------------------------------------------------
                        row_data += '<tr class="tr_sum">';
                        row_data += '<td colspan="2">รวมทั้งหมด</td>';
                        row_data += '<td align="right">' + data.sum.sum_cap_resv + '</td>';
                        row_data += '<td align="right">' + data.sum.sum_low_qdisc + '</td>';
                        row_data += '<td align="right">' + data.sum.sum_qdisc_prev + '</td>';
                        row_data += '<td align="right">' + data.sum.sum_percent_resv_prev + '</td>';
                        row_data += '<td align="right">' + data.sum.sum_qdisc_curr + '</td>';
                        row_data += '<td align="right">' + data.sum.sum_percent_resv_curr + '</td>';
                        row_data += '<td align="right">' + data.sum.sum_q_info + '</td>';
                        row_data += '<td align="right">' + number_format_num(q_info_cumulative, 3) + '</td>';
                        row_data += '<td align="right">' + data.sum.sum_q_outfo + '</td>';
                        row_data += '<td align="right">' + number_format_num(q_outfo_cumulative, 3) + '</td>';
                        row_data += '<td align="right">' + data.sum.sum_water_workable + '</td>';
                        row_data += '</tr>';

                        //สูงสุด
                        row_data += '<tr class="tr_max">';
                        row_data += '<td colspan="2">สูงสุด</td>';
                        row_data += '<td align="right">' + data.max.max_cap_resv + '</td>';
                        row_data += '<td align="right">' + data.max.max_low_qdisc + '</td>';
                        row_data += '<td align="right">' + data.max.max_qdisc_prev + '</td>';
                        row_data += '<td align="right">' + data.max.max_percent_resv_prev + '</td>';
                        row_data += '<td align="right">' + data.max.max_qdisc_curr + '</td>';
                        row_data += '<td align="right">' + data.max.max_percent_resv_curr + '</td>';
                        row_data += '<td align="right">' + data.max.max_q_info + '</td>';
                        row_data += '<td align="right">' + number_format_num(q_info_cumulative, 3) + '</td>';
                        row_data += '<td align="right">' + data.max.max_q_outfo + '</td>';
                        row_data += '<td align="right">' + number_format_num(q_outfo_cumulative, 3) + '</td>';
                        row_data += '<td align="right">' + data.max.max_water_workable + '</td>';
                        row_data += '</tr>';

                        //ต่ำสุด
                        row_data += '<tr class="tr_min">';
                        row_data += '<td colspan="2">ต่ำสุด</td>';
                        row_data += '<td align="right">' + data.min.min_cap_resv + '</td>';
                        row_data += '<td align="right">' + data.min.min_low_qdisc + '</td>';
                        row_data += '<td align="right">' + data.min.min_qdisc_prev + '</td>';
                        row_data += '<td align="right">' + data.min.min_percent_resv_prev + '</td>';
                        row_data += '<td align="right">' + data.min.min_qdisc_curr + '</td>';
                        row_data += '<td align="right">' + data.min.min_percent_resv_curr + '</td>';
                        row_data += '<td align="right">' + data.min.min_q_info + '</td>';
                        row_data += '<td align="right">' + number_format_num(min_q_info_cumulative, 3) + '</td>';
                        row_data += '<td align="right">' + data.min.min_q_outfo + '</td>';
                        row_data += '<td align="right">' + number_format_num(min_q_outfo_cumulative, 3) + '</td>';
                        row_data += '<td align="right">' + data.min.min_water_workable + '</td>';
                        row_data += '</tr>';
                    }

                    table_data.append(row_data);
                } //if data
            })
            .fail(function (jqXHR, textStatus, error) {
                alert("Error : " + jqXHR.status + ' ' + jqXHR.statusText + ' ' + jqXHR.responseText);
            })
            .always(function () {
                unblock('#tab_table');
            });
    }

    function tab_graph() {
        //console.warn(date+' | '+rsvmiddle);
        $(".show_date_start_graph").html(chg_date_thai($('#date_start_graph').val()));
        $(".show_date_end_graph").html(chg_date_thai($('#date_end_graph').val()));

        fnc_middleGraph(); //LoadGraph 	

    }

    function gen_dropdown_province() { //จังหวัด
        block(".div_dropdown_province");
        var tag_cprov = '';
        var tag_selected = '';
        $.ajax({
            method: "GET",
            url: base_url + "api/province",
            cache: true,
            dataType: "json"
        })
            .done(function (data) {
                $("#cprov_table,#cprov_graph").chosen('destroy');
                tag_cprov += '<option value=""></option>';
                $.each(data.province, function (index, value) {
                    if ($("#cprov_s").val() == value.cprov) {
                        tag_selected = 'selected';
                    } else {
                        tag_selected = '';
                    }
                    tag_cprov += '<option value="' + value.cprov + '" ' + tag_selected + '>' + value.tprov + '</option>';
                }, 'json');
                $("#cprov_table,#cprov_graph").html(tag_cprov);
                $("#cprov_table,#cprov_graph").chosen({ width: '180px' });
            })
            .fail(function (jqXHR, textStatus, error) {
                console.warn("Error : " + jqXHR.status + ' ' + jqXHR.statusText + ' ' + jqXHR.responseText);
            })
            .always(function () {
                unblock(".div_dropdown_province");
            });
    }

    function gen_dropdown_rsvmiddle(cprov) { //ชื่ออ่าง
        block(".div_dropdown_rsvmiddle");
        var tag_cresv = '';
        var tag_selected = '';
        $.ajax({
            method: "GET",
            url: base_url + "api/rsvmiddlename",
            data: { cprov: cprov },
            cache: true,
            dataType: "json"
        })
            .done(function (data) {
                $("#cresv_table,#cresv_graph").chosen('destroy');
                tag_cresv += '<option value=""></option>';
                $.each(data.rsvmiddlename, function (index, value) {
                    if ($("#cresv_s").val() == value.cresv) {
                        tag_selected = 'selected';
                    } else {
                        tag_selected = '';
                    }
                    tag_cresv += '<option value="' + value.cresv + '" ' + tag_selected + '>' + value.nresv + '</option>';
                }, 'json');
                $("#cresv_table,#cresv_graph").html(tag_cresv);
                $("#cresv_table,#cresv_graph").chosen({ width: '180px' });
            })
            .fail(function (jqXHR, textStatus, error) {
                console.warn("Error : " + jqXHR.status + ' ' + jqXHR.statusText + ' ' + jqXHR.responseText);
            })
            .always(function () {
                unblock(".div_dropdown_rsvmiddle");
            });
    }

</script>