  .info {
      padding: 6px 8px;
      font: 14px/16px 'THSarabunNew', Arial, Helvetica, sans-serif;
      line-height: 25px;
      background: white;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }
    
    .info h4 {
      margin: 0 0 5px;
      color: #777;
    }
    
    .legend {
      font-family: 'THSarabunNew';
      text-align: left;
      line-height: 18px;
      color: #555;
    }
    
    .legend i {
      width: 60px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
    }
    
    #water2_test {
      width: 50px;
      height: 50px;
      position: absolute;
      background-color: red;
    }
    
    #water1x {
      stroke: #000;
      stroke-width: 0.5px;
      stroke-dasharray: 870;
      stroke-dashoffset: 870;
      animation: draw 10s infinite linear;
    }
    
    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    }
    
    .st10,
    #water1,
    #water1_2,
    #water1-2,
    #water1_2_,
    #water2 {
      animation: animt_b 1.5s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    #water3_1 {
      animation: animt_b_2 2.5s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    #water3_2 {
      animation: animt_b_1 2.5s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    #water1_4 {
      animation: animt_b_1 0.7s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    #water2_old {
      animation: animt_b2 1.8s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    #water3 {
      animation: animt_b2_1 1.8s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    #water4,
    #water5 {
      animation: animt_b2_2 1.4s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    #water9x {
      animation: animt_b2 0.8s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    
    #water2_1,
    #water2_2,
    #water2_3,
    #water2_4,
    #water2_5,
    #water2_6,
    #water2_7,
    #water2_8,
    #water2_9,
    #water2_10 {
      animation: animt_b3 1s infinite linear;
      animation-direction: normal;
      transform-origin: 50% 50%;
    }
    /*#m2,#m4,#m6,#m8,#m10,#m12,#m14,#m16,#m18{
	
  animation: scale1  1.5s  linear ;
 animation-direction: normal;
  transform-origin: 50% 50%;
  
  
  
 
}


#m1,#m3,#m5,#m6,#m7,#m9,#m11,#m13,#m15,#m17,#m19,#m4_2{
	
  animation: scale1  1.5s  linear ;
 animation-direction: normal;
  transform-origin: 50% 50%;
  
  
  
 
}*/
    
    #water2x {
      animation: animationFrames 3s ease infinite;
      transform-origin: 100% 100%;
    }
    
    @keyframes animt_b {
      0% {
        opacity: 0;
        filter: alpha(opacity=0);
      }
      10% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translate(0px, 30px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    @keyframes animt_b_1 {
      0% {
        opacity: 0;
        filter: alpha(opacity=0);
      }
      10% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translate(0px, 60px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    @keyframes animt_b_2 {
      0% {
        opacity: 0;
        filter: alpha(opacity=0);
      }
      10% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translate(0px, -60px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    @keyframes animt_b_1_old {
      0% {
        transform: translate(0px);
        opacity: 0.1;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: translate(0px, 5px);
      }
    }
    
    @keyframes animt_b2 {
      0% {
        transform: translate(0px);
        opacity: 0.1;
      }
      10% {
        opacity: 1;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translateX(170px) translateY(0px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    @keyframes animt_b2_1 {
      0% {
        transform: translate(0px);
        opacity: 0.1;
      }
      10% {
        opacity: 1;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translateX(120px) translateY(0px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    @keyframes animt_b2_2 {
      0% {
        transform: translate(0px);
        opacity: 0.1;
      }
      10% {
        opacity: 1;
      }
      90% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translateX(25px) translateY(0px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    @keyframes animt_b3 {
      0% {
        opacity: 0;
        filter: alpha(opacity=0);
      }
      50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: translate(-1px, 0px);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
    
    @-moz-keyframes animationFrames {
      0% {
        -moz-transform: translate(10px);
      }
      100% {
        -moz-transform: translate(100px, 100px);
      }
    }
    
    @-webkit-keyframes animationFrames {
      0% {
        -webkit-transform: translate(10px);
      }
      100% {
        -webkit-transform: translate(100px, 100px);
      }
    }
    
    @-o-keyframes animationFrames {
      0% {
        -o-transform: translate(10px);
      }
      100% {
        -o-transform: translate(100px, 100px);
      }
    }
    
    @-ms-keyframes animationFrames {
      0% {
        -ms-transform: translate(10px);
      }
      100% {
        -ms-transform: translate(100px, 100px);
      }
    }
    
    @keyframes scale1 {
      0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
        filter: alpha(opacity=0);
      }
      50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
      100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }