<style type="text/css">
    .input_date {
        background-color: #F5FBFD;
        text-align: center;
    }

    #table_data2 thead {
        background-color: #F9F9F9;
    }

    #table_data2 thead th {
        text-align: center;
    }

    #table_data2 tbody {
        background: #FFF;
    }

    #table_data2 tbody tr:hover {
        background-color: #FFF793;
        cursor: pointer;
    }

    #table_data2 td.region {
        font-size: 16px !important;
        font-weight: bold;
        background-color: #FFFF99;
    }

    #table_data2 .tr_sum td {
        background-color: #CCFFCC;
        font-weight: bold;
    }

    #table_data2 .tr_min td {
        background-color: #CCFFCC;
    }

    #table_data2 .tr_sum_total td {
        background-color: #CCFFCC;
        font-weight: bold;
    }
    /*เมื่อหน้าจอกว้าง */

    @media (min-width: 1200px) {
        .modal-lg {
            width: 1100px;
        }
    }

    .btn:focus,
    .btn:active:focus,
    .btn.active:focus,
    .btn.focus,
    .btn:active.focus,
    .btn.active.focus {
        outline: none;
    }
    #rainfall_predic_tmd-slider {
        width: 90%;
        margin: auto;
    }
    #lightSlider {
        height:  auto!important;
    }
    #lightSlider ul {
        list-style: none outside none;
        padding-left: 0;
        margin-bottom:0;
    }
    #lightSlider li {
        display: block;
        float: left;
        margin-right: 6px;
        cursor:pointer;
    }
    #rainfall_predic_tmd-slider img {
        display: block;
        height: auto;
        width: 100%;
        max-width: 100%;
    }
</style>

<div class="modal-dialog rainfall_predict modal-lg">
    <div class="modal-content" id="rainfall_predict">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="featuretab-title"></h4>
        </div>

        <div class="modal-body" id="featuretab-info">
            <ul id="aboutTabs" class="nav nav-tabs">
                <li class="active"><a class="menu_tab" data-toggle="tab" href="#tmd_prdict"> ล่วงหน้า 10 วัน (กรมอุตุ)</a></li>
                <li><a class="menu_tab" data-toggle="tab" href="#nhc_predict"> ล่วงหน้า 7 วัน (สสนก.)</a></li>
            </ul>
            <div id="aboutTabsContent" class="tab-content" style="padding-top: 10px;">
                <div class="tab-pane fade active in" id="tmd_prdict">
                    <div class="row">
                        <div class="col-lg-12" style="text-align: center;">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <span style="font-size: 16px; line-height: 50px;">พยากรณ์ฝนรวม 24 ชั่วโมง 10 วันล่วงหน้า <strong>(ข้อมูลจาก กรมอุตุนิยมวิทยา)</strong></span>
                            </div>
                            <hr style="clear: both;">
                            <div id="rainfall_predic_tmd-slider">
                                <ul id="lightSlider">
                                    <li data-thumb="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs01.gif">
                                        <img src="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs01.gif" />
                                    </li>
                                    <li data-thumb="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs02.gif">
                                        <img src="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs02.gif" />
                                    </li>
                                    <li data-thumb="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs03.gif">
                                        <img src="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs03.gif" />
                                    </li>
                                    <li data-thumb="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs04.gif">
                                        <img src="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs04.gif" />
                                    </li>
                                    <li data-thumb="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs05.gif">
                                        <img src="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs05.gif" />
                                    </li>
                                    <li data-thumb="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs06.gif">
                                        <img src="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs06.gif" />
                                    </li>
                                    <li data-thumb="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs07.gif">
                                        <img src="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs07.gif" />
                                    </li>
                                    <li data-thumb="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs08.gif">
                                        <img src="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs08.gif" />
                                    </li>
                                    <li data-thumb="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs09.gif">
                                        <img src="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs09.gif" />
                                    </li>
                                    <li data-thumb="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs10.gif">
                                        <img src="http://www2.tmd.go.th/wrf_tmd/images/special_report/tot_24hr_7days/total24hrs10.gif" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nhc_predict">
                    <div class="row">
                        <div class="col-lg-12" style="text-align: center;">
                            <span style="font-size: 16px;">แผนภาพพยากรณ์ฝนล่วงหน้า 7 วัน <strong>(ข้อมูลจาก www.thaiwater.net)</strong></span>
                            <hr>
                            <div id="mapPredict" style="min-height: 100px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<script type="text/javascript">
    $(function () {
        $('#lightSlider').hide();
        setTimeout(function() {
            $('#lightSlider').lightSlider({
                gallery: true,
                item: 1,
                loop: false,
                slideMargin: 0,
                thumbItem: 9
            });
            $('#lightSlider').show();
        }, 1000);
    });
</script>