.leaflet-marker-pane .light {
    width: 200px!important;
    height: 200px!important;
    margin-top: -100px!important;
    margin-left: -100px!important;
    /*transform: translate(-50%, -50%);*/
    background: transparent!important;
    border: transparent!important;
}

.leaflet-marker-pane .light .glow {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    opacity: 0;
    background: -webkit-radial-gradient(rgba(254, 211, 0, 1), rgba(255, 223, 67, 0) 70%);
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

img:hover+.light.temporary .glow {
    width: 200px;
    height: 200px;
    opacity: 0.2;
    background: -webkit-radial-gradient(rgba(254, 211, 0, 1), rgba(255, 223, 67, 0) 70%);
    transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.leaflet-marker-pane .light .flare {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    opacity: 0;
    background: rgba(255, 223, 67, 0);
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

img:hover+.light.temporary .flare {
    width: 50px;
    height: 50px;
    opacity: 0.5;
    background: rgba(254, 211, 0, 1);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@-webkit-keyframes highlight1 {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0;
    }
    100% {
        width: 100px;
        height: 100px;
        opacity: 0.4;
    }
}

@-webkit-keyframes highlight {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0;
    }
    100% {
        width: 30px;
        height: 30px;
        opacity: 0.2;
    }
}

.permanent .glow {
    background: -webkit-radial-gradient(rgba(66, 186, 255, 1), rgba(255, 223, 67, 0) 70%)!important;
    -webkit-animation: highlight1 2s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.permanent .flare {
    background: rgba(66, 186, 255, 1) !important;
    -webkit-animation: highlight 2s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
}