@font-face {
    font-family: 'THNiramitAS';
    src: url('th_niramit_as_italic-webfont.eot');
    src: url('th_niramit_as_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('th_niramit_as_italic-webfont.woff') format('woff'),
         url('th_niramit_as_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'THNiramitAS';
    src: url('th_niramit_as_bold-webfont.eot');
    src: url('th_niramit_as_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('th_niramit_as_bold-webfont.woff') format('woff'),
         url('th_niramit_as_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'THNiramitAS';
    src: url('th_niramit_as_bold_italic-webfont.eot');
    src: url('th_niramit_as_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('th_niramit_as_bold_italic-webfont.woff') format('woff'),
         url('th_niramit_as_bold_italic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'THNiramitAS';
    src: url('th_niramit_as-webfont.eot');
    src: url('th_niramit_as-webfont.eot?#iefix') format('embedded-opentype'),
         url('th_niramit_as-webfont.woff') format('woff'),
         url('th_niramit_as-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.th_niramit_as{
   font-family: 'THNiramitAS', sans-serif;
}