<link rel="stylesheet" href="asset/css/css_datepicker.css">
<link rel="stylesheet" href="http://app.rid.go.th:88/reservoir/assets/css/chartjs/chartjs.css">
<style type="text/css">
    .input_date {
        background-color: #F5FBFD;
        text-align: center;
    }
    
    #table_data2 thead {
        background-color: #F9F9F9;
    }
    
    #table_data2 thead th {
        text-align: center;
    }
    
    #table_data2 tbody {
        background: #FFF;
    }
    
    #table_data2 tbody tr:hover {
        background-color: #FFF793;
        cursor: pointer;
    }
    
    #table_data2 td.region {
        font-size: 16px !important;
        font-weight: bold;
        background-color: #FFFF99;
    }
    
    #table_data2 .tr_sum td {
        background-color: #CCFFCC;
        font-weight: bold;
    }
    
    #table_data2 .tr_min td {
        background-color: #CCFFCC;
    }
    
    #table_data2 .tr_sum_total td {
        background-color: #CCFFCC;
        font-weight: bold;
    }
    /*เมื่อหน้าจอกว้าง */
    
    @media (min-width: 1200px) {
        .modal-lg {
            width: 1100px;
        }
    }
    
    .btn:focus,
    .btn:active:focus,
    .btn.active:focus,
    .btn.focus,
    .btn:active.focus,
    .btn.active.focus {
        outline: none;
    }
</style>

<div class="modal-dialog modal-md">
    <div class="modal-content" id="rainfall">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="featuretab-title"></h4>
        </div>

        <div class="modal-body" id="featuretab-info">
            <ul id="aboutTabs" class="nav nav-tabs">
                <li class="active"><a class="menu_tab" data-toggle="tab" href="#tab_rainfall"><i class="glyphicon glyphicon-time"></i> สภาพน้ำฝน</a></li>
                <li><a class="menu_tab" data-toggle="tab" href="#tab_station"><i class="glyphicon glyphicon-list-alt"></i> ข้อมูลสถานี</a></li>
                <li><a class="menu_tab" data-toggle="tab" href="#tab_table"><i class="glyphicon glyphicon-list-alt"></i> ตาราง</a></li>
                <li><a class="menu_tab" data-toggle="tab" href="#tab_graph"><i class="glyphicon glyphicon-stats"></i> กราฟ</a></li>
            </ul>
            <div id="aboutTabsContent" class="tab-content" style="padding-top: 10px;">
                <div class="tab-pane fade active in" id="tab_rainfall">
                    <div class="table-responsive">
                        <input id="rsvmiddle_val" type="hidden" value="">
                        <table class="table table-striped table-bordered table-condensed" id="table_data1" width="80%">
                            <tbody>
                                <tr>
                                    <td class="text-center" colspan="2"><strong>ข้อมูลวันที่ <span class="telestation_datetime"></span></strong></td>
                                </tr>
                                <tr>
                                    <td class="text-center" width="50%"><strong>รายงาน</strong></td>
                                    <td class="text-center" width="50%"><strong>มิลลิเมตร</strong></td>
                                </tr>
                                <tr>
                                    <td>ปริมาณน้ำฝนรายชั่วโมง</td>
                                    <td><span class="rainfall_1h"></span></td>
                                </tr>
                                <tr>
                                    <td>ปริมาณน้ำฝนสะสมวันนี้้</td>
                                    <td><span class="rainfall_today"></span></td>
                                </tr>
                                <tr>
                                    <td>ปริมาณน้ำฝนสะสม 24 ชั่วโมง</td>
                                    <td><span class="rainfall_24h"></span></td>
                                </tr>
                                <tr>
                                    <td>ปริมาณน้ำฝน เมื่อวาน</td>
                                    <td><span class="rainfall_yesterday"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab_station">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-condensed" id='table-rainfall' width="80%">
                            <tbody>
                                <tr>
                                    <td>ชื่อสถานี</td>
                                    <td><span class="telestation_name"></span></td>
                                </tr>
                                <tr>
                                    <td>จังหวัด</td>
                                    <td><span class="province_name"></span></td>
                                </tr>
                                <tr>
                                    <td>อำเภอ</td>
                                    <td><span class="amphoe_name"></span></td>
                                </tr>
                                <tr>
                                    <td>ตำบล</td>
                                    <td><span class="district_name"></span></td>
                                </tr>
                                <tr>
                                    <td>พิกัด</td>
                                    <td><span class="lat_long"></span></td>
                                </tr>
                                <tr>
                                    <td>รหัสสถานี</td>
                                    <td><span class="telestation_id"></span></td>
                                </tr>
                                <tr>
                                    <td>หน่วยงาน</td>
                                    <td><span class="anch"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab_table">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form class="form-inline" style="margin:5px 0 7px 0; text-align: right;">
                                <div class="form-group">
                                    <span><b>ฝนย้อนหลัง</b>&nbsp;&nbsp;</span>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn_dayAgo" value="1">1 วัน</button>
                                        <button type="button" class="btn btn-default btn_dayAgo" value="3">3 วัน</button>
                                        <button type="button" class="btn btn-default btn_dayAgo" value="5"> 5 วัน</button>
                                        <button type="button" class="btn btn-default btn_dayAgo" value="7">7 วัน</button>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary rainfall_calendar">
                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>                                        
                                    </button>

                            </form>
                        </div>
                    </div>
                    <div class="row rainfall_searchDuration" style="display: none;">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form id="form_search_rsvmiddle_graph" name="form_search_rsvmiddle_graph" class="form-inline" style="margin:5px 0 7px 0; text-align:center; ">
                                <div class="form-group">
                                    <label>ตั้งแต่วันที่ &nbsp;</label>
                                    <input class="form-control input_date" id="date_start" type="text" maxlength="10" value="" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label>&nbsp; ถึง &nbsp;</label>
                                    <input class="form-control input_date" id="date_end" type="text" maxlength="10" value="" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <button id="btn_search" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> ค้นหา</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row" id='content'>
                        <div class="col-lg-12">
                            <hr style="margin:10px; ">
                            <div align="center" style="margin:5px 0px 5px; ">
                                <div><strong>ข้อมูลวันที่</strong> <span id="date_start_text"></span> <strong>ถึง</strong>
                                    <span id="date_end_text"></span> <strong>หน่วย :</strong> มม.</div>
                            </div>
                            <div class="table-responsive">
                                <table width="100%" align="center" class="table table-bordered" id="table_data2">
                                    <thead>
                                        <tr>
                                            <th width="3%" rowspan="2" nowrap="nowrap">ลำดับ</th>
                                            <th width="15%" rowspan="2" nowrap="nowrap">วันที่</th>
                                            <th width="15%" rowspan="2" nowrap="nowrap">เวลา</th>
                                            <th colspan="3" nowrap="nowrap">ปริมาณน้ำฝน ( มม. )</th>
                                        </tr>
                                        <tr>
                                            <th width="22.33%" nowrap="nowrap">ฝนรายชั่วโมง</th>
                                            <!--<th width="22.33%" nowrap="nowrap">24 ชั่วโมง</th>-->
                                            <th width="22.33%" nowrap="nowrap">ฝนสะสมรายวัน</th>
                                            <th width="22.33%" nowrap="nowrap">ฝนสะสมทั้งหมด</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab_graph">
                    <input type="hidden" id="check_graph_first" value="0">
                    <div id="content">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <form class="form-inline" style="margin:5px 0 7px 0; text-align: right;">
                                    <div class="form-group">
                                        <span><b>ฝนย้อนหลัง</b>&nbsp;&nbsp;</span>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn_dayAgo" value="1">1 วัน</button>
                                            <button type="button" class="btn btn-default btn_dayAgo" value="3">3 วัน</button>
                                            <button type="button" class="btn btn-default btn_dayAgo" value="5"> 5 วัน</button>
                                            <button type="button" class="btn btn-default btn_dayAgo" value="7">7 วัน</button>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary rainfall_calendar">
                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>                                        
                                    </button>

                                </form>
                            </div>
                        </div>
                        <div class="row rainfall_searchDuration" style="display: none;">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <form id="form_search_rsvmiddle_graph" name="form_search_rsvmiddle_graph" class="form-inline" style="margin:5px 0 7px 0; text-align:center; ">
                                    <div class="form-group">
                                        <label>ตั้งแต่วันที่ &nbsp;</label>
                                        <input class="form-control input_date" id="date_start" type="text" maxlength="10" value="" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <label>&nbsp; ถึง &nbsp;</label>
                                        <input class="form-control input_date" id="date_end" type="text" maxlength="10" value="" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <button id="btn_search" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> ค้นหา</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr style="margin:10px; ">
                        <div align="center" style="margin:5px 0px 5px; ">
                            <div class="rsvmiddle_name"></div>
                            <div>
                                <strong>ข้อมูลวันที่</strong>
                                <span id="date_start_text"></span>
                                <strong>ถึง</strong>
                                <span id="date_end_text"></span>
                                <strong>หน่วย :</strong> มม.
                            </div>
                        </div>

                        <hr style="margin:10px;">
                        <div class="row">
                            <div class="col-lg-12">
                                <div align="center">
                                    <div id="legend" class="chart-legend text-center"></div>
                                    <canvas id="rainfall_chart_element" width="500" height="220"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<script type="text/javascript" src="libraries/bootstrap/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="libraries/bootstrap/js/bootstrap-datepicker.th.js"></script>
<script type="text/javascript" src="libraries/bootstrap/js/bootstrap-datepicker-thai.js"></script>

<script type="text/javascript">
    $(function () {
        $('.input_date').datepicker({
            language: "th-th",
            autoclose: true
        });
        // click day ago
        $('#rainfall .btn_dayAgo').click(function (e) {
            e.preventDefault();
            var num = parseInt(this.value);
            var start = moment().add((num * (-1)), 'days');
            var end = moment();
            observable.notify('rainfall_searchDuration', start, end);
        });
        // toggle tab btn_searchDuration
        $('#rainfall .rainfall_calendar').click(function (e) {
            e.preventDefault();
            $('#rainfall .rainfall_searchDuration').slideToggle('fast');
        });
        // when click search dateduration
        $('#tab_table #btn_search, #tab_graph #btn_search').click(function (e) {
            e.preventDefault();
            window.dt = $(e.target.parentNode.parentNode).find('#date_start');
            var start = moment($(e.target.parentNode.parentNode).find('#date_start').datepicker("getDate")).set('hour', 7).second(1);
            var end = moment($(e.target.parentNode.parentNode).find('#date_end').datepicker("getDate")).set('hour', 7);
            observable.notify('rainfall_searchDuration', start, end);
        });
    });

</script>