﻿@font-face
{
    font-family:THSarabunNew;
           src:url('THSarabunNew.eot');
           src:url('THSarabunNew.eot?#iefix')format('embedded-opentype'),url('THSarabunNew.ttf')format('truetype')
}

@font-face
{
    font-family:'THK2DJuly8';
           src:url('THK2DJuly8.eot');
           src:url('THK2DJuly8.eot?#iefix')format('embedded-opentype'),url('THK2DJuly8.ttf')format('truetype')
}
       
       
@font-face
{
    font-family:THSarabun;
           src:url('THSarabun.eot');
           src:url('THSarabun.eot?#iefix')format('embedded-opentype'),url('THSarabun.ttf')format('truetype')
}
       
       
@font-face
{
    font-family:THBaijam;
           src:url('THBaijam.eot');
           src:url('THBaijam.eot?#iefix')format('embedded-opentype'),url('THBaijam.ttf')format('truetype')
}
       
       
 @font-face
{
    font-family:THNiramitAS;
           src:url('THNiramitAS.eot');
           src:url('THNiramitAS.eot?#iefix')format('embedded-opentype'),url('THNiramitAS.ttf')format('truetype')
}
       
       
       
       
 @font-face
{
    font-family:THChakraPetch;
           src:url('THChakraPetch.eot');
           src:url('THChakraPetch.eot?#iefix')format('embedded-opentype'),url('THChakraPetch.ttf')format('truetype')
}
       
              
       
       
 @font-face
{
    font-family:THKrub;
           src:url('THKrub.eot');
           src:url('THKrub.eot?#iefix')format('embedded-opentype'),url('THKrub.ttf')format('truetype')
}
       
                
                
 @font-face
{
    font-family:THSARPSK;
           src:url('THSARPSK.eot');
           src:url('THSARPSK.eot?#iefix')format('embedded-opentype'),url('THSARPSK.ttf')format('truetype')
}
       
 @font-face
{
    font-family:THCharmofAU;
           src:url('THCharmofAU.eot');
           src:url('THCharmofAU.eot?#iefix')format('embedded-opentype'),url('THCharmofAU.ttf')format('truetype')
}      


 @font-face
{
    font-family:THKodchasal;
           src:url('THKodchasal.eot');
           src:url('THKodchasal.eot?#iefix')format('embedded-opentype'),url('THKodchasal.ttf')format('truetype')
}                       


@font-face 
{
	 font-family: 'THsarabunnew';
	 src:url('THsarabunnew/thsarabunnew-webfont.eot');
	 src:url('THsarabunnew/thsarabunnew-webfont.eot?iefix')format('eot'),url('THsarabunnew/thsarabunnew-webfont.woff')format('woff'),url('THsarabunnew/thsarabunnew-webfont.ttf')format('truetype');
	 font-weight: normal;
	 font-style: normal;
}   