<link rel="stylesheet" href="http://app.rid.go.th:88/reservoir/assets/css/chartjs/chartjs.css">
<style type="text/css">
    .input_date {
        background-color: #F5FBFD;
        text-align: center;
    }
    
    #table_data2 thead {
        background-color: #F9F9F9;
    }
    
    #table_data2 thead th {
        text-align: center;
    }
    
    #table_data2 tbody {
        background: #FFF;
    }
    
    #table_data2 tbody tr:hover {
        background-color: #FFF793;
        cursor: pointer;
    }
    
    #table_data2 td.region {
        font-size: 16px !important;
        font-weight: bold;
        background-color: #FFFF99;
    }
    
    #table_data2 .tr_sum td {
        background-color: #CCFFCC;
        font-weight: bold;
    }
    
    #table_data2 .tr_min td {
        background-color: #CCFFCC;
    }
    
    #table_data2 .tr_sum_total td {
        background-color: #CCFFCC;
        font-weight: bold;
    }

    /*เมื่อหน้าจอกว้าง */
    @media (min-width: 992px) {
        .modal-lg {
            width: 1100px;
        }
    }

    /*เมื่อหน้าจอกว้าง */    
    @media (min-width: 768px) {
        .input_date {
            width: 155px !important;
        }
    }
</style>

<div id="modal-middledam" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="featuretab-title"></h4>
        </div>

        <div class="modal-body" id="featuretab-info">
            <ul id="aboutTabs" class="nav nav-tabs">

				<li class="active"><a data-toggle="tab" href="#tab1"><i class="glyphicon glyphicon-time"> </i> ติดตามสถานการณ์น้ำ</a></li>
				
               
            </ul>
            <div id="detail" class="tab-content" style="padding-top: 10px;">


                <div class="tab-pane fade in active" id="tab1">
					<iframe id='detailwindows'src="" align='center'style="width: 100%; height: 400px; position: inherit; border: none " ></iframe>
						

                </div>


                <div class="tab-pane fade" id="tab2">

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-condensed" id="table_data2" width="80%">
                            <tbody id="body_bah">

                            </tbody>
                        </table>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<script type="text/javascript">
   

</script>