@font-face {
    font-family: 'THKrub';
    src: url('th_krub_bold_italic-webfont.eot');
    src: url('th_krub_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('th_krub_bold_italic-webfont.woff') format('woff'),
         url('th_krub_bold_italic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'THKrub';
    src: url('th_krub_bold-webfont.eot');
    src: url('th_krub_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('th_krub_bold-webfont.woff') format('woff'),
         url('th_krub_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'THKrub';
    src: url('th_krub_italic-webfont.eot');
    src: url('th_krub_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('th_krub_italic-webfont.woff') format('woff'),
         url('th_krub_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'THKrub';
    src: url('th_krub-webfont.eot');
    src: url('th_krub-webfont.eot?#iefix') format('embedded-opentype'),
         url('th_krub-webfont.woff') format('woff'),
         url('th_krub-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


.th_krub{
   font-family: 'THKrub', sans-serif;
}