<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="featuretab-title"></h4>
        </div>

        <div class="modal-body" id="featuretab-info">
            <ul id="aboutTabs" class="nav nav-tabs">
                <li class="active"><a href="#featuretab-report" data-toggle="tab"><i class="glyphicon glyphicon-time"></i>&nbsp;สภาพน้ำ</a></li>
                <li><a href="#featuretab-basicdata" data-toggle="tab"><i class="glyphicon glyphicon-cog"></i>&nbsp;ข้อมูลพื้นฐาน</a></li>
                <li><a href="#featuretab-table" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;ตาราง</a></li>
                <li><a href="#featuretab-graph" data-toggle="tab"><i class="glyphicon glyphicon-stats"></i>&nbsp;กราฟ</a></li>

            </ul>
            <div id="aboutTabsContent" class="tab-content" style="padding-top: 10px;">
                <div class="tab-pane fade active in" id="featuretab-report">

                </div>
                <div class="tab-pane fade" id="featuretab-basicdata">

                </div>
                <div class="tab-pane fade" id="featuretab-table">
                    <form class="form-inline" role="form" style="text-align:center; ">

                        <div class="form-group">
                        
                            <label for="datePickerStart">ตั้งแต่</label>
                            <div class="input-daterange input-group" id="datepickerRangeBigDam">
                                <input id="datePickerStartBigDam" type="text" class="input-sm form-control" name="start" size="12" />
                                <span class="input-group-addon">ถึง</span>
                                <input id="datePickerEndBigDam" type="text" class="input-sm form-control" name="end" size="12" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id="btShowTable"><i class="glyphicon glyphicon-search"></i> แสดง</button>
                    </form>

                    <div id="tableDivID" class="table-responsive">
                        <table id="jqGrid"></table>
                        <div id="jqGridPager"></div>
                    </div>
                
                </div>
                <div class="tab-pane fade" id="featuretab-graph">
                    <form class="form-inline" role="form" style="text-align:center; ">

                        <div class="form-group">

                            <label for="datePickerStart">ตั้งแต่</label>
                            <div class="input-daterange input-group" id="datepickerRangeBigDamChart">
                                <input id="datePickerStartBigDamChart" type="text" class="input-sm form-control" name="start" size="12" />
                                <span class="input-group-addon">ถึง</span>
                                <input id="datePickerEndBigDamChart" type="text" class="input-sm form-control" name="end" size="12" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id="btShowChart"><i class="glyphicon glyphicon-search"></i> แสดง</button>
                        <img id="loadingchart" src="js/layers/bigdam/preload.gif" width="30" />
                    </form>

                    <div style="width:100%;" id="divCanvas">
                        <!--<canvas id="canvas"></canvas>-->
                    </div>

                    <div id="chartcontainer">
                    <p class="no-bottom">
                        ปริมาตรน้ำเก็บกักสูงสุด <span id="QMaxChart"></span> ล้าน ลบ.ม.
                    </p>
                    <p class="no-bottom">

                        ปริมาตรน้ำเก็บกักปกติ <span id="QStoreChart"></span> ล้าน ลบ.ม.
                    </p>
                    <p class="no-bottom">
                        ปริมาตรน้ำเก็บกักต่ำสุด <span id="QUselessChart"></span> ล้าน ลบ.ม.
                    </p>
                        </div>
                
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<link rel="stylesheet" href="libraries/bootstrap-datepicker-th2/css/bootstrap-datepicker.css">
<link href="libraries/bootstrap-datepicker-th2/css/bootstrap-datepicker.css" rel="stylesheet" />
<script src="libraries/bootstrap-datepicker-th2/js/bootstrap-datepicker-custom.js"></script>
<script src="libraries/bootstrap-datepicker-th2/locales/bootstrap-datepicker.th.min.js" charset="UTF-8"></script>


    <!-- We support more than 40 localizations -->
<script type="text/ecmascript" src="libraries/Guriddo_jqGrid/js/trirand/i18n/grid.locale-th.js"></script>
<!-- This is the Javascript file of jqGrid -->
<script type="text/ecmascript" src="libraries/Guriddo_jqGrid/js/trirand/jquery.jqGrid.min.js"></script>

<!-- The link to the CSS that the grid needs -->
<link rel="stylesheet" type="text/css" media="screen" href="libraries/Guriddo_jqGrid/css/trirand/ui.jqgrid-bootstrap.css" />
<script language="javascript" type="text/javascript" src="Chart.bundle.min.js"></script>
<!--<script language="javascript" type="text/javascript" src="Chart/Chart.bundle.js"></script>-->


<!--<script src="assets/libs/bootstrap-datetimepicker-master/moment.js"></script>-->
<!--<script src="Scripts/moment.js"></script>-->
<script type="text/javascript">
    $(document).ready(function () {

        $('.input-daterange').datepicker({
            format: 'dd/mm/yyyy',
            // todayBtn: true,
            autoclose: true,
            language: 'th',
            thaiyear: true

        });

        $('#loadingchart').hide();
        $("#chartcontainer").hide();

        

        $("#btShowChart").click(function (e) {
            e.preventDefault();

            $("#loadingchart").show();
            //  alert(source.bigDam.bigDamID);
            createDamChartASHX(source.bigDam.bigDamID);
        });
        $("#btShowTable").click(function (e) {
            e.preventDefault();
          
           
          //  alert(source.bigDam.bigDamID);
            createDamGridASHX(source.bigDam.bigDamID);
        });
        function isFromBiggerThanTo(dtmfrom, dtmto) {
            return new Date(dtmfrom).getTime() >= new Date(dtmto).getTime();
        }

        function gd(year, month, day) {
            return new Date(year, month - 1, day);
        }

        function getAge(birthDate, now) {
            // var now = new Date();

            function isLeap(year) {
                return year % 4 == 0 && (year % 100 != 0 || year % 400 == 0);
            }

            // days since the birthdate    
            var days = Math.floor((now.getTime() - birthDate.getTime()) / 1000 / 60 / 60 / 24);
            var age = 0;
            // iterate the years
            for (var y = birthDate.getFullYear() ; y <= now.getFullYear() ; y++) {
                var daysInYear = isLeap(y) ? 366 : 365;
                if (days >= daysInYear) {
                    days -= daysInYear;
                    age++;
                    // increment the age only if there are available enough days for the year.
                }
            }
            return age;
        }

        function createDamGridASHX(damid) {
            var $grid = $("#jqGrid");

            var startDateString = $("#datePickerStartBigDam").val();
            var endDateString = $("#datePickerEndBigDam").val();
            moment.locale('en');
            var url = "";
            var yearnow = "";
            //   alert(selectDate + " - " + startDate + " - " + endDate);
            if (startDateString != null && endDateString != null && startDateString != "" && endDateString != "") {

                var timeFormat = 'MM/DD/YYYY';
                var startDateParts = startDateString.split("/");
                var datem1 = moment(startDateParts[1] + '/' + startDateParts[0] + '/' + startDateParts[2], timeFormat).add(-543, 'year');

                var endDateParts = endDateString.split("/");
                var datem2 = moment(endDateParts[1] + '/' + endDateParts[0] + '/' + endDateParts[2], timeFormat).add(-543, 'year');


                var startDate = datem1.format("YYYY-MM-DD");
                var endDate = datem2.format("YYYY-MM-DD");
                var date1 = new Date(startDate);
                var date2 = new Date(endDate);


                var diffYear = getAge(date1, date2);
                if (diffYear > 4) {

                   // $("#nfBetween5y").slideDown(200);
                    return false;

                }

                if (isFromBiggerThanTo(date1, date2)) {
                  // $("#nfSelectDate").slideDown(200);
                    return false;

                }

                url = "http://app.rid.go.th/webservice/getDamData.ashx?damid=" + damid + "&start=" + startDate + "&end=" + endDate;
                yearnow = new Date(Date.parse(endDate)).getFullYear() + 543;





                var startnow = new Date(Date.parse(startDate)).getFullYear() + 543;
                if (startnow > yearnow)
                    $grid.jqGrid('hideCol', ["QY1"]);
                else
                    $grid.jqGrid('showCol', ["QY1"]);


                if (startnow > (yearnow - 1))
                    $grid.jqGrid('hideCol', ["QY2"]);
                else
                    $grid.jqGrid('showCol', ["QY2"]);


                if (startnow > (yearnow - 2))
                    $grid.jqGrid('hideCol', ["QY3"]);
                else
                    $grid.jqGrid('showCol', ["QY3"]);

                if (startnow > (yearnow - 3))
                    $grid.jqGrid('hideCol', ["QY4"]);
                else
                    $grid.jqGrid('showCol', ["QY4"]);

                if (startnow > (yearnow - 4))
                    $grid.jqGrid('hideCol', ["QY5"]);
                else
                    $grid.jqGrid('showCol', ["QY5"]);
            }
            else {
                url = "http://app.rid.go.th/webservice/getDamData.ashx?damid=" + damid;
                yearnow = new Date().getFullYear() + 543;


                $grid.jqGrid('showCol', ["QY1"]);
                $grid.jqGrid('showCol', ["QY2"]);
                $grid.jqGrid('showCol', ["QY3"]);
                $grid.jqGrid('showCol', ["QY4"]);
                $grid.jqGrid('showCol', ["QY5"]);
            }


            $grid.jqGrid('setLabel', 'QY1', yearnow.toString());
            $grid.jqGrid('setLabel', 'QY2', (yearnow - 1).toString());
            $grid.jqGrid('setLabel', 'QY3', (yearnow - 2).toString());
            $grid.jqGrid('setLabel', 'QY4', (yearnow - 3).toString());
            $grid.jqGrid('setLabel', 'QY5', (yearnow - 4).toString());



            //alert(yearnow);
            //////////////////////////////////

            //$grid.jqGrid('setGridParam', { data: mydata1 });
            //$grid[0].refreshIndex();
            //$grid.trigger("reloadGrid");
            $grid.jqGrid('setGridParam', { datatype: 'json', page: 1, url: url }).trigger('reloadGrid');




            // alert(yearnow);
            $("#jqGrid").jqGrid({
                url: url,//"http://app.rid.go.th/webservice/getDamData.ashx?damid=" + damid,
                //  url: "http://app.rid.go.th/webservice/getDamData.ashx?damid=" + damid,
                mtype: "POST",
                responsive: true,
                datatype: "json",

                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    userdata: "userdata"
                },
                //rownumbers: true,
                gridview: true,
                viewrecords: true,

                // width: 780,
                autowidth: true,
                // shrinkToFit: true,
                height: 400,
                rowNum: 20,
                pager: "#jqGridPager",
                rowList: [10, 20, 50, 100, 400],
                loadComplete: function () {
                    //   $("#chartContainer").show();
                //    $("#tableContainer").show();
                //    $("#headTable").html($("#damgroup").select2('data')[0]['text']);


                    //  $("#jqGrid").setGridWidth($('#tableContainer').width() , true);
                },
                sortname: 'DayOfYear',
                sortorder: "asc",//"asc",
                // sortname: 'DamID',
                // sortorder: "desc",//"asc",
                //altclass: 'myAltRowClass',
                //altRows: true,
                // altclass: 'oddRow',

                //  altclass: 'myAltRowClass',
                 styleUI: 'Bootstrap',
                ////////////////////////////
                //colNames: [
                //   'วันที่', yearnow.toString(), (yearnow - 1).toString(), (yearnow - 2).toString(), (yearnow - 3).toString(), (yearnow-4).toString()
                //],
                colModel: [
                    { label: 'ลำดับ', name: 'DayOfYear', align: 'center', key: true, searchoptions: { sopt: ['eq', 'ne', 'cn'] }, width: 70 },
                    {
                        label: 'วันที่', name: 'DateString', searchoptions: { sopt: ['eq', 'ne', 'cn'] }

                        // width: 50 
                    }
                    ,
                    {
                        label: yearnow.toString(), name: 'QY1', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }

                    },
                    {
                        label: (yearnow - 1).toString(), name: 'QY2', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }

                    }
                    ,
                    {
                        label: (yearnow - 2).toString(), name: 'QY3', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }

                    }
                    ,
                    {
                        label: (yearnow - 3).toString(), name: 'QY4', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }

                    }
                     ,
                     {
                         label: (yearnow - 4).toString(), name: 'QY5', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }
                     }
                ]

            });


            $("#jqGrid").jqGrid("setLabel", "DayOfYear", "", { "text-align": "center" });
            $("#jqGrid").jqGrid("setLabel", "DateString", "", { "text-align": "center" });
            $("#jqGrid").jqGrid("setLabel", "QY1", "", { "text-align": "center" });
            $("#jqGrid").jqGrid("setLabel", "QY2", "", { "text-align": "center" });
            $("#jqGrid").jqGrid("setLabel", "QY3", "", { "text-align": "center" });
            $("#jqGrid").jqGrid("setLabel", "QY4", "", { "text-align": "center" });
            $("#jqGrid").jqGrid("setLabel", "QY5", "", { "text-align": "center" });


            $("#jqGrid").jqGrid('navGrid', '#jqGridPager', {
                edit: false,
                add: false,
                del: false,
                search: true//,
                //nav: {

                //    refreshtext: "Reload",
                //    refreshtitle: "Reload Grid"

                //}

            }
             , {}, {}, {},


                //{ search: true }
                { closeOnEscape: true, multipleSearch: true, closeAfterSearch: true } // search options
                , {} /* view parameters*/

            );

        }
        function createDamChartASHX(damid) {

            var checkSelectDate = false;
            var startDateString = $("#datePickerStartBigDamChart").val();
            var endDateString = $("#datePickerEndBigDamChart").val();
            moment.locale('en');
            var url = "";
            var yearnow = "";
            //   alert(selectDate + " - " + startDate + " - " + endDate);
            if (startDateString != null && endDateString != null && startDateString != "" && endDateString != "") {


            

                var timeFormat = 'MM/DD/YYYY';
                var startDateParts = startDateString.split("/");
                var datem1 = moment(startDateParts[1] + '/' + startDateParts[0] + '/' + startDateParts[2], timeFormat).add(-543, 'year');

                var endDateParts = endDateString.split("/");
                var datem2 = moment(endDateParts[1] + '/' + endDateParts[0] + '/' + endDateParts[2], timeFormat).add(-543, 'year');


                var startDate = datem1.format("YYYY-MM-DD");
                var endDate = datem2.format("YYYY-MM-DD");
                var date1 = new Date(startDate);
                var date2 = new Date(endDate);

                var diffYear = getAge(date1, date2);
                if (diffYear > 4) {

                 //   $("#nfBetween5y").slideDown(200);
                    return false;

                }
                if (isFromBiggerThanTo(date1, date2)) {
                   // $("#nfSelectDate").slideDown(200);
                    return false;

                }

                checkSelectDate = true;
            }
   


            url = "http://app.rid.go.th/Service.svc/getDamDataFromIDAllDate";


            
            //$("#loadingchart").ajaxStart(function () {
            //    $(this).show();
            //}).ajaxComplete(function () {
            //    $(this).hide();
            //});
            ///////////////////////////
            // Data to POST
            var WMSCService = new Object();

            WMSCService.sDamID = damid;
            // var dtmap = new Date();
            //  WMSCService.sDate = "2016-02-15"; //formatDateMap(dtmap);// // formatDateMap(d);//;
            WMSCService.sStartDate = startDate;
            WMSCService.sEndDate = endDate;
            WMSCService.SelectDate = checkSelectDate;
            //alert(damid);

            var DTO = { 'wmscsv': WMSCService };

            $.ajax({
                type: "POST",

                url: url,

                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(DTO),
                crossDomain: true,
                async: false,
                beforeSend: function () {
                    $('#loadingchart').show();
                },
                success: function (dm) {
           

                    if (dm.d) {
                      //  $("#divCanvas").html("");
                        $("#divCanvas").html("<canvas id='canvas'></canvas>");
                        $("#chartcontainer").show();

                        if (dm.d.length > 0) {
                     

                            if (checkSelectDate) {

                                var yearnow = new Date(Date.parse(endDate)).getFullYear() + 543;
                                var startnow = new Date(Date.parse(startDate)).getFullYear() + 543;

                           //     alert(startnow);
                                var data1 = [];
                                var data2 = [];
                                var data3 = [];
                                var data4 = [];
                                var data5 = [];

                                var dataQMAx = [];
                                var dataQStore = [];
                                var dataUseless = [];

                                var YYYY = 0;
                                var YYYY1 = 0;
                                var YYYY2 = 0;
                                var YYYY3 = 0;
                                var YYYY4 = 0;
                                var YYYY5 = 0;

                                var d1u = false;
                                var d2u = false;
                                var d3u = false;
                                var d4u = false;
                                var d5u = false;

                                var QMax = "";
                                var QStore = "";
                                var QUseless = "";


                                if (!(startnow > yearnow)) {
                                    d1u = true;

                                }


                                if (!(startnow > (yearnow - 1))) {
                                    d2u = true;

                                }


                                if (!(startnow > (yearnow - 2))) {
                                    d3u = true;
                                }

                                if (!(startnow > (yearnow - 3))) {
                                    d4u = true;
                                }

                                if (!(startnow > (yearnow - 4))) {
                                    d5u = true;
                                }


                              
                                //////////////////////////////////////
                                $.each(dm.d, function () {

                                    YYYY = this['YYYY'];
                                    YYYY1 = this['YYYY1'];
                                    YYYY2 = this['YYYY2'];
                                    YYYY3 = this['YYYY3'];
                                    YYYY4 = this['YYYY4'];
                                    YYYY5 = this['YYYY5'];


                                    var DayOfYear = this['DayOfYear'];
                                    var DD = this['DD'];
                                    var MM = this['MM'];


                                    var QY1 = this['QY1'];
                                    var QY2 = this['QY2'];
                                    var QY3 = this['QY3'];
                                    var QY4 = this['QY4'];
                                    var QY5 = this['QY5'];

                                    QMax = this['QMax'];
                                    QStore = this['QStore'];
                                    QUseless = this['QUseless'];

                              
                                    var dateC = moment(MM + '/' + DD + '/' + YYYY, timeFormat);
                                    
                                    if (d1u) {
                                        data1.push({
                                            x: dateC,
                                            y: QY1
                                        });



                                    }

                                    if (d2u) {
                                        data2.push({
                                            x: dateC,
                                            y: QY2
                                        });
                                    }

                                    if (d3u) {
                                        data3.push({
                                            x: dateC,
                                            y: QY3
                                        });
                                    }

                                    if (d4u) {
                                        data4.push({
                                            x: dateC,
                                            y: QY4
                                        });

                                    }
                                    if (d5u) {
                                        data5.push({
                                            x: dateC,
                                            y: QY5
                                        });
                                    }

                                    dataQMAx.push({
                                        x: dateC,
                                        y: QMax
                                    });
                                    dataQStore.push({
                                        x: dateC,
                                        y: QStore
                                    });
                                    dataUseless.push({
                                        x: dateC,
                                        y: QUseless
                                    });
                                    //dataQMAx.push([gd(YYYY, MM, DD), QMax]);
                                    //dataQStore.push([gd(YYYY, MM, DD), QStore]);
                                    //dataUseless.push([gd(YYYY, MM, DD), QUseless]);
                                });

                                var dataset = [];

                                if (d1u)
                                {

                                    var ds1 = {
                                        label: YYYY1 + 543,
                                        data: data1,
                                        borderColor: "#00E676",
                                        backgroundColor: "#00E676",
                                        pointBorderColor: "#00E676",
                                        pointBackgroundColor: "#00E676",

                                        fill: false,


                                        pointBorderWidth: 1,
                                        pointRadius: 1.5,
                                        pointHoverRadius: 3,
                                        lineTension: 0.1,

                                    };

                                    dataset.push(ds1);

                                }
                                if (d2u) {

                                    var ds2 = {
                                        label: YYYY2 + 543,
                                        data: data2,
                                        borderColor: "#D500F9",
                                        backgroundColor: "#D500F9",
                                        pointBorderColor: "#D500F9",
                                        pointBackgroundColor: "#D500F9",
                                        fill: false,

                                        pointBorderWidth: 1,
                                        pointRadius: 1.5,
                                        pointHoverRadius: 3,
                                        lineTension: 0.1,

                                    };

                                    dataset.push(ds2);

                                }
                                if (d3u) {

                                    var ds3 = {
                                        label: YYYY3 + 543,
                                        data: data3,
                                        borderColor: "#FFEB3B",
                                        backgroundColor: "#FFEB3B",
                                        pointBorderColor: "#FFEB3B",
                                        pointBackgroundColor: "#FFEB3B",
                                        fill: false,

                                        pointBorderWidth: 1,
                                        pointRadius: 1.5,
                                        pointHoverRadius: 3,
                                        lineTension: 0.1,

                                    };

                                    dataset.push(ds3);

                                }
                                if (d4u) {

                                    var ds4 = {
                                        label: YYYY4 + 543,
                                        data: data4,
                                        borderColor: "#2979FF",
                                        backgroundColor: "#2979FF",
                                        pointBorderColor: "#2979FF",
                                        pointBackgroundColor: "#2979FF",
                                        fill: false,

                                        pointBorderWidth: 1,
                                        pointRadius: 1.5,
                                        pointHoverRadius: 3,
                                        lineTension: 0.1,

                                    };

                                    dataset.push(ds4);

                                }
                                if (d5u) {

                                    var ds5 = {
                                        label: YYYY5 + 543,
                                        data: data5,
                                        borderColor: "#FF5722",
                                        backgroundColor: "#FF5722",
                                        pointBorderColor: "#FF5722",
                                        pointBackgroundColor: "#FF5722",
                                        fill: false,

                                        pointBorderWidth: 1,
                                        pointRadius: 1.5,
                                        pointHoverRadius: 3,
                                        lineTension: 0.1,

                                    };

                                    dataset.push(ds5);

                                }

                                var qmax = {
                                    label: "QMax",
                                    data: dataQMAx,
                                    borderColor: "#18FFFF",
                                    backgroundColor: "#18FFFF",
                                    pointBorderColor: "#18FFFF",
                                    pointBackgroundColor: "#18FFFF",
                                    fill: false,

                                    pointBorderWidth: 1,
                                    pointRadius: 1.5,
                                    pointHoverRadius: 3,
                                    lineTension: 0.1,

                                };
                                var qstore = {
                                    label: "QStore",
                                    data: dataQStore,
                                    borderColor: "#795548",
                                    backgroundColor: "#795548",
                                    pointBorderColor: "#795548",
                                    pointBackgroundColor: "#795548",
                                    fill: false,

                                    pointBorderWidth: 1,
                                    pointRadius: 1.5,
                                    pointHoverRadius: 3,
                                    lineTension: 0.1,

                                };

                                var quseless = {
                                    label: "QUseless",
                                    data: dataUseless,
                                    borderColor: "#FF9800",
                                    backgroundColor: "#FF9800",
                                    pointBorderColor: "#FF9800",
                                    pointBackgroundColor: "#FF9800",
                                    fill: false,

                                    pointBorderWidth: 1,
                                    pointRadius: 1.5,
                                    pointHoverRadius: 3,
                                    lineTension: 0.1,

                                };
                                dataset.push(qmax);
                                dataset.push(qstore);
                                dataset.push(quseless);

                                $("#QMaxChart").html(QMax);
                                $("#QStoreChart").html(QStore);
                                $("#QUselessChart").html(QUseless);
                                //////////////////////////////////////
                                var ctx = document.getElementById("canvas");
                          

                                var config = {
                                    type: 'line',
                                    data: {
                                        labels: $("#featuretab-title").val(),
                                        datasets: dataset
                                    },
                                    options: {
                                        responsive: true,
                                        title: {
                                            display: true,
                                            text: ''
                                        },
                                        hover: {
                                            mode: 'dataset'
                                        },
                                        scales: {
                                            xAxes: [{
                                                type: 'time',
                                                position: 'bottom',
                                                display: true,
                                                //gridLines: {
                                                //    color: ['black', 'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
                                                //},
                                                scaleLabel: {
                                                    display: true,
                                                    labelString: ''
                                                }
                          ,
                                                time: {
                                                    //     unit: 'day',
                                                  //   format: monthThaiFormat
                                                    displayFormats: {
                                                        'millisecond': 'MMM',
                                                        'second': 'MMM',
                                                        'minute': 'MMM',
                                                        'hour': 'MMM',
                                                        'day': 'MMM',
                                                        'week': 'MMM',
                                                        'month': 'MMM',
                                                        'quarter': 'MMM',
                                                        'year': 'MMM'
                                                    },
                                                    unit: 'month'
                                                  //  ,
                                                  //  min: startDateString($("#datePickerCurrent").val()),
                                                  //  max: endDateString($("#datePickerCurrent").val())
                                                }
                                            }],
                                            yAxes: [{
                                                display: true,
                                                scaleLabel: {
                                                    display: true,
                                                    labelString: 'ปริมาตรน้ำในอ่าง (ล้าน ลบ.ม.)'
                                                }
                                                //,
                                                //ticks: {
                                                //    suggestedMin: -10,
                                                //    suggestedMax: 250,
                                                //}
                                            }]

                                        }
                                    }
                                };


                                 new Chart(ctx, config);
                        

                      
                                ////////////////////////////////////////
                            }

                            else {
                                var data1 = [];
                                var data2 = [];
                                var data3 = [];
                                var data4 = [];
                                var data5 = [];


                                var dataQMAx = [];
                                var dataQStore = [];
                                var dataUseless = [];

                                var YYYY = 0;
                                var YYYY1 = 0;
                                var YYYY2 = 0;
                                var YYYY3 = 0;
                                var YYYY4 = 0;
                                var YYYY5 = 0;

                                var QMax = "";
                                var QStore = "";
                                var QUseless = "";

                                $.each(dm.d, function () {


                                    YYYY = this['YYYY'];
                                    YYYY1 = this['YYYY1'];
                                    YYYY2 = this['YYYY2'];
                                    YYYY3 = this['YYYY3'];
                                    YYYY4 = this['YYYY4'];
                                    YYYY5 = this['YYYY5'];


                                    var DayOfYear = this['DayOfYear'];
                                    var DD = this['DD'];
                                    var MM = this['MM'];


                                    var QY1 = this['QY1'];
                                    var QY2 = this['QY2'];
                                    var QY3 = this['QY3'];
                                    var QY4 = this['QY4'];
                                    var QY5 = this['QY5'];

                                    QMax = this['QMax'];
                                    QStore = this['QStore'];
                                    QUseless = this['QUseless'];

                     

                             
                                
                                var dateC = moment(MM + '/' + DD + '/' + YYYY, timeFormat);
                                    
                               
                                    data1.push({
                                        x: dateC,
                                        y: QY1
                                    });



                              

                              
                                    data2.push({
                                        x: dateC,
                                        y: QY2
                                    });
                              

                                
                                    data3.push({
                                        x: dateC,
                                        y: QY3
                                    });
                              

                             
                                    data4.push({
                                        x: dateC,
                                        y: QY4
                                    });

                              
                               
                                    data5.push({
                                        x: dateC,
                                        y: QY5
                                    });
                                

                                dataQMAx.push({
                                    x: dateC,
                                    y: QMax
                                });
                                dataQStore.push({
                                    x: dateC,
                                    y: QStore
                                });
                                dataUseless.push({
                                    x: dateC,
                                    y: QUseless
                                });
                                //dataQMAx.push([gd(YYYY, MM, DD), QMax]);
                                //dataQStore.push([gd(YYYY, MM, DD), QStore]);
                                //dataUseless.push([gd(YYYY, MM, DD), QUseless]);
                            });

                            var dataset = [];

                      

                                var ds1 = {
                                    label: YYYY1 + 543,
                                    data: data1,
                                    borderColor: "#00E676",
                                    backgroundColor: "#00E676",
                                    pointBorderColor: "#00E676",
                                    pointBackgroundColor: "#00E676",

                                    fill: false,

                                    pointBorderWidth: 1,
                                    pointRadius: 1.5,
                                    pointHoverRadius: 3,
                                    lineTension: 0.1,
                                };

                                dataset.push(ds1);


                                var ds2 = {
                                    label: YYYY2 + 543,
                                    data: data2,
                                    borderColor: "#D500F9",
                                    backgroundColor: "#D500F9",
                                    pointBorderColor: "#D500F9",
                                    pointBackgroundColor: "#D500F9",
                                    fill: false,

                                    pointBorderWidth: 1,
                                    pointRadius: 1.5,
                                    pointHoverRadius: 3,
                                    lineTension: 0.1,

                                };

                                dataset.push(ds2);

                     

                                var ds3 = {
                                    label: YYYY3 + 543,
                                    data: data3,
                                    borderColor: "#FFEB3B",
                                    backgroundColor: "#FFEB3B",
                                    pointBorderColor: "#FFEB3B",
                                    pointBackgroundColor: "#FFEB3B",
                                    fill: false,

                                    pointBorderWidth: 1,
                                    pointRadius: 1.5,
                                    pointHoverRadius: 3,
                                    lineTension: 0.1,

                                };

                                dataset.push(ds3);

                    

                                var ds4 = {
                                    label: YYYY4 + 543,
                                    data: data4,
                                    borderColor: "#2979FF",
                                    backgroundColor: "#2979FF",
                                    pointBorderColor: "#2979FF",
                                    pointBackgroundColor: "#2979FF",
                                    fill: false,

                                    pointBorderWidth: 1,
                                    pointRadius: 1.5,
                                    pointHoverRadius: 3,
                                    lineTension: 0.1,

                                };

                                dataset.push(ds4);

                     

                                var ds5 = {
                                    label: YYYY5 + 543,
                                    data: data5,
                                    borderColor: "#FF5722",
                                    backgroundColor: "#FF5722",
                                    pointBorderColor: "#FF5722",
                                    pointBackgroundColor: "#FF5722",
                                    fill: false,

                                    pointBorderWidth: 1,
                                    pointRadius: 1.5,
                                    pointHoverRadius: 3,
                                    lineTension: 0.1,

                                };

                                dataset.push(ds5);

                       

                            var qmax = {
                                label: "QMax",
                                data: dataQMAx,
                                borderColor: "#18FFFF",
                                backgroundColor: "#18FFFF",
                                pointBorderColor: "#18FFFF",
                                pointBackgroundColor: "#18FFFF",
                                fill: false,

                                pointBorderWidth: 1,
                                pointRadius: 1.5,
                                pointHoverRadius: 3,
                                lineTension: 0.1,

                            };
                            var qstore = {
                                label: "QStore",
                                data: dataQStore,
                                borderColor: "#795548",
                                backgroundColor: "#795548",
                                pointBorderColor: "#795548",
                                pointBackgroundColor: "#795548",
                                fill: false,

                                pointBorderWidth: 1,
                                pointRadius: 1.5,
                                pointHoverRadius: 3,
                                lineTension: 0.1,

                            };

                            var quseless = {
                                label: "QUseless",
                                data: dataUseless,
                                borderColor: "#FF9800",
                                backgroundColor: "#FF9800",
                                pointBorderColor: "#FF9800",
                                pointBackgroundColor: "#FF9800",
                                fill: false,

                                pointBorderWidth: 1,
                                pointRadius: 1.5,
                                pointHoverRadius: 3,
                                lineTension: 0.1,

                            };
                            dataset.push(qmax);
                            dataset.push(qstore);
                            dataset.push(quseless);

                            $("#QMaxChart").html(QMax);
                            $("#QStoreChart").html(QStore);
                            $("#QUselessChart").html(QUseless);
                            //////////////////////////////////////
                            var ctx = document.getElementById("canvas");
                          

                            var config = {
                                type: 'line',
                                data: {
                                    labels: $("#featuretab-title").val(),
                                    datasets: dataset
                                },
                                options: {
                                    responsive: true,
                                    title: {
                                        display: true,
                                        text: ''
                                    },
                                    hover: {
                                        mode: 'dataset'
                                    },
                                    scales: {
                                        xAxes: [{
                                            type: 'time',
                                            position: 'bottom',
                                            display: true,
                                            //gridLines: {
                                            //    color: ['black', 'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
                                            //},
                                            scaleLabel: {
                                                display: true,
                                                labelString: ''
                                            }
                      ,
                                            time: {
                                                //     unit: 'day',
                                                //   format: monthThaiFormat
                                                displayFormats: {
                                                    'millisecond': 'MMM',
                                                    'second': 'MMM',
                                                    'minute': 'MMM',
                                                    'hour': 'MMM',
                                                    'day': 'MMM',
                                                    'week': 'MMM',
                                                    'month': 'MMM',
                                                    'quarter': 'MMM',
                                                    'year': 'MMM'
                                                },
                                                unit: 'month'
                                                //  ,
                                                //  min: startDateString($("#datePickerCurrent").val()),
                                                //  max: endDateString($("#datePickerCurrent").val())
                                            }
                                        }],
                                        yAxes: [{
                                            display: true,
                                            scaleLabel: {
                                                display: true,
                                                labelString: 'ปริมาตรน้ำในอ่าง (ล้าน ลบ.ม.)'
                                            }
                                            //,
                                            //ticks: {
                                            //    suggestedMin: -10,
                                            //    suggestedMax: 250,
                                            //}
                                        }]

                                    }
                                }
                            };


                           new Chart(ctx, config);
                        


                            }

                            //////////////////////////////
                        }
                    }

                },
                complete: function () {
                    //unblock('#featuretab-graph');
                    $('#loadingchart').hide();
                },
                error: function (xhr, status, error) {
                    //unblock('#featuretab-graph');
                    alert("An error has occurred during processing: " + error);
                }

            });

        }//function


        //function monthThaiFormat(v)
        //{
        //    //alert(v);
        //      var monthNames = ["ม.ค.", "ก.พ.", "มี.ค.", "เม.ย.", "พ.ค.", "มิ.ย.", "ก.ค.", "ส.ค.", "ก.ย.", "ต.ค.", "พ.ย.", "ธ.ค."];
        //      return "ม.ค.";
        //}
        //last code
        //////////////////////////
    });
</script>