<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="featuretab-title"></h4>
        </div>

        <div class="modal-body" id="featuretab-info">
            <ul id="aboutTabs" class="nav nav-tabs">
                <li class="active"><a href="#featuretab-report" data-toggle="tab"><i class="glyphicon glyphicon-time"></i>&nbsp;สภาพน้ำ</a></li>
                <!--<li><a href="#featuretab-basicdata" data-toggle="tab"><i class="glyphicon glyphicon-cog"></i>&nbsp;ข้อมูลพื้นฐาน</a></li>
                <li><a href="#featuretab-table" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;ตาราง</a></li>
                <li><a href="#featuretab-graph" data-toggle="tab"><i class="glyphicon glyphicon-stats"></i>&nbsp;กราฟ</a></li>-->

            </ul>
            <div id="aboutTabsContent" class="tab-content" style="padding-top: 10px;">
                <div class="tab-pane fade active in" id="featuretab-report">

                </div>
              
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
