
<style>
    th.ui-th-column div {
        word-wrap: break-word; /* IE 5.5+ and CSS3 */
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        overflow: hidden;
        height: auto !important;
        vertical-align: middle;
    }

    th {
        text-align: center;
    }
</style>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="featuretab-title"></h4>
        </div>

        <div class="modal-body" id="featuretab-info">



            <ul class="nav nav-tabs">
                <li class="active"><a href="#featuretab-tablecurrent" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;ข้อมูลปัจจุบัน</a></li>
                <li><a href="#featuretab-tablecompare" data-toggle="tab"><i class="glyphicon glyphicon-stats"></i>&nbsp;ข้อมูลเปรียบเทียบ</a></li>


            </ul>
            <div  class="tab-content" style="padding-top: 10px;">
                <div class="tab-pane fade active in" id="featuretab-tablecurrent">
                  

                    <form class="form-inline" role="form" style="text-align:center; ">
                        <div class="form-group">

                            <label for="dlSeason">ฤดู</label>

                            <select id="dlSeason" class="form-control">
                                <option value="1">ฤดูฝน</option>
                                <option value="3">ฤดูแล้ง</option>
                            </select>

                            <label for="dlWeek">สัปดาห์เพาะปลูก</label>
                            <select id="dlWeek" class="form-control"></select>
                            <label for="inputYear">ปีเพาะปลูก(พ.ศ.)</label>
                            <select id="dlYear" class="form-control"></select>

                        </div>
                    </form>

                    <br/>
                    <ul  class="nav nav-tabs">
                        <li class="active"><a href="#featuretab-province" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;รายจังหวัด</a></li>
                        <li><a href="#featuretab-rio" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;รายสำนัก</a></li>
                        <li><a href="#featuretab-project" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;รายโครงการ</a></li>
                        <li><a href="#featuretab-basin" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;รายลุ่มน้ำ</a></li>


                    </ul>
                    <div class="tab-content" style="padding-top: 10px;">
                        <div class="tab-pane fade active in" id="featuretab-province">
                            <button type="button" class="btn btn-primary" id="btShowProvinceTable"> แสดงรายจังหวัด </button>
                        </div>
                        <div class="tab-pane fade" id="featuretab-rio">

                            <button type="button" class="btn btn-primary" id="btShowRIOTable"> แสดงรายสำนัก </button>
                        </div>
                        <div class="tab-pane fade" id="featuretab-project">
                            <form class="form-inline" role="form">
                                <div class="form-group">

                                    <button type="button" class="btn btn-primary" id="btShowProjectTable"> แสดงรายโครงการ </button>
                                </div>
                            </form>
                  
                            <!--<h5 style="text-align:center; ">ฤดู</h5>-->



                        </div>
                        <div class="tab-pane fade" id="featuretab-basin">

                            <label for="dlBasin">ลุ่มน้ำ</label>
                            <select id="dlBasin" class="form-control"></select>
                            <button type="button" class="btn btn-primary" id="btShowBasinTable"> แสดงรายลุ่มน้ำ </button>
                        </div>





                    </div>
         
                </div>
                <div class="tab-pane fade" id="featuretab-tablecompare">

                    <form class="form-inline" role="form" style="text-align:center; ">
                        <div class="form-group">

                            <label for="dlCompareSeason">ฤดู</label>

                            <select id="dlCompareSeason" class="form-control">
                                <option value="1">ฤดูฝน</option>
                                <option value="3">ฤดูแล้ง</option>
                            </select>

                            <label for="inputStartYear">เริ่มปีเพาะปลูก(พ.ศ.)</label>
                            <select id="dlStartYear" class="form-control"></select>

                            <label for="inputEndYear">สิ้นสุดปีเพาะปลูก(พ.ศ.)</label>
                            <select id="dlEndYear" class="form-control"></select>

                        </div>
                    </form>

                    <br />

                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#featuretab-compareprovince" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;ตารางรายจังหวัด</a></li>
                        <li><a href="#featuretab-comparerio" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;ตารางรายสำนัก</a></li>
                        <li><a href="#featuretab-comparechart" data-toggle="tab"><i class="glyphicon glyphicon-stats"></i>&nbsp;กราฟ</a></li>
                        


                    </ul>
                    <div class="tab-content" style="padding-top: 10px;">
                        <div class="tab-pane fade active in" id="featuretab-compareprovince">
                            <button type="button" class="btn btn-primary" id="btShowCompareProvinceTable"> แสดงรายจังหวัด </button>

                        </div>
                        <div class="tab-pane fade" id="featuretab-comparerio">

                            <button type="button" class="btn btn-primary" id="btShowCompareRIOTable"> แสดงรายสำนัก </button>

                        </div>
                        <div class="tab-pane fade" id="featuretab-comparechart">

                      
                        </div>
                 
                    </div>
                </div>


                <h5 style="text-align:center; " id="titleTable"></h5>
                <h5 style="text-align:center; " id="titleTable2"></h5>

                <div id="tableDivID" class="table-responsive">
                    <table id="jqGrid"></table>
                    <div id="jqGridPager"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<link rel="stylesheet" href="libraries/bootsttap-multiselect/css/bootstrap-multiselect.css" type="text/css" />
<script type="text/javascript" src="libraries/bootsttap-multiselect/js/bootstrap-multiselect.js"></script>


<link rel="stylesheet" href="libraries/bootstrap-datepicker-th2/css/bootstrap-datepicker.css">
<link href="libraries/bootstrap-datepicker-th2/css/bootstrap-datepicker.css" rel="stylesheet" />
<script src="libraries/bootstrap-datepicker-th2/js/bootstrap-datepicker-custom.js"></script>
<script src="libraries/bootstrap-datepicker-th2/locales/bootstrap-datepicker.th.min.js" charset="UTF-8"></script>


<!-- We support more than 40 localizations -->
<script type="text/ecmascript" src="libraries/Guriddo_jqGrid/js/trirand/i18n/grid.locale-th.js"></script>
<!-- This is the Javascript file of jqGrid -->
<script type="text/ecmascript" src="libraries/Guriddo_jqGrid/js/trirand/jquery.jqGrid.min.js"></script>

<!-- The link to the CSS that the grid needs -->
<link rel="stylesheet" type="text/css" media="screen" href="libraries/Guriddo_jqGrid/css/trirand/ui.jqgrid-bootstrap.css" />
<script language="javascript" type="text/javascript" src="js/layer/bigdam/Chart.bundle.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        var CropObj = new Object;

        $("#btShowProjectTable").click(function (e) {
            e.preventDefault();
            var selectYear = $.map($("#dlYear :selected"), function (e) { return $(e).val(); }).toString();
            var selectWeek = $.map($("#dlWeek :selected"), function (e) { return $(e).val(); }).toString();
            var selectSeason = $.map($("#dlSeason :selected"), function (e) { return $(e).val(); }).toString();
        //    $("#loadingchart").show();
            //  alert(source.bigDam.bigDamID);
            //  createDamChartASHX(source.bigDam.bigDamID);
            CropObj = new Object;


            var selectYearText = $.map($("#dlYear :selected"), function (e) { return $(e).text(); }).toString();
            var selectWeekText = $.map($("#dlWeek :selected"), function (e) { return $(e).text(); }).toString();
            var selectSeasonText = $.map($("#dlSeason :selected"), function (e) { return $(e).text(); }).toString();


            var texttitle = selectSeasonText+  " ปี " + selectYearText + " สัปดาห์เพาะปลูก " + selectWeekText ;
          //  alert(texttitle);

            CropObj.seasonSelect = selectSeason;
            CropObj.yearSelect = selectYear;

            CropObj.weekSelect = selectWeek;

            $("#tableDivID").html("");
            $("#tableDivID").html("<table id='jqGrid'></table><div id='jqGridPager'></div>");


            $("#jqGrid").jqGrid('setGridParam', { postData: { CR: CropObj } });
            //// hide the show message
            //   showExcelCompareTable();
            showTableProject(texttitle);
         //   $("#jqGrid")[0].grid.endReq();
            //// refresh the grid

            //showExcelCompareTable();

//            $("#jqGrid").trigger('reloadGrid');


            var cH1;
            var ch2;
            switch (selectSeason)
            {
                case "1":
                    cH1 = "นาปี";
                    cH2 = "นาปีต่อเนื่อง";
                    break;
                case "3":
                    cH1 = "นาปรัง";
                    cH2 = "นาปรัง2";
                    break;

            }

         //   $("#jqGrid").jqGrid('destroyGroupHeader');


            $("#jqGrid").setGroupHeaders(
                {
                    useColSpanStyle: true,
                    groupHeaders: [


                        { "numberOfColumns": 3, "titleText": cH1, "startColumnName": "SumNadum" },
                        { "numberOfColumns": 3, "titleText": cH2, "startColumnName": "SumNadum2" },
                        { "numberOfColumns": 3, "titleText": "พืชไร่-พืชผัก", "startColumnName": "SumPudraiPudpak" }
                    ]
                });




    
        });


        function showTableProject(texttitle) {


            var url = "http://wuse.rid.go.th/webservice/getCropDataProject.ashx";
      
            $("#jqGrid").jqGrid({
                url: url,

                mtype: "POST",
                responsive: true,
                datatype: "json",

                postData: {
                    CR: CropObj
                },

                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    userdata: "userdata"
                },
                //rownumbers: true,
                gridview: true,
                viewrecords: true,

                // width: 780,
                autowidth: true,
                // shrinkToFit: true,
                height: 400,
                rowNum: 20,
                pager: "#jqGridPager",
                rowList: [10, 20, 30, 50, 100, 1000],
                sortname: 'ProjectName',
                sortorder: "asc",//"asc",
                // sortname: 'DamID',
                // sortorder: "desc",//"asc",
                //altclass: 'myAltRowClass',
                //altRows: true,
                // altclass: 'oddRow',

                //  altclass: 'myAltRowClass',
                styleUI: 'Bootstrap',
                ////////////////////////////
                //colNames: [
                //   'วันที่', yearnow.toString(), (yearnow - 1).toString(), (yearnow - 2).toString(), (yearnow - 3).toString(), (yearnow-4).toString()
                //],
                footerrow: true,
                userDataOnFooter: true,
                grouping: true,
                groupingView: {
                    groupField: ["RIOName"],
                    groupColumnShow: [false],
                    groupText: ["<b>{0}</b>"],
                    groupOrder: ["asc"],
                    groupSummary: [true],
                    groupCollapse: false

                },

                colModel: [
                    { label: 'ลำดับ', width: 110, name: 'IndexCount', align: 'center', key: true },
                    { label: 'โครงการ', width: 230, name: 'ProjectName', align: 'left' },
                    { label: 'สำนัก', name: 'RIOName',  align: 'left'},
                //    { label: 'จังหวัด', name: 'Province', align: 'left', searchoptions: { sopt: ['eq', 'ne', 'cn'] } },
              //  { label: 'เป้าหมาย', name: '', searchoptions: { sopt: ['eq', 'ne', 'cn'] } },
                    //{ label: 'ปลูก', name: 'SumNadum', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0,thousandsSeparator: "," } },
                    //{ label: 'เสียหาย', name: 'SumDestroy_rice', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0,thousandsSeparator: "," } },
                    //{ label: 'เก็บเกี่ยว', name: 'SumKebgwai_rice', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },

                    //{ label: 'ปลูก', name: 'SumNadum2', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    //{ label: 'เสียหาย', name: 'SumDestroy_rice2', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    //{ label: 'เก็บเกี่ยว', name: 'SumKebgwai_rice2', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },

                    //{ label: 'ปลูก', name: 'SumPudraiPudpak', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    //{ label: 'เสียหาย', name: 'SumDestroy_pudraipudpuk', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    //{ label: 'เก็บเกี่ยว', name: 'SumKebgwai_pudraipudpuk', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } }


                    {
                        label: 'ปลูก', name: 'SumNadum', align: 'right',

                        summaryTpl: "{0}", // set the summary template to show the group summary
                        summaryType: "sum", // set the formula to calculate the summary type
                        searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," }
                    },
                    {
                        label: 'เสียหาย', name: 'SumDestroy_rice', align: 'right',

                        summaryTpl: "{0}", // set the summary template to show the group summary
                        summaryType: "sum", // set the formula to calculate the summary type
                        searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," }
                    },
                    {
                        label: 'เก็บเกี่ยว', name: 'SumKebgwai_rice', align: 'right',
                        summaryTpl: "{0}", // set the summary template to show the group summary
                        summaryType: "sum", // set the formula to calculate the summary type
                        searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," }
                    },

                    {
                        label: 'ปลูก', name: 'SumNadum2', align: 'right',
                        summaryTpl: "{0}", // set the summary template to show the group summary
                        summaryType: "sum", // set the formula to calculate the summary type
                        searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," }
                    },
                    {
                        label: 'เสียหาย', name: 'SumDestroy_rice2', align: 'right',
                        summaryTpl: "{0}", // set the summary template to show the group summary
                        summaryType: "sum", // set the formula to calculate the summary type
                        searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," }
                    },
                    {
                        label: 'เก็บเกี่ยว', name: 'SumKebgwai_rice2', align: 'right',
                        summaryTpl: "{0}", // set the summary template to show the group summary
                        summaryType: "sum", // set the formula to calculate the summary type

                        searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," }
                    },

                    {
                        label: 'ปลูก', name: 'SumPudraiPudpak', align: 'right',
                        summaryTpl: "{0}", // set the summary template to show the group summary
                        summaryType: "sum", // set the formula to calculate the summary type
                        searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," }
                    },
                    {
                        label: 'เสียหาย', name: 'SumDestroy_pudraipudpuk', align: 'right',
                        summaryTpl: "{0}", // set the summary template to show the group summary
                        summaryType: "sum", // set the formula to calculate the summary type

                        searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," }
                    },
                    {
                        label: 'เก็บเกี่ยว', name: 'SumKebgwai_pudraipudpuk', align: 'right',
                        summaryTpl: "{0}", // set the summary template to show the group summary
                        summaryType: "sum", // set the formula to calculate the summary type

                        searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," }
                    }


                ]

         ,
                loadComplete: function () {

                    $("#titleTable").html("พื้นที่เพาะปลูก จำแนกเป็นรายโครงการ");
                    $("#titleTable2").html(texttitle);
       

                    var $footerRow = $(this.grid.sDiv).find("tr.footrow");
                    $footerRow.find(">td[aria-describedby=jqGrid_ProjectName]").html("ผลรวมทั้งหมด");

                }

            }

            );




            $("#jqGrid").jqGrid('navGrid', '#jqGridPager', {
                edit: false,
                add: false,
                del: false,
                search: true//,
                //nav: {

                //    refreshtext: "Reload",
                //    refreshtitle: "Reload Grid"

                //}

            }
             , {}, {}, {},


                //{ search: true }
                { closeOnEscape: true, multipleSearch: true, closeAfterSearch: true } // search options
                , {} /* view parameters*/

            );

        }

        $("#btShowProvinceTable").click(function (e) {
            e.preventDefault();
            var selectYear = $.map($("#dlYear :selected"), function (e) { return $(e).val(); }).toString();
            var selectWeek = $.map($("#dlWeek :selected"), function (e) { return $(e).val(); }).toString();
            var selectSeason = $.map($("#dlSeason :selected"), function (e) { return $(e).val(); }).toString();
            //    $("#loadingchart").show();
            //  alert(source.bigDam.bigDamID);
            //  createDamChartASHX(source.bigDam.bigDamID);
            CropObj = new Object;


            var selectYearText = $.map($("#dlYear :selected"), function (e) { return $(e).text(); }).toString();
            var selectWeekText = $.map($("#dlWeek :selected"), function (e) { return $(e).text(); }).toString();
            var selectSeasonText = $.map($("#dlSeason :selected"), function (e) { return $(e).text(); }).toString();


            var texttitle = selectSeasonText + " ปี " + selectYearText + " สัปดาห์เพาะปลูก " + selectWeekText;
            //  alert(texttitle);

            CropObj.seasonSelect = selectSeason;
            CropObj.yearSelect = selectYear;

            CropObj.weekSelect = selectWeek;

            $("#tableDivID").html("");
            $("#tableDivID").html("<table id='jqGrid'></table><div id='jqGridPager'></div>");


            $("#jqGrid").jqGrid('setGridParam', { postData: { CR: CropObj } });
            //// hide the show message
            //   showExcelCompareTable();
            showTableProvince(texttitle);
           // $("#jqGrid")[0].grid.endReq();
            //// refresh the grid

            //showExcelCompareTable();

           // $("#jqGrid").trigger('reloadGrid');


            var cH1;
            var ch2;
            switch (selectSeason) {
                case "1":
                    cH1 = "นาปี";
                    cH2 = "นาปีต่อเนื่อง";
                    break;
                case "3":
                    cH1 = "นาปรัง";
                    cH2 = "นาปรัง2";
                    break;

            }

            //   $("#jqGrid").jqGrid('destroyGroupHeader');


            $("#jqGrid").setGroupHeaders(
                {
                    useColSpanStyle: true,
                    groupHeaders: [


                        { "numberOfColumns": 3, "titleText": cH1, "startColumnName": "SumNadum" },
                        { "numberOfColumns": 3, "titleText": cH2, "startColumnName": "SumNadum2" },
                        { "numberOfColumns": 3, "titleText": "พืชไร่-พืชผัก", "startColumnName": "SumPudraiPudpak" }
                    ]
                });


        });
        function showTableProvince(texttitle) {


            var url = "http://wuse.rid.go.th/webservice/getCropDataProvince.ashx";

            $("#jqGrid").jqGrid({
                url: url,

                mtype: "POST",
                responsive: true,
                datatype: "json",

                postData: {
                    CR: CropObj
                },

                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    userdata: "userdata"
                },
                //rownumbers: true,
                gridview: true,
                viewrecords: true,

                // width: 780,
                autowidth: true,
                // shrinkToFit: true,
                height: 400,
                rowNum: 100,
                pager: "#jqGridPager",
                rowList: [10, 20, 30, 50, 100],
                sortname: 'Region',
                sortorder: "asc",//"asc",
                // sortname: 'DamID',
                // sortorder: "desc",//"asc",
                //altclass: 'myAltRowClass',
                //altRows: true,
                // altclass: 'oddRow',

                //  altclass: 'myAltRowClass',
                styleUI: 'Bootstrap',
                ////////////////////////////
                //colNames: [
                //   'วันที่', yearnow.toString(), (yearnow - 1).toString(), (yearnow - 2).toString(), (yearnow - 3).toString(), (yearnow-4).toString()
                //],
                footerrow: true, 
                userDataOnFooter: true, 
                grouping: true,
                groupingView: {
                    groupField: ["Region"],
                    groupColumnShow: [false],
                    groupText: ["<b>{0}</b>"],
                    groupOrder: ["asc"],
                    groupSummary: [true],
                    groupCollapse: false

                },
                colModel: [
                    { label: 'ลำดับ', width: 110, name: 'IndexCount', align: 'center', key: true },
                    { label: 'จังหวัด', width: 230, name: 'ProvinceName', align: 'left', summaryTpl: "ผลรวม", summaryType: "sum"},
                    {
                        label: 'ภาค', name: 'Region'
                  
                    

                    },

                    //{
                    //    label: 'RegionCode', name: 'RegionCode',
                    //    hidden: true,
                    //    editable: true,
                    //    editrules: { edithidden: false },
                    //    hidedlg: true
                    //},
                    //    { label: 'จังหวัด', name: 'Province', align: 'left', searchoptions: { sopt: ['eq', 'ne', 'cn'] } },
                    //  { label: 'เป้าหมาย', name: '', searchoptions: { sopt: ['eq', 'ne', 'cn'] } },
                    {
                        label: 'ปลูก', name: 'SumNadum', align: 'right',

                        summaryTpl: "{0}", // set the summary template to show the group summary
                        summaryType: "sum", // set the formula to calculate the summary type
                        searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," }
                    },
                    {
                        label: 'เสียหาย', name: 'SumDestroy_rice', align: 'right',

                        summaryTpl: "{0}", // set the summary template to show the group summary
                        summaryType: "sum", // set the formula to calculate the summary type
                        searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," }
                    },
                    {
                        label: 'เก็บเกี่ยว', name: 'SumKebgwai_rice', align: 'right',
                        summaryTpl: "{0}", // set the summary template to show the group summary
                        summaryType: "sum", // set the formula to calculate the summary type
                        searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," }
                    },

                    {
                        label: 'ปลูก', name: 'SumNadum2', align: 'right',
                        summaryTpl: "{0}", // set the summary template to show the group summary
                        summaryType: "sum", // set the formula to calculate the summary type
                        searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," }
                    },
                    {
                        label: 'เสียหาย', name: 'SumDestroy_rice2', align: 'right',
                        summaryTpl: "{0}", // set the summary template to show the group summary
                        summaryType: "sum", // set the formula to calculate the summary type
                        searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," }
                    },
                    {
                        label: 'เก็บเกี่ยว', name: 'SumKebgwai_rice2', align: 'right',
                        summaryTpl: "{0}", // set the summary template to show the group summary
                        summaryType: "sum", // set the formula to calculate the summary type

                        searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," }
                    },

                    {
                        label: 'ปลูก', name: 'SumPudraiPudpak', align: 'right',
                        summaryTpl: "{0}", // set the summary template to show the group summary
                        summaryType: "sum", // set the formula to calculate the summary type
                        searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," }
                    },
                    {
                        label: 'เสียหาย', name: 'SumDestroy_pudraipudpuk', align: 'right',
                        summaryTpl: "{0}", // set the summary template to show the group summary
                        summaryType: "sum", // set the formula to calculate the summary type

                        searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," }
                    },
                    {
                        label: 'เก็บเกี่ยว', name: 'SumKebgwai_pudraipudpuk', align: 'right',
                        summaryTpl: "{0}", // set the summary template to show the group summary
                        summaryType: "sum", // set the formula to calculate the summary type

                        searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," }
                    }

                ]

                ,
                loadComplete: function () {

                    $("#titleTable").html("พื้นที่เพาะปลูก จำแนกเป็นรายจังหวัด");
                    $("#titleTable2").html(texttitle);

                   var  $footerRow = $(this.grid.sDiv).find("tr.footrow");
                   $footerRow.find(">td[aria-describedby=jqGrid_ProvinceName]").html("ผลรวมทั้งหมด");

                }

            }

            );




            $("#jqGrid").jqGrid('navGrid', '#jqGridPager', {
                edit: false,
                add: false,
                del: false,
                search: true//,
                //nav: {

                //    refreshtext: "Reload",
                //    refreshtitle: "Reload Grid"

                //}

            }
                , {}, {}, {},


                //{ search: true }
                { closeOnEscape: true, multipleSearch: true, closeAfterSearch: true } // search options
                , {} /* view parameters*/

            );

        }

        $("#btShowRIOTable").click(function (e) {
            e.preventDefault();
            var selectYear = $.map($("#dlYear :selected"), function (e) { return $(e).val(); }).toString();
            var selectWeek = $.map($("#dlWeek :selected"), function (e) { return $(e).val(); }).toString();
            var selectSeason = $.map($("#dlSeason :selected"), function (e) { return $(e).val(); }).toString();
            //    $("#loadingchart").show();
            //  alert(source.bigDam.bigDamID);
            //  createDamChartASHX(source.bigDam.bigDamID);
            CropObj = new Object;


            var selectYearText = $.map($("#dlYear :selected"), function (e) { return $(e).text(); }).toString();
            var selectWeekText = $.map($("#dlWeek :selected"), function (e) { return $(e).text(); }).toString();
            var selectSeasonText = $.map($("#dlSeason :selected"), function (e) { return $(e).text(); }).toString();


            var texttitle = selectSeasonText + " ปี " + selectYearText + " สัปดาห์เพาะปลูก " + selectWeekText;
            //  alert(texttitle);

            CropObj.seasonSelect = selectSeason;
            CropObj.yearSelect = selectYear;

            CropObj.weekSelect = selectWeek;

            $("#tableDivID").html("");
            $("#tableDivID").html("<table id='jqGrid'></table><div id='jqGridPager'></div>");


            $("#jqGrid").jqGrid('setGridParam', { postData: { CR: CropObj } });
            //// hide the show message
            //   showExcelCompareTable();
            showTableRIO(texttitle);
          //  $("#jqGrid")[0].grid.endReq();
            //// refresh the grid

            //showExcelCompareTable();

           // $("#jqGrid").trigger('reloadGrid');


            var cH1;
            var ch2;
            switch (selectSeason) {
                case "1":
                    cH1 = "นาปี";
                    cH2 = "นาปีต่อเนื่อง";
                    break;
                case "3":
                    cH1 = "นาปรัง";
                    cH2 = "นาปรัง2";
                    break;

            }

            //   $("#jqGrid").jqGrid('destroyGroupHeader');


            $("#jqGrid").setGroupHeaders(
                {
                    useColSpanStyle: true,
                    groupHeaders: [


                        { "numberOfColumns": 3, "titleText": cH1, "startColumnName": "SumNadum" },
                        { "numberOfColumns": 3, "titleText": cH2, "startColumnName": "SumNadum2" },
                        { "numberOfColumns": 3, "titleText": "พืชไร่-พืชผัก", "startColumnName": "SumPudraiPudpak" }
                    ]
                });


        });

        function showTableRIO(texttitle) {


            var url = "http://wuse.rid.go.th/webservice/getCropDataRIO.ashx";

            $("#jqGrid").jqGrid({
                url: url,

                mtype: "POST",
                responsive: true,
                datatype: "json",

                postData: {
                    CR: CropObj
                },

                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    userdata: "userdata"
                },
                //rownumbers: true,
                gridview: true,
                viewrecords: true,

                // width: 780,
                autowidth: true,
                // shrinkToFit: true,
                height: 400,
                rowNum: 20,
                pager: "#jqGridPager",
                rowList: [10, 20, 30, 50, 100, 1000],
                sortname: 'RIOName',
                sortorder: "asc",//"asc",
                // sortname: 'DamID',
                // sortorder: "desc",//"asc",
                //altclass: 'myAltRowClass',
                //altRows: true,
                // altclass: 'oddRow',

                //  altclass: 'myAltRowClass',
                styleUI: 'Bootstrap',
                ////////////////////////////
                //colNames: [
                //   'วันที่', yearnow.toString(), (yearnow - 1).toString(), (yearnow - 2).toString(), (yearnow - 3).toString(), (yearnow-4).toString()
                //],

                footerrow: true,
                userDataOnFooter: true,
                //grouping: true,
                //groupingView: {
                //    groupField: ["Region"],
                //    groupColumnShow: [false],
                //    groupText: ["<b>{0}</b>"],
                //    groupOrder: ["asc"],
                //    groupSummary: [true],
                //    groupCollapse: false

                //},
                colModel: [
                    { label: 'ลำดับ', width: 110, name: 'IndexCount', align: 'center', key: true },
                    { label: 'สำนัก', width: 230, name: 'RIOName', align: 'left' },
                    //   { label: 'ลุ่มน้ำ', name: 'Lumnam',  align: 'left',searchoptions: { sopt: ['eq', 'ne', 'cn'] } },
                    //    { label: 'จังหวัด', name: 'Province', align: 'left', searchoptions: { sopt: ['eq', 'ne', 'cn'] } },
                    //  { label: 'เป้าหมาย', name: '', searchoptions: { sopt: ['eq', 'ne', 'cn'] } },
                    { label: 'ปลูก', name: 'SumNadum', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    { label: 'เสียหาย', name: 'SumDestroy_rice', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    { label: 'เก็บเกี่ยว', name: 'SumKebgwai_rice', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },

                    { label: 'ปลูก', name: 'SumNadum2', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    { label: 'เสียหาย', name: 'SumDestroy_rice2', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    { label: 'เก็บเกี่ยว', name: 'SumKebgwai_rice2', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },

                    { label: 'ปลูก', name: 'SumPudraiPudpak', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    { label: 'เสียหาย', name: 'SumDestroy_pudraipudpuk', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    { label: 'เก็บเกี่ยว', name: 'SumKebgwai_pudraipudpuk', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } }

                ]

                ,
                loadComplete: function () {

                    $("#titleTable").html("พื้นที่เพาะปลูก จำแนกเป็นรายสำนัก");
                    $("#titleTable2").html(texttitle);


                    var $footerRow = $(this.grid.sDiv).find("tr.footrow");
                    $footerRow.find(">td[aria-describedby=jqGrid_RIOName]").html("ผลรวมทั้งหมด");

                }

            }

            );




            $("#jqGrid").jqGrid('navGrid', '#jqGridPager', {
                edit: false,
                add: false,
                del: false,
                search: true//,
                //nav: {

                //    refreshtext: "Reload",
                //    refreshtitle: "Reload Grid"

                //}

            }
                , {}, {}, {},


                //{ search: true }
                { closeOnEscape: true, multipleSearch: true, closeAfterSearch: true } // search options
                , {} /* view parameters*/

            );

        }
        $("#btShowBasinTable").click(function (e) {
            e.preventDefault();
            var selectYear = $.map($("#dlYear :selected"), function (e) { return $(e).val(); }).toString();
            var selectWeek = $.map($("#dlWeek :selected"), function (e) { return $(e).val(); }).toString();
            var selectSeason = $.map($("#dlSeason :selected"), function (e) { return $(e).val(); }).toString();
            var selectBasin = $.map($("#dlBasin :selected"), function (e) { return $(e).val(); }).toString();
            //    $("#loadingchart").show();
            //  alert(source.bigDam.bigDamID);
            //  createDamChartASHX(source.bigDam.bigDamID);
            CropObj = new Object;


            var selectYearText = $.map($("#dlYear :selected"), function (e) { return $(e).text(); }).toString();
            var selectWeekText = $.map($("#dlWeek :selected"), function (e) { return $(e).text(); }).toString();
            var selectSeasonText = $.map($("#dlSeason :selected"), function (e) { return $(e).text(); }).toString();
            var selectBasinText = $.map($("#dlBasin :selected"), function (e) { return $(e).text(); }).toString();

            var texttitle = selectSeasonText + " ปี " + selectYearText + " สัปดาห์เพาะปลูก " + selectWeekText;
            //  alert(texttitle);

            CropObj.seasonSelect = selectSeason;
            CropObj.yearSelect = selectYear;

            CropObj.weekSelect = selectWeek;

            CropObj.basinSelect = selectBasin;

            $("#tableDivID").html("");
            $("#tableDivID").html("<table id='jqGrid'></table><div id='jqGridPager'></div>");


            $("#jqGrid").jqGrid('setGridParam', { postData: { CR: CropObj } });
            //// hide the show message
            //   showExcelCompareTable();
            showTableBasin(texttitle);
       //     $("#jqGrid")[0].grid.endReq();
            //// refresh the grid

            //showExcelCompareTable();

         //   $("#jqGrid").trigger('reloadGrid');


            var cH1;
            var ch2;
            switch (selectSeason) {
                case "1":
                    cH1 = "นาปี";
                    cH2 = "นาปีต่อเนื่อง";
                    break;
                case "3":
                    cH1 = "นาปรัง";
                    cH2 = "นาปรัง2";
                    break;

            }

            //   $("#jqGrid").jqGrid('destroyGroupHeader');


            $("#jqGrid").setGroupHeaders(
                {
                    useColSpanStyle: true,
                    groupHeaders: [


                        { "numberOfColumns": 3, "titleText": cH1, "startColumnName": "SumNadum" },
                        { "numberOfColumns": 3, "titleText": cH2, "startColumnName": "SumNadum2" },
                        { "numberOfColumns": 3, "titleText": "พืชไร่-พืชผัก", "startColumnName": "SumPudraiPudpak" }
                    ]
                });


        });
        function showTableBasin(texttitle) {


            var url = "http://wuse.rid.go.th/webservice/getCropDataBasin.ashx";

            $("#jqGrid").jqGrid({
                url: url,

                mtype: "POST",
                responsive: true,
                datatype: "json",

                postData: {
                    CR: CropObj
                },

                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    userdata: "userdata"
                },
                //rownumbers: true,
                gridview: true,
                viewrecords: true,

                // width: 780,
                autowidth: true,
                // shrinkToFit: true,
                height: 400,
                rowNum: 20,
                pager: "#jqGridPager",
                rowList: [10, 20, 30, 50, 100, 1000],
                sortname: 'BasinName',
                sortorder: "asc",//"asc",
                // sortname: 'DamID',
                // sortorder: "desc",//"asc",
                //altclass: 'myAltRowClass',
                //altRows: true,
                // altclass: 'oddRow',

                //  altclass: 'myAltRowClass',
                styleUI: 'Bootstrap',
                ////////////////////////////
                //colNames: [
                //   'วันที่', yearnow.toString(), (yearnow - 1).toString(), (yearnow - 2).toString(), (yearnow - 3).toString(), (yearnow-4).toString()
                //],
                footerrow: true,
                userDataOnFooter: true, 

                colModel: [
                    { label: 'ลำดับ', width: 110, name: 'IndexCount', align: 'center', key: true },
                    { label: 'โครงการ', width: 230, name: 'ProjectName', align: 'left' },
                    //   { label: 'ลุ่มน้ำ', name: 'Lumnam',  align: 'left',searchoptions: { sopt: ['eq', 'ne', 'cn'] } },
                       { label: 'จังหวัด', name: 'ProvinceName', align: 'left', searchoptions: { sopt: ['eq', 'ne', 'cn'] } },
                    //  { label: 'เป้าหมาย', name: '', searchoptions: { sopt: ['eq', 'ne', 'cn'] } },
                    { label: 'ปลูก', name: 'SumNadum', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    { label: 'เสียหาย', name: 'SumDestroy_rice', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    { label: 'เก็บเกี่ยว', name: 'SumKebgwai_rice', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },

                    { label: 'ปลูก', name: 'SumNadum2', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    { label: 'เสียหาย', name: 'SumDestroy_rice2', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    { label: 'เก็บเกี่ยว', name: 'SumKebgwai_rice2', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },

                    { label: 'ปลูก', name: 'SumPudraiPudpak', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    { label: 'เสียหาย', name: 'SumDestroy_pudraipudpuk', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    { label: 'เก็บเกี่ยว', name: 'SumKebgwai_pudraipudpuk', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } }

                ]

                ,
                loadComplete: function () {

                    $("#titleTable").html("พื้นที่เพาะปลูก จำแนกเป็นรายลุ่มน้ำ");
                    $("#titleTable2").html(texttitle);


                    var $footerRow = $(this.grid.sDiv).find("tr.footrow");
                    $footerRow.find(">td[aria-describedby=jqGrid_ProvinceName]").html("ผลรวมทั้งหมด");

                }

            }

            );




            $("#jqGrid").jqGrid('navGrid', '#jqGridPager', {
                edit: false,
                add: false,
                del: false,
                search: true//,
                //nav: {

                //    refreshtext: "Reload",
                //    refreshtitle: "Reload Grid"

                //}

            }
                , {}, {}, {},


                //{ search: true }
                { closeOnEscape: true, multipleSearch: true, closeAfterSearch: true } // search options
                , {} /* view parameters*/

            );

        }



        ////////////////////////
        $("#btShowCompareProvinceTable").click(function (e) {
            e.preventDefault();

        //    alert("hi");
            
            var selectSeason = $.map($("#dlCompareSeason :selected"), function (e) { return $(e).val(); }).toString();
            var selectStartYear = $.map($("#dlStartYear :selected"), function (e) { return $(e).val(); }).toString();
            var selectEndYear = $.map($("#dlEndYear :selected"), function (e) { return $(e).val(); }).toString();
          


            
            var selectSeasonText = $.map($("#dlCompareSeason :selected"), function (e) { return $(e).text(); }).toString();
            var selectStartYearStr = $.map($("#dlStartYear :selected"), function (e) { return $(e).text(); }).toString();
            var selectEndYearStr = $.map($("#dlEndYear :selected"), function (e) { return $(e).text(); }).toString();

            var texttitle = selectSeasonText ;

            CropObj = new Object;
            CropObj.seasonSelect = selectSeason;
            CropObj.startYearSelect = selectStartYear;
            CropObj.endYearSelect = selectEndYear;

            CropObj.headcol = "จังหวัด";
            CropObj.headcol2 = "ภาค";
            $("#tableDivID").html("");
            $("#tableDivID").html("<table id='jqGrid'></table><div id='jqGridPager'></div>");


            $("#jqGrid").jqGrid('setGridParam', { postData: { CR: CropObj } });

           // alert("hi1");

            var DTO = { 'cropObj': CropObj };
            $.ajax({

                type: "POST",
                url: "http://wuse.rid.go.th/webservice/WUSEService.svc/GetColModel",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(DTO),
                crossDomain: true,
                async: false,
                success: function (msg) {
                  //  alert("hi2");
                    if (msg) {

                        showTableCompareProvince(texttitle, msg);

                    }
                },
                complete: function () {

                },
                error: function (xhr, status, error) {
                    alert("An error has occurred during processing: " + error);
                }
            });
            //var cH1;
            //var ch2;
            //switch (selectSeason) {
            //    case "1":
            //        cH1 = "นาปี";
            //        cH2 = "นาปีต่อเนื่อง";
            //        break;
            //    case "3":
            //        cH1 = "นาปรัง";
            //        cH2 = "นาปรัง2";
            //        break;

            //}



        //    $("#jqGrid").setGroupHeaders(
        //        {
        //            useColSpanStyle: true,
        //            groupHeaders: [


        //                { "numberOfColumns": 3, "titleText": cH1, "startColumnName": "SumNadum" },
        //                { "numberOfColumns": 3, "titleText": cH2, "startColumnName": "SumNadum2" },
        //                { "numberOfColumns": 3, "titleText": "พืชไร่-พืชผัก", "startColumnName": "SumPudraiPudpak" }
        //            ]
        //        });


        });
        function showTableCompareProvince(texttitle, jqgrid) {


            var url = "http://wuse.rid.go.th/webservice/getCropDataCompareProvince.ashx";

            $("#jqGrid").jqGrid({
                url: url,

                mtype: "POST",
                responsive: true,
                datatype: "json",

                postData: {
                    CR: CropObj
                },

                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    userdata: "userdata"
                },
                //rownumbers: true,
                //rownumWidth: 40,
                gridview: true,
                viewrecords: true,

                // width: 780,
                autowidth: true,
                // shrinkToFit: true,
                height: 400,
                rowNum: 1000,
                pager: "#jqGridPager",
                rowList: [10, 20, 30, 50, 100,1000],
                sortname: 'headcol',
                sortorder: "asc",//"asc",
                // sortname: 'DamID',
                // sortorder: "desc",//"asc",
                //altclass: 'myAltRowClass',
                //altRows: true,
                // altclass: 'oddRow',

                //  altclass: 'myAltRowClass',
                styleUI: 'Bootstrap',
                ////////////////////////////
                //colNames: [
                //   'วันที่', yearnow.toString(), (yearnow - 1).toString(), (yearnow - 2).toString(), (yearnow - 3).toString(), (yearnow-4).toString()
                //],
                footerrow: true,
                userDataOnFooter: true,
                grouping: true,
                groupingView: {
                    groupField: ["headcol2"],
                    groupColumnShow: [false],
                    groupText: ["<b>{0}</b>"],
                    groupOrder: ["asc"],
                    groupSummary: [true],
                    groupCollapse: false

                },
                colModel: jqgrid.colModel
                 
                

                ,
                loadComplete: function () {

                    $("#titleTable").html("พื้นที่เพาะปลูก จำแนกเป็นรายจังหวัด");
                    $("#titleTable2").html(texttitle);



                    var $footerRow = $(this.grid.sDiv).find("tr.footrow");
                    $footerRow.find(">td[aria-describedby=jqGrid_headcol]").html("ผลรวมทั้งหมด");

                }

            }

            );




            $("#jqGrid").jqGrid('navGrid', '#jqGridPager', {
                edit: false,
                add: false,
                del: false,
                search: true//,
                //nav: {

                //    refreshtext: "Reload",
                //    refreshtitle: "Reload Grid"

                //}

            }
                , {}, {}, {},


                //{ search: true }
                { closeOnEscape: true, multipleSearch: true, closeAfterSearch: true } // search options
                , {} /* view parameters*/

            );

        }


        /////////////////////



        $('#dlSeason').multiselect({
            nonSelectedText: 'เลือกฤดู'

   
        });

        $('#dlCompareSeason').multiselect({
            nonSelectedText: 'เลือกฤดู'


        });

        $('#dlWeek').multiselect({
            nonSelectedText: 'เลือกสัปดาห์เพาะปลูก',
            maxHeight: 250


        });
        $('#dlYear').multiselect({
            nonSelectedText: 'ปีเพาะปลูก(พ.ศ.)',
            maxHeight: 250

 

        });

        $('#dlStartYear').multiselect({
            nonSelectedText: 'เริ่มปีเพาะปลูก(พ.ศ.)',
            maxHeight: 250



        });

        $('#dlEndYear').multiselect({
            nonSelectedText: 'สิ้นสุดปีเพาะปลูก(พ.ศ.)',
            maxHeight: 250



        });

        $('#dlBasin').multiselect({
            nonSelectedText: 'เลือกลุ่มน้ำ',
            maxHeight: 250


        });
        function GetWeek() {
          //  var CropObj = new Object();
          //  CropObj.hydroid = utokid;

            var url = "http://wuse.rid.go.th/webservice/WUSEService.svc/getCropWeekList";

           // var DTO = { 'hydro': HydroObj };


            var $select = $("#dlWeek").multiselect(); //apply the plugin
            $select.multiselect('disable'); //disable it initially

            var data = [];
            $('#dlWeek').multiselect('dataprovider', data);


            $.ajax({
                type: "POST",


                url: url,//"webservice/HDService.svc/getUtokCenter",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
               // data: {},// JSON.stringify(DTO),
                beforeSend: function () {
                   // $('#loadingUtok').show();
                },
                crossDomain: true,
                async: false,
                success: function (msg) {
                    ///////////////////////////////////////////


                    if (msg.length > 0) {
                        $select.multiselect('enable');

                        // alert(list.length);
                        var countD = 0;
                        $.each(msg, function () {

                            $("#dlWeek").append($("<option></option>").val(this['WeekID']).html(this['WeekID'] + " (" + this['PeriodTime']+")"));
                            countD++;

                        });

                    }

                    $('#dlWeek').multiselect('rebuild');
                    $("#dlWeek").multiselect('refresh'); //refresh the select here
                },
                complete: function () {
                   // $('#loadingUtok').hide();


                  //  var selectWeek = $.map($("#dlWeek :selected"), function (e) { return $(e).val(); }).toString();


                    //GetProvinceStation(selectUtok);
                },
                error: function (xhr, status, error) {
                    alert("An error has occurred during processing: " + error);
                }
            });
        }


        function GetYear() {
            //  var CropObj = new Object();
            //  CropObj.hydroid = utokid;

            var url = "http://wuse.rid.go.th/webservice/WUSEService.svc/getCropYearList";

            // var DTO = { 'hydro': HydroObj };


            var $select = $("#dlYear").multiselect(); //apply the plugin
            var $selectStart = $("#dlStartYear").multiselect(); //apply the plugin
            var $selectEnd = $("#dlEndYear").multiselect(); //apply the plugin
            $select.multiselect('disable'); //disable it initially
            $selectStart.multiselect('disable'); //disable it initially
            $selectEnd.multiselect('disable'); //disable it initially

            var data = [];
            $('#dlYear').multiselect('dataprovider', data);
            $('#dlStartYear').multiselect('dataprovider', data);
            $('#dlEndYear').multiselect('dataprovider', data);

            $.ajax({
                type: "POST",


                url: url,//"webservice/HDService.svc/getUtokCenter",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {},// JSON.stringify(DTO),
                beforeSend: function () {
                   // $('#loadingUtok').show();
                },
                crossDomain: true,
                async: false,
                success: function (msg) {
                    ///////////////////////////////////////////


                    if (msg.length > 0) {
                        $select.multiselect('enable');

                        // alert(list.length);
                        var countD = 0;
                        $.each(msg, function () {

                        //    alert(msg);
                            $("#dlYear").append($("<option></option>").val(this).html(this));
                            $("#dlStartYear").append($("<option></option>").val(this).html(this));
                            $("#dlEndYear").append($("<option></option>").val(this).html(this));
                            countD++;

                        });

                    }

                    $('#dlYear').multiselect('rebuild');
                    $("#dlYear").multiselect('refresh'); //refresh the select here
                    $('#dlStartYear').multiselect('rebuild');
                    $("#dlStartYear").multiselect('refresh'); //refresh the select here
                    $('#dlEndYear').multiselect('rebuild');
                    $("#dlEndYear").multiselect('refresh'); //refresh the select here
                },
                complete: function () {
                    // $('#loadingUtok').hide();


                    //  var selectWeek = $.map($("#dlWeek :selected"), function (e) { return $(e).val(); }).toString();


                    //GetProvinceStation(selectUtok);
                },
                error: function (xhr, status, error) {
                    alert("An error has occurred during processing: " + error);
                }
            });
        }


        function GetBasin() {
            //  var CropObj = new Object();
            //  CropObj.hydroid = utokid;

            var url = "http://wuse.rid.go.th/webservice/WUSEService.svc/getBasinList";

            // var DTO = { 'hydro': HydroObj };


            var $select = $("#dlBasin").multiselect(); //apply the plugin
            $select.multiselect('disable'); //disable it initially

            var data = [];
            $('#dlBasin').multiselect('dataprovider', data);


            $.ajax({
                type: "POST",


                url: url,//"webservice/HDService.svc/getUtokCenter",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {},// JSON.stringify(DTO),
                beforeSend: function () {
                    // $('#loadingUtok').show();
                },
                crossDomain: true,
                async: false,
                success: function (msg) {
                    ///////////////////////////////////////////


                    if (msg.length > 0) {
                        $select.multiselect('enable');

                        // alert(list.length);
                        var countD = 0;
                        $.each(msg, function () {

                            //    alert(msg);
                            $("#dlBasin").append($("<option></option>").val(this['BasinID']).html(this['BasinName']));
                            countD++;

                        });

                    }

                    $('#dlBasin').multiselect('rebuild');
                    $("#dlBasin").multiselect('refresh'); //refresh the select here
                },
                complete: function () {
                    // $('#loadingUtok').hide();


                    //  var selectWeek = $.map($("#dlWeek :selected"), function (e) { return $(e).val(); }).toString();


                    //GetProvinceStation(selectUtok);
                },
                error: function (xhr, status, error) {
                    alert("An error has occurred during processing: " + error);
                }
            });
        }
        function GetStartYear() {
            //  var CropObj = new Object();
            //  CropObj.hydroid = utokid;

            var url = "http://wuse.rid.go.th/webservice/WUSEService.svc/getCropYearList";

            // var DTO = { 'hydro': HydroObj };


            var $select = $("#dlStartYear").multiselect(); //apply the plugin
            $select.multiselect('disable'); //disable it initially

            var data = [];
            $('#dlStartYear').multiselect('dataprovider', data);


            $.ajax({
                type: "POST",


                url: url,//"webservice/HDService.svc/getUtokCenter",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {},// JSON.stringify(DTO),
                beforeSend: function () {
                    // $('#loadingUtok').show();
                },
                crossDomain: true,
                async: false,
                success: function (msg) {
                    ///////////////////////////////////////////


                    if (msg.length > 0) {
                        $select.multiselect('enable');

                        // alert(list.length);
                        var countD = 0;
                        $.each(msg, function () {

                            //    alert(msg);
                            $("#dlStartYear").append($("<option></option>").val(this).html(this));
                            countD++;

                        });

                    }

                    $('#dlStartYear').multiselect('rebuild');
                    $("#dlStartYear").multiselect('refresh'); //refresh the select here
                },
                complete: function () {
                    // $('#loadingUtok').hide();


                    //  var selectWeek = $.map($("#dlWeek :selected"), function (e) { return $(e).val(); }).toString();


                    //GetProvinceStation(selectUtok);
                },
                error: function (xhr, status, error) {
                    alert("An error has occurred during processing: " + error);
                }
            });
        }
        function GetEndYear() {
            //  var CropObj = new Object();
            //  CropObj.hydroid = utokid;

            var url = "http://wuse.rid.go.th/webservice/WUSEService.svc/getCropYearList";

            // var DTO = { 'hydro': HydroObj };


            var $select = $("#dlEndYear").multiselect(); //apply the plugin
            $select.multiselect('disable'); //disable it initially

            var data = [];
            $('#dlEndYear').multiselect('dataprovider', data);


            $.ajax({
                type: "POST",


                url: url,//"webservice/HDService.svc/getUtokCenter",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {},// JSON.stringify(DTO),
                beforeSend: function () {
                    // $('#loadingUtok').show();
                },
                crossDomain: true,
                async: false,
                success: function (msg) {
                    ///////////////////////////////////////////


                    if (msg.length > 0) {
                        $select.multiselect('enable');

  
                        var countD = 0;
                        $.each(msg, function () {

                            $("#dlEndYear").append($("<option></option>").val(this).html(this));
                            countD++;

                        });

                    }

                    $('#dlEndYear').multiselect('rebuild');
                    $("#dlEndYear").multiselect('refresh'); //refresh the select here
                },
                complete: function () {
           
                },
                error: function (xhr, status, error) {
                    alert("An error has occurred during processing: " + error);
                }
            });
        }

        GetYear();
        GetWeek();
        GetBasin();
     //   GetStartYear();
     //   GetEndYear();
        //last code
        //////////////////////////
    });
</script>