
<style>
    th.ui-th-column div {
        word-wrap: break-word; /* IE 5.5+ and CSS3 */
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        overflow: hidden;
        height: auto !important;
        vertical-align: middle;
    }
</style>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="featuretab-title"></h4>
        </div>

        <div class="modal-body" id="featuretab-info">

            <form class="form-inline" role="form" style="text-align:center; ">
                <div class="form-group">

                    <label for="dlSeason">ฤดู</label>

                    <select id="dlSeason" class="form-control">
                        <option value="1">ฤดูฝน</option>
                        <option value="3">ฤดูแล้ง</option>
                    </select>

                    <label for="dlWeek">สัปดาห์เพาะปลูก</label>
                    <select id="dlWeek" class="form-control"></select>
                    <label for="inputYear">ปีเพาะปลูก(พ.ศ.)</label>
                    <select id="dlYear" class="form-control"></select>
                    <button type="submit" class="btn btn-primary" id="btShowProjectTable"><i class="glyphicon glyphicon-search"></i> แสดง</button>
                </div>
            </form>

            <br />

            <ul id="aboutTabs" class="nav nav-tabs">
                <li class="active"><a href="#featuretab-tableproject" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;ตารางรายโครงการ</a></li>
                <li><a href="#featuretab-chartproject" data-toggle="tab"><i class="glyphicon glyphicon-stats"></i>&nbsp;กราฟรายโครงการ</a></li>
                <li><a href="#featuretab-tableprovince" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;ตารางรายจังหวัด</a></li>
                <li><a href="#featuretab-chartprovince" data-toggle="tab"><i class="glyphicon glyphicon-stats"></i>&nbsp;กราฟรายจังหวัด</a></li>

            </ul>
            <div id="aboutTabsContent" class="tab-content" style="padding-top: 10px;">
                <div class="tab-pane fade active in" id="featuretab-tableproject">

                    <h5 style="text-align:center; " id="titleTable"></h5>
                    <h5 style="text-align:center; " id="titleTable2"></h5>
                    <!--<h5 style="text-align:center; ">ฤดู</h5>-->
                    <div id="tableDivID" class="table-responsive">
                        <table id="jqGrid"></table>
                        <div id="jqGridPager"></div>
                    </div>
                </div>
                <div class="tab-pane fade active in" id="featuretab-chartproject">

                </div>
                <div class="tab-pane fade active in" id="featuretab-tableprovince">

                </div>
                <div class="tab-pane fade active in" id="featuretab-chartprovince">

                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<link rel="stylesheet" href="libraries/bootsttap-multiselect/css/bootstrap-multiselect.css" type="text/css" />
<script type="text/javascript" src="libraries/bootsttap-multiselect/js/bootstrap-multiselect.js"></script>


<link rel="stylesheet" href="libraries/bootstrap-datepicker-th2/css/bootstrap-datepicker.css">
<link href="libraries/bootstrap-datepicker-th2/css/bootstrap-datepicker.css" rel="stylesheet" />
<script src="libraries/bootstrap-datepicker-th2/js/bootstrap-datepicker-custom.js"></script>
<script src="libraries/bootstrap-datepicker-th2/locales/bootstrap-datepicker.th.min.js" charset="UTF-8"></script>


<!-- We support more than 40 localizations -->
<script type="text/ecmascript" src="libraries/Guriddo_jqGrid/js/trirand/i18n/grid.locale-th.js"></script>
<!-- This is the Javascript file of jqGrid -->
<script type="text/ecmascript" src="libraries/Guriddo_jqGrid/js/trirand/jquery.jqGrid.min.js"></script>

<!-- The link to the CSS that the grid needs -->
<link rel="stylesheet" type="text/css" media="screen" href="libraries/Guriddo_jqGrid/css/trirand/ui.jqgrid-bootstrap.css" />
<script language="javascript" type="text/javascript" src="js/layer/bigdam/Chart.bundle.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        var CropObj = new Object;

        $("#btShowProjectTable").click(function (e) {
            e.preventDefault();
            var selectYear = $.map($("#dlYear :selected"), function (e) { return $(e).val(); }).toString();
            var selectWeek = $.map($("#dlWeek :selected"), function (e) { return $(e).val(); }).toString();
            var selectSeason = $.map($("#dlSeason :selected"), function (e) { return $(e).val(); }).toString();
        //    $("#loadingchart").show();
            //  alert(source.bigDam.bigDamID);
            //  createDamChartASHX(source.bigDam.bigDamID);
            CropObj = new Object;


            var selectYearText = $.map($("#dlYear :selected"), function (e) { return $(e).text(); }).toString();
            var selectWeekText = $.map($("#dlWeek :selected"), function (e) { return $(e).text(); }).toString();
            var selectSeasonText = $.map($("#dlSeason :selected"), function (e) { return $(e).text(); }).toString();


            var texttitle = selectSeasonText+  " ปี " + selectYearText + " สัปดาห์เพาะปลูก " + selectWeekText ;
          //  alert(texttitle);

            CropObj.seasonSelect = selectSeason;
            CropObj.yearSelect = selectYear;

            CropObj.weekSelect = selectWeek;

            $("#tableDivID").html("");
            $("#tableDivID").html("<table id='jqGrid'></table><div id='jqGridPager'></div>");


            $("#jqGrid").jqGrid('setGridParam', { postData: { CR: CropObj } });
            //// hide the show message
            //   showExcelCompareTable();
            showTable(texttitle);
            $("#jqGrid")[0].grid.endReq();
            //// refresh the grid

            //showExcelCompareTable();





            $("#jqGrid").trigger('reloadGrid');



            $("#jqGrid").jqGrid('destroyGroupHeader');

            $("#jqGrid").setGroupHeaders(
            {
                useColSpanStyle: true,
                groupHeaders: [

                 //    { "numberOfColumns": 13, "titleText": texttitle, "startColumnName": "IndexCount" },
                      //{
                      //    "numberOfColumns": 13,

                      //    "titleText":'<table style="width:100%;border-spacing:0px;">' +

                      //       '<tr><td id="h0" colspan="13">พื้นที่เพาะปลูก จำแนกเป็นรายโครงการ</td></tr>' +
                      ////  '<tr><td id="h1" colspan="13">' + selectSeasonText + " ปี " + selectYearText + " สัปดาห์เพาะปลูก " + selectWeekText+'</td></tr>' +


                      //  '</table>'


                      //        //selectSeasonText + " ปี " + selectYearText + " สัปดาห์เพาะปลูก " + selectWeekText, "startColumnName": "IndexCount"
                      //},
                    //   { "numberOfColumns": 13, "titleText": selectSeasonText + " ปี " + selectYearText + " สัปดาห์เพาะปลูก " + selectWeekText, "startColumnName": "IndexCount" },

                    { "numberOfColumns": 3, "titleText": "นาปี", "startColumnName": "SumNadum" },
                      { "numberOfColumns": 3, "titleText": "นาปรัง", "startColumnName": "SumNadum2" },
                { "numberOfColumns": 3, "titleText": "พืชไร่-พืชผัก", "startColumnName": "SumPudraiPudpak" }
                ]
            });


            //$("#jqGrid").setGroupHeaders(
            //{
            //    useColSpanStyle: true,
            //    groupHeaders: [
            //        { "numberOfColumns": 3, "titleText": "พืชไร่-พืชผัก", "startColumnName": "SumPudraiPudpak" }

            //    ]
            //});

            //$("#jqGrid").jqGrid("setGroupHeaders", {
            //    useColSpanStyle: true,
            //    groupHeaders: [{
            //        startColumnName: "SumNadum",
            //       // numberOfColumns: 3,
            //        titleText:
            //            '<table style="width:100%;border-spacing:0px;">' +
            //             //'<tr><td id="hmain" colspan="6"><em>MAXIMUM AND MINIMUM GAGE HEIGHT</em></td></tr>' +
            //            '<tr><td id="h0" colspan="3">Momentary</td></tr>' +
            //            '<tr>' +
            //                '<td id="h1">Max. Gage Height - m</td>' +
            //                '<td id="h2">Min. Gage Height - m</td>' +
            //            '</tr>' +
            //            '</table>'
            //    }]
            //});




        });


        function showTable(texttitle) {




           // var $grid = $("#jqGrid");




            var url = "http://wuse.rid.go.th/webservice/getCropDataLumnam.ashx";
            // var url = "webservice/getCropDataLumnam.ashx";

         //   $grid.jqGrid('setGridParam', { datatype: 'json', page: 1, url: url }).trigger('reloadGrid');

          //  $("#jqGrid").jqGrid('destroyGroupHeader');


            // alert(yearnow);
            $("#jqGrid").jqGrid({
                url: url,

                mtype: "POST",
                responsive: true,
                datatype: "json",

                postData: {
                    CR: CropObj
                },

                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    userdata: "userdata"
                },
                //rownumbers: true,
                gridview: true,
                viewrecords: true,

                // width: 780,
                autowidth: true,
                // shrinkToFit: true,
                height: 400,
                rowNum: 20,
                pager: "#jqGridPager",
                rowList: [10, 20, 30, 50, 100, 1000],
                sortname: 'ProjectName',
                sortorder: "asc",//"asc",
                // sortname: 'DamID',
                // sortorder: "desc",//"asc",
                //altclass: 'myAltRowClass',
                //altRows: true,
                // altclass: 'oddRow',

                //  altclass: 'myAltRowClass',
                styleUI: 'Bootstrap',
                ////////////////////////////
                //colNames: [
                //   'วันที่', yearnow.toString(), (yearnow - 1).toString(), (yearnow - 2).toString(), (yearnow - 3).toString(), (yearnow-4).toString()
                //],


                colModel: [
                    { label: 'ลำดับ', width: 110, name: 'IndexCount', align: 'center', key: true },
                    { label: 'โครงการ', width: 230, name: 'ProjectName', align: 'left' },
                    { label: 'ลุ่มน้ำ', name: 'Lumnam',  align: 'left',searchoptions: { sopt: ['eq', 'ne', 'cn'] } },
                    { label: 'จังหวัด', name: 'Province', align: 'left', searchoptions: { sopt: ['eq', 'ne', 'cn'] } },
              //  { label: 'เป้าหมาย', name: '', searchoptions: { sopt: ['eq', 'ne', 'cn'] } },
                    { label: 'ปลูก', name: 'SumNadum', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0,thousandsSeparator: "," } },
                    { label: 'เสียหาย', name: 'SumDestroy_rice', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0,thousandsSeparator: "," } },
                    { label: 'เก็บเกี่ยว', name: 'SumKebgwai_rice', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },

                    { label: 'ปลูก', name: 'SumNadum2', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    { label: 'เสียหาย', name: 'SumDestroy_rice2', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    { label: 'เก็บเกี่ยว', name: 'SumKebgwai_rice2', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },

                    { label: 'ปลูก', name: 'SumPudraiPudpak', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    { label: 'เสียหาย', name: 'SumDestroy_pudraipudpuk', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },
                    { label: 'เก็บเกี่ยว', name: 'SumKebgwai_pudraipudpuk', align: 'right', searchoptions: { sopt: ['eq', 'ne', 'cn'] }, formatter: 'number', formatoptions: { decimalPlaces: 0, thousandsSeparator: "," } },

                ]

         ,
                loadComplete: function () {

                    $("#titleTable").html("พื้นที่เพาะปลูก จำแนกเป็นรายโครงการ");
                    $("#titleTable2").html(texttitle);
                 //   alert(selectSeasonText + " " + selectYearText + " " + selectWeekText);
                    //$("#titleTable2").html(selectSeasonText + " ปี " + selectYearText + " สัปดาห์เพาะปลูก " + selectWeekText);

                    $("#jqGrid").jqGrid("setLabel", "IndexCount", "", { "text-align": "center" });
                    $("#jqGrid").jqGrid("setLabel", "ProjectName", "", { "text-align": "center" });
                    $("#jqGrid").jqGrid("setLabel", "Lumnam", "", { "text-align": "center" });
                    $("#jqGrid").jqGrid("setLabel", "Province", "", { "text-align": "center" });
                    $("#jqGrid").jqGrid("setLabel", "SumNadum", "", { "text-align": "center" });
                    $("#jqGrid").jqGrid("setLabel", "SumDestroy_rice", "", { "text-align": "center" });
                    $("#jqGrid").jqGrid("setLabel", "SumKebgwai_rice", "", { "text-align": "center" });


                    $("#jqGrid").jqGrid("setLabel", "SumNadum2", "", { "text-align": "center" });
                    $("#jqGrid").jqGrid("setLabel", "SumDestroy_rice2", "", { "text-align": "center" });
                    $("#jqGrid").jqGrid("setLabel", "SumKebgwai_rice2", "", { "text-align": "center" });

                    $("#jqGrid").jqGrid("setLabel", "SumPudraiPudpak", "", { "text-align": "center" });

                    $("#jqGrid").jqGrid("setLabel", "SumDestroy_pudraipudpuk", "", { "text-align": "center" });
                    $("#jqGrid").jqGrid("setLabel", "SumKebgwai_pudraipudpuk", "", { "text-align": "center" });


                }

            }

            );




            $("#jqGrid").jqGrid('navGrid', '#jqGridPager', {
                edit: false,
                add: false,
                del: false,
                search: true//,
                //nav: {

                //    refreshtext: "Reload",
                //    refreshtitle: "Reload Grid"

                //}

            }
             , {}, {}, {},


                //{ search: true }
                { closeOnEscape: true, multipleSearch: true, closeAfterSearch: true } // search options
                , {} /* view parameters*/

            );

        }



        $('#dlSeason').multiselect({
            nonSelectedText: 'เลือกฤดู'

            //onChange: function (option, checked) {
            //    var selectSeason = $.map($("#dlSeason :selected"), function (e) { return $(e).val(); }).toString();

            //  //  var selectProvince = $.map($("#dlProvince :selected"), function (e) { return $(e).val(); }).toString();

            //    alert(selectSeason)


            //    //GetStation(selectUtok, selectProvince);
            //},
            //onDropdownHidden: function (event) {


            //    var selectSeason = $.map($("#dlSeason :selected"), function (e) { return $(e).val(); }).toString();
            //    //var selectProvince = $.map($("#dlProvince :selected"), function (e) { return $(e).val(); }).toString();

            //    alert(selectSeason)
            //  //  GetProvinceStation(selectUtok);


            //}

        });


        $('#dlWeek').multiselect({
            nonSelectedText: 'เลือกสัปดาห์เพาะปลูก',
            maxHeight: 250

            //onDropdownHidden: function (event) {

            //    var selectSeason = $.map($("#dlSeason :selected"), function (e) { return $(e).val(); }).toString();
            //    var selectWeek = $.map($("#dlWeek :selected"), function (e) { return $(e).val(); }).toString();
            //    //GetStation(selectUtok, selectProvince);

            //   // alert(selectSeason + " " + selectWeek);

            //}

        });
        $('#dlYear').multiselect({
            nonSelectedText: 'ปีเพาะปลูก(พ.ศ.)',
            maxHeight: 250

            //onDropdownHidden: function (event) {

            //    var selectYear = $.map($("#dlYear :selected"), function (e) { return $(e).val(); }).toString();
            // //   var selectWeek = $.map($("#dlWeek :selected"), function (e) { return $(e).val(); }).toString();
            //    //GetStation(selectUtok, selectProvince);

            ////    alert(selectYear);

            //}

        });

        function GetWeek() {
          //  var CropObj = new Object();
          //  CropObj.hydroid = utokid;

            var url = "http://wuse.rid.go.th/webservice/WUSEService.svc/getCropWeekList";

           // var DTO = { 'hydro': HydroObj };


            var $select = $("#dlWeek").multiselect(); //apply the plugin
            $select.multiselect('disable'); //disable it initially

            var data = [];
            $('#dlWeek').multiselect('dataprovider', data);


            $.ajax({
                type: "POST",


                url: url,//"webservice/HDService.svc/getUtokCenter",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
               // data: {},// JSON.stringify(DTO),
                beforeSend: function () {
                   // $('#loadingUtok').show();
                },
                crossDomain: true,
                async: false,
                success: function (msg) {
                    ///////////////////////////////////////////


                    if (msg.length > 0) {
                        $select.multiselect('enable');

                        // alert(list.length);
                        var countD = 0;
                        $.each(msg, function () {

                            $("#dlWeek").append($("<option></option>").val(this['WeekID']).html(this['WeekID'] + " (" + this['PeriodTime']+")"));
                            countD++;

                        });

                    }

                    $('#dlWeek').multiselect('rebuild');
                    $("#dlWeek").multiselect('refresh'); //refresh the select here
                },
                complete: function () {
                   // $('#loadingUtok').hide();


                  //  var selectWeek = $.map($("#dlWeek :selected"), function (e) { return $(e).val(); }).toString();


                    //GetProvinceStation(selectUtok);
                },
                error: function (xhr, status, error) {
                    alert("An error has occurred during processing: " + error);
                }
            });
        }


        function GetYear() {
            //  var CropObj = new Object();
            //  CropObj.hydroid = utokid;

            var url = "http://wuse.rid.go.th/webservice/WUSEService.svc/getCropYearList";

            // var DTO = { 'hydro': HydroObj };


            var $select = $("#dlYear").multiselect(); //apply the plugin
            $select.multiselect('disable'); //disable it initially

            var data = [];
            $('#dlYear').multiselect('dataprovider', data);


            $.ajax({
                type: "POST",


                url: url,//"webservice/HDService.svc/getUtokCenter",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {},// JSON.stringify(DTO),
                beforeSend: function () {
                   // $('#loadingUtok').show();
                },
                crossDomain: true,
                async: false,
                success: function (msg) {
                    ///////////////////////////////////////////


                    if (msg.length > 0) {
                        $select.multiselect('enable');

                        // alert(list.length);
                        var countD = 0;
                        $.each(msg, function () {

                        //    alert(msg);
                            $("#dlYear").append($("<option></option>").val(this).html(this));
                            countD++;

                        });

                    }

                    $('#dlYear').multiselect('rebuild');
                    $("#dlYear").multiselect('refresh'); //refresh the select here
                },
                complete: function () {
                    // $('#loadingUtok').hide();


                    //  var selectWeek = $.map($("#dlWeek :selected"), function (e) { return $(e).val(); }).toString();


                    //GetProvinceStation(selectUtok);
                },
                error: function (xhr, status, error) {
                    alert("An error has occurred during processing: " + error);
                }
            });
        }

        GetYear();
        GetWeek();
        //showTable();
        //last code
        //////////////////////////
    });
</script>