<style>
    #iframe_weather {
        overflow-y: hidden;
        width: 100%;
        height: 100%;
        margin: 0px 0px 0px 0px;
        padding: 0px;
    }
    
    .scroll_wrapper {
        padding: 0px;
        background-color: #ebebeb;
        overflow-y: hidden !important;
    }
    /*เมื่อหน้าจอเล็ก */
    
    @media (max-width: 991px) {
        .scroll_wrapper {
            position: relative;
            width: 100%;
            overflow-x: hidden;
            overflow-y: auto !important;
            -webkit-overflow-scrolling: touch !important;
        }
    }
</style>

<div class="modal-dialog modal-weather modal-fullscreen ">
    <div class="modal-content modal-weather ">
        <div class="modal-header">
            <div class="pull-right">

                <button id="btn_fullscreen" class="btn_modal glyphicon glyphicon-fullscreen" title="Full Screen" onclick="$('#iwocModal').toggleFullScreen(); "></button>

                <button class="btn_modal glyphicon glyphicon-link" style="cursor:pointer;  border:solid 0px; background:transparent; " title="Open Link" onclick="window.open('http://iwis.pcd.go.th/index.php'); "></button>

                <!--<button class="btn_modal glyphicon glyphicon-refresh" title="Refresh" onclick="iframe_weather.location.reload(); "></button>-->

                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:#000; opacity:1; "><strong>&times;</strong></button>-->

                <button type="button" class="btn_modal glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true" title="Close" onclick="$('#iwocModal').fullScreen(false); "></button>

            </div>

            <h4 class="modal-title show_modal_title" id="featuretab-title"><strong>ภูมิอากาศ</strong> <i class="glyphicon glyphicon-menu-right"></i> <strong>เชื่อมโยงกับหน่วยงานกรมควบคุมมลพิษ1</strong></h4>

        </div>

        <div class="modal-body scroll_wrapper">

            <iframe id="iframe_weather" name="iframe_weather" src="http://iwis.pcd.go.th/index.php" frameborder="0"></iframe>

        </div>
    </div>
    <!-- /.modal-content -->
</div>