<link rel="stylesheet" href="asset/css/css_datepicker.css">

<link rel="stylesheet" href="js/layers/waterquality/theme_modal.css">
<div id="modal-waterquality" class="modal-dialog">

    <div class="modal-content modal-waterquality">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="featuretab-title"></h4>
        </div>
        <div class="modal-body" id="featuretab-info">
            <div class="container" style="width: 100%;">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab_basic_waterquality">ข้อมูลพื้นฐาน</a></li>
                    <li><a data-toggle="tab" href="#tab_table_datawaterquality">ตาราง</a></li>
                    <li><a data-toggle="tab" href="#tab_graph_datawaterquality">กราฟ</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <!--<input type="hidden" id="station_id" value="0">-->
                <div id="tab_basic_waterquality" class="tab-pane fade in active">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12" style="text-align:center;">
                            <img src="" id="image_waterquality">
                        </div>
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-condensed">
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="center">
                                            <b>ข้อมูลเมื่อวันที่ </b>
                                            <span id="date_waterquality"></span>
                                            <b> เวลา</b>
                                            <span id="time_waterquality"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="center" style="width: 50%;">รายการ</th>
                                        <th class="center">ค่าที่ได้</th>
                                    </tr>
                                    <tr>
                                        <th>สถานี</th>
                                        <td><span id="stn_name_waterquality"></span></td>
                                    </tr>
                                    <tr>
                                        <th>ที่ตั้ง</th>
                                        <td><span id="location_waterquality"><span></td>
                                    </tr>
                                    <tr>
                                        <th>ออกซิเจนในน้ำ (mg/l)</th>
                                        <td><span id="do_waterquality"></span></td>
                                    </tr>
                                    <tr>
                                        <th>ค่าการนำไฟฟ้า (µS/cm)</th>
                                        <td><span id="conductivity_waterquality"></span></td>
                                    </tr>
                                    <tr>
                                        <th>กรด-ด่าง (pH)</th>
                                        <td><span id="ph_waterquality"></span></td>
                                    </tr>
                                    <tr>
                                        <th>อุณหภูมิ (°C)</th>
                                        <td><span id="temp_waterquality"></span></td>
                                    </tr>
                                    <tr>
                                        <th>ความเค็ม (g/l)</th>
                                        <td><span id="salinity_waterquality"></span></td>
                                    </tr>
                                    <tr>
                                        <th>ระดับน้ำ (m.(MSL.))</th>
                                        <td><span id="waterlevel_waterquality"></span></td>
                                    </tr>
                                    <tr>
                                        <th>อัตราการไหล (m3/s)</th>
                                        <td><span id="flow_waterquality"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <div class="table-responsive">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab_table_datawaterquality" class="tab-pane fade">
                    <form id="form_search_waterquality_table" name="form_search_waterquality_table" class="form-inline" style="margin:5px 0 7px 0; text-align:center; ">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group station">
                                    <label>สถานี &nbsp;</label>
                                    <select id="table_form_station_id" name="table_form_station_id" data-placeholder="เลือกสถานี" class="chosen-select my_select_box">
                                        <option><option>  
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group date-start">
                                    <label>ตั้งแต่วันที่ &nbsp;</label>
                                    <input class="form-control input_date" id="table_form_date_start" type="text" maxlength="10" value="" autocomplete="off">
                                </div>
                                <div class="form-group date-end">
                                    <label>ถึง &nbsp;</label>
                                    <input class="form-control input_date" id="table_form_date_end" type="text" maxlength="10" value="" autocomplete="off">
                                </div>
                                <div class="form-group display-time">
                                    <label>การแสดงผล &nbsp;</label>
                                    <select class="form-control" id="table_form_display" class="chosen-select my_select_box">
                                            <option value="1" selected>ทุกๆ 15 นาที</option>
                                            <option value="0">ทุกๆ 1 ชั่วโมง</option>
                                        </select>
                                </div>
                                <div class="form-group btn-submit">
                                    <button id="btn_search_table" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> ค้นหา</button>
                                    <!--<input type="hidden" id="chk_table_waterquality" value="0">-->
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                        </div>
                    </div>
                    <div class="row" style="text-align: center; margin-bottom: 15px;">
                        <div class="col-md-12">
                            <b>ข้อมูลเมื่อวันที่</b>
                            <span id="span_date_start_table"></span>
                            <b>ถึง</b>
                            <span id="span_date_end_table"></span>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="row">
                        <div id="table_waterquality" class="col-md-12 table-responsive">
                        </div>
                    </div>
                </div>
                <div id="tab_graph_datawaterquality" class="tab-pane fade">
                    <form id="form_search_waterquality_graph" name="form_search_waterquality_graph" class="form-inline" style="margin:5px 0 7px 0; text-align:center; ">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group station">
                                    <label>สถานี &nbsp;</label>
                                    <select id="graph_form_station_id" name="graph_form_station_id" data-placeholder="เลือกสถานี" class="chosen-select my_select_box">
                                        <option><option>  
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group date-start">
                                    <label>ตั้งแต่วันที่ &nbsp;</label>
                                    <input class="form-control input_date" id="graph_form_date_start" type="text" maxlength="10" value="" autocomplete="off">
                                </div>
                                <div class="form-group date-end">
                                    <label>ถึง &nbsp;</label>
                                    <input class="form-control input_date" id="graph_form_date_end" type="text" maxlength="10" value="" autocomplete="off">
                                </div>
                                <div class="form-group display-time">
                                    <label>การแสดงผล &nbsp;</label>
                                    <select class="form-control" id="graph_form_display" class="chosen-select my_select_box">
                                            <option value="1" selected>ทุกๆ 15 นาที</option>
                                            <option value="0">ทุกๆ 1 ชั่วโมง</option>
                                        </select>
                                </div>
                                <div class="form-group btn-submit">
                                    <button id="btn_search_graph" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> ค้นหา</button>
                                    <!--<input type="hidden" id="chk_graph_waterquality" value="0">-->
                                </div>
                            </div>
                        </div>
                    </form>
                    <div id="graph_waterquality">
                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                            </div>
                        </div>
                        <div class="row" style="text-align: center; margin-bottom: 15px;">
                            <div class="col-md-12">
                                <b>ข้อมูลเมื่อวันที่</b>
                                <span id="span_date_start_graph"></span>
                                <b>ถึง</b>
                                <span id="span_date_end_graph"></span>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <canvas id="Chart_do" width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <canvas id="Chart_conductivity" width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <canvas id="Chart_ph" width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <canvas id="Chart_temp" width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <canvas id="Chart_salinity" width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <canvas id="Chart_tds" width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <canvas id="Chart_waterlevel" width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <canvas id="Chart_flow" width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <canvas id="Chart_velocity" width="500" height="300"></canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <canvas id="Chart_length" width="500" height="300"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="libraries/bootstrap/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="libraries/bootstrap/js/bootstrap-datepicker.th.js"></script>
<script type="text/javascript" src="libraries/bootstrap/js/bootstrap-datepicker-thai.js"></script>
<script type="text/javascript" src="js/layers/waterquality/tab_table_waterquality.js"></script>
<script type="text/javascript" src="js/layers/waterquality/tab_graph_waterquality.js"></script>
<script type="text/javascript" src="js/layers/waterquality/modal.js"></script>