.chosen-container,
.input_date {
    text-align: center;
    background-color: #F5FBFD;
}

thead tr {
    background-color: #e8e8e8;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

tfoot tr {
    background-color: #8ef2cd;
    text-shadow: 0.3px 0px 0px;
}

#table_waterquality tfoot tr:hover,
#table_waterquality tbody tr:hover {
    background-color: #ffff99;
}

.datepicker td,
.datepicker th {
    background-color: white;
}

img#image_waterquality {
    height: 180px;
    margin-bottom: 1pc;
}


/*.form-group.station>label,
.form-group.date-start>label,
.form-group.date-end>label,
.form-group.display-time>label,
.form-group.btn-submit {
    padding-top: 15px;
}*/


/*==========  Non-Mobile First Method  ==========*/

@media only screen and (min-width: 993px) {
    .form-group.station {
        height: 32px;
        margin-top: 25px;
        text-align: center;
        display: inline-flex;
        width: 702px;
    }
    .form-group.display-time>label {
        width: 120px;
        margin: 8px 10px 0px 8px;
    }
    .form-group.date-start {
        margin: 10px;
    }
    .form-control.input_date {
        width: 120px;
    }
    .form-group.date-end {
        text-align: center;
    }
    .form-group.display-time {
        display: inline-flex;
        height: 32px;
    }
    .form-group.station label {
        margin: 8px 10px;
    }
}

@media only screen and (max-width: 636px) {
    .form-group.station,
    .form-group.date-start,
    .form-group.date-end,
    .form-group.display-time,
    #table_form_display_chosen {
        display: initial;
    }
    .form-control.input_date,
    #graph_form_display_chosen,
    #table_form_display_chosen {
        width: 100%;
    }
}