/* CSS Document */

/*#legend{
	float:left;
	position:absolute;
	background-color:#FAFACC;
	padding:5px;
	margin-left:53px;
	margin-top:7px;
	box-shadow: 3px 3px 3px #ccc;  /*เงาทางขวา, เงาทางซ้าย, เงา, สีเงา 
}
*/

.chart-legend{
	padding:5px;
}

.chart-legend-label-text {
	font-family:tahoma;
	font-size:11px;
}

.tbl_legend_chart tr{
	cursor:pointer;
}

.legend_color_line{
	width:23px;
	height:0px;
	margin:0px 1px 0px 10px;
	border:solid 0px;
	vertical-align:middle;
	background-color:#FFF;
}
.line_hidden{
	opacity:0.3;
}

.chart-legend-label-text{
	cursor:pointer;
}




