<link rel="stylesheet" href="asset/css/css_datepicker.css">
<link rel="stylesheet" href="js/layers/floodgate/chartjs.css">
<style type="text/css">
    .input_date {
        background-color: #F5FBFD;
        text-align: center;
    }
    
    #table_data2 thead {
        background-color: #F9F9F9;
    }
    
    #table_data2 thead th {
        text-align: center;
    }
    
    #table_data2 tbody {
        background: #FFF;
    }
    
    #table_data2 tbody tr:hover {
        background-color: #FFF793;
        cursor: pointer;
    }
    
    #table_data2 td.region {
        font-size: 16px !important;
        font-weight: bold;
        background-color: #FFFF99;
    }
    
    #table_data2 .tr_sum td {
        background-color: #CCFFCC;
        font-weight: bold;
    }
    
    #table_data2 .tr_min td {
        background-color: #CCFFCC;
    }
    
    #table_data2 .tr_sum_total td {
        background-color: #CCFFCC;
        font-weight: bold;
    }
    /*เมื่อหน้าจอกว้าง */
    
    @media (min-width: 992px) {
        .modal-lg {
            /*width: 1100px;*/
        }
    }
    /*เมื่อหน้าจอกว้าง */
    
    @media (min-width: 768px) {
        .input_date {
            width: 155px !important;
        }
    }
</style>

<input id="floodgate_id" name="floodgate_id" type="hidden" value="">

<div id="modal-floodgate" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="featuretab-title"></h4>
        </div>

        <div class="modal-body" id="featuretab-info">
            <ul id="aboutTabs" class="nav nav-tabs">
                <li class="active"><a class="menu_tab" data-toggle="tab" href="#tab_water"><i class="glyphicon glyphicon-time"></i> สภาพน้ำ</a></li>
                <li><a class="menu_tab" data-toggle="tab" href="#tab_table"><i class="glyphicon glyphicon-list-alt"></i> ตาราง</a></li>
                <li><a class="menu_tab" data-toggle="tab" href="#tab_graph"><i class="glyphicon glyphicon-stats"></i> กราฟ</a></li>
            </ul>
            <div id="aboutTabsContent" class="tab-content" style="padding-top: 10px;">


                <div class="tab-pane fade active in" id="tab_water">
                    <input type="hidden" id="check_water_first" value="1">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <input id="rsvmiddle_val" type="hidden" value="">
                                <table class="table table-striped table-bordered table-condensed" id="table_data1" width="80%">
                                    <tbody>
                                        <tr>
                                            <td class="text-center" colspan="2"><strong>ข้อมูลวันที่ <span id="show_date"></span></strong></td>
                                        </tr>
                                        <tr>
                                            <td width="50%">ระดับเหนือ (ม.รทก.) </td>
                                            <td width="50%"><span id="TMD_ULevel"></span> </td>
                                        </tr>
                                        <tr>
                                            <td>ระดับท้าย (ม.รทก.) </td>
                                            <td><span id="TMD_DLevel"></span></td>
                                        </tr>
                                        <tr>
                                            <td>ปริมาณน้ำ (Q) (ลบ.ม./วิ) </td>
                                            <td><span id="TMD_Q"></span></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding-top:10px">
                        <div class="col-xs-2 col-lg-2 text-nowrap">
                            หมายเหตุ :
                        </div>
                        <div class="col-xs-10 col-lg-10" style="padding-left:0px">
                            ม.รทก. หมายถึง เมตร ระดับน้ำทะเลปานกลาง<br>ลบ.ม./วิ หมายถึง ลูกบาศก์เมตร/วินาที
                        </div>
                    </div>

                </div>



                <div class="tab-pane fade" id="tab_table">
                    <input type="hidden" id="check_table_first" value="0">

                    <form id="form_search_floodgate_table" name="form_search_floodgate_table">
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="form-inline" style="margin:5px 0 7px 0; text-align:center; ">
                                    <div class="form-group">
                                        <label>&nbsp;ตั้ั้งแต่วันที่&nbsp;</label>
                                        <input class="form-control input_date" id="date_start_table" type="text" maxlength="10" value="" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label>&nbsp;ถึง&nbsp;</label>
                                        <input class="form-control input_date" id="date_end_table" type="text" maxlength="10" value="" autocomplete="off">
                                    </div>
                                    <button id="btn_search_table" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> ค้นหา</button>
                                </div>

                            </div>
                        </div>


                    </form>

                    <div class="row">
                        <div class="col-lg-12">
                            <hr style="margin:10px; ">
                            <div align="center" style="margin:5px 0px 5px; ">
                                <div class="rsvmiddle_name"></div>
                                <div><strong>ข้อมูลวันที่</strong>
                                    <span class="show_date_start"></span>
                                    <strong>ถึง</strong>
                                    <span class="show_date_end"></span>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table width="100%" align="center" class="table table-bordered" id="table_data2">
                                    <thead>
                                        <tr>
                                            <th width="3%" nowrap="nowrap">ลำดับ</th>
                                            <th width="20%" nowrap="nowrap">วันที่</th>
                                            <th width="9%" nowrap="nowrap">ระดับเหนือ (ม.รทก.) </th>
                                            <th width="6%" nowrap="nowrap">ระดับท้าย (ม.รทก.) </th>
                                            <th width="7%" nowrap="nowrap">ปริมาณน้ำ (Q) (ลบ.ม./วิ) </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="right">1</td>
                                            <td>xxx</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                    <div class="row" style="padding-top:10px">
                        <div class="col-xs-2 col-lg-1 text-nowrap">
                            หมายเหตุ :
                        </div>
                        <div class="col-xs-10 col-lg-10" style="padding-left:0px">
                            ม.รทก. หมายถึง เมตร ระดับน้ำทะเลปานกลาง<br>ลบ.ม./วิ หมายถึง ลูกบาศก์เมตร/วินาที
                        </div>
                    </div>

                </div>



                <div class="tab-pane fade chart_body" id="tab_graph">
                    <input type="hidden" id="check_graph_first" value="0">

                    <form id="form_search_floodgate_graph" name="form_search_floodgate_graph" class="form-inline" style="margin:5px 0 7px 0; text-align:center; ">
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="form-group">
                                    <label>ตั้งแต่วันที่&nbsp;</label>
                                    <input class="form-control input_date" id="date_start_graph" type="text" maxlength="10" value="" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label>&nbsp;ถึง&nbsp;</label>
                                    <input class="form-control input_date" id="date_end_graph" type="text" maxlength="10" value="" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <button id="btn_search_graph" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> ค้นหา</button>
                                </div>

                            </div>
                        </div>
                    </form>


                    <hr style="margin:10px; ">

                    <div align="center" style="margin:5px 0px 5px; ">
                        <div class="rsvmiddle_name"></div>
                        <div><strong>ข้อมูลวันที่</strong>
                            <span class="show_date_start_graph"></span>
                            <strong>ถึง</strong>
                            <span class="show_date_end_graph"></span>
                        </div>
                    </div>

                    <hr style="margin:10px; ">

                    <div class="row">
                        <div class="col-lg-12">
                            <div align="center">
                                <div id="legend" class="chart-legend text-center"></div>
                                <canvas id="chart1" width="500" height="300"></canvas>
                            </div>
                            <br>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<script type="text/javascript" src="libraries/bootstrap/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="libraries/bootstrap/js/bootstrap-datepicker.th.js"></script>
<script type="text/javascript" src="libraries/bootstrap/js/bootstrap-datepicker-thai.js"></script>
<script type="text/javascript" src="js/layers/floodgate/function_app.js"></script>
<script type="text/javascript" src="js/layers/floodgate/chart_data.js"></script>

<script type="text/javascript">
    var base_url = "http://app.rid.go.th:88/reservoir/telemetry/";

    $(function () {

        //------------------------------------------------------------------------------------------
        $('.input_date').datepicker({
            language: "th-th",
            autoclose: true,
        });

        // //----------------------------------------------------------------------------	
        $("a[href='#tab_water']").click(function (e) {
            $('#modal-floodgate').removeClass('modal-lg');
            //tab_water();
        });

        // //----------------------------------------------------------------------------	
        $("a[href='#tab_table']").click(function (e) {
            $('#modal-floodgate').removeClass('modal-lg');
            $('#modal-floodgate').removeClass('modal-lg').addClass('modal-lg');
            if ($('#check_table_first').val() == 0) {
                date_start_table = chg_date_en($('#date_start_table').val());
                date_end_table = chg_date_en($('#date_end_table').val());
                tab_table();
                //-----
                $('#check_table_first').val(1);
            }//check 
        });
        $("#btn_search_table").click(function (e) {
            e.preventDefault();
            console.clear();
            date_start_table = chg_date_en($('#date_start_table').val());
            date_end_table = chg_date_en($('#date_end_table').val());
            tab_table();
        });

        // //----------------------------------------------------------------------------	
        $("a[href='#tab_graph']").click(function (e) {
            $('#modal-floodgate').removeClass('modal-lg').addClass('modal-lg');
            if ($('#check_graph_first').val() == 0) {
                tab_graph();
                //----
                $('#check_graph_first').val(1);
            }
        });
        $("#btn_search_graph").click(function (e) {
            e.preventDefault();
            console.clear();
            tab_graph();
        });



    }); //ready


    function tab_table() {
        $(".show_date_start").html(chg_date_thai(date_start_table));
        $(".show_date_end").html(chg_date_thai(date_end_table));

        block('#tab_table');
        $.ajax({
            method: "GET",
            url: base_url + "api/telemetryGeojson?basin=floodgate",
            data: {
                date_start: date_start_table,
                date_end: date_end_table,
                station: $('#floodgate_id').val()
            },
            dataType: "json"
        })
            .done(function (data) {

                if (data) {

                    var table_data = $("#table_data2 tbody");
                    var row_data = '';
                    var i = 0;
                    table_data.html('');

                    if (data.features.length == 0) {
                        row_data += '<tr><td colspan="5" align="center" class=""><br><strong>ไม่มีข้อมูล</strong><br><br> </td></tr>';
                    } else {
                        $.each(data.features, function (index, value) {

                            //console.log( print_r(value.properties).split('<br>').join('') );
                            i++;
                            row_data += '<tr>';
                            row_data += '<td align="right">' + i + '</td>';
                            row_data += '<td nowrap>' + value.properties.TMD_DateTime_th + '</td>';
                            row_data += '<td nowrap  align="right">' + value.properties.TMD_ULevel + '</td>';
                            row_data += '<td nowrap  align="right">' + value.properties.TMD_DLevel + '</td>';
                            row_data += '<td nowrap  align="right">' + value.properties.TMD_Q + '</td>';
                            row_data += '</tr>';
                        });
                    }
                    table_data.append(row_data);
                    unblock('#tab_table');
                } //if data
            })
            .fail(function (jqXHR, textStatus, error) {
                unblock('#tab_table');
                alert("Error : " + textStatus + " " + error);
            });
    }

    function tab_graph() {
        //console.warn(date_val+' | '+rsvmiddle_val);
        $(".show_date_start_graph").html(chg_date_thai($('#date_start_graph').val()));
        $(".show_date_end_graph").html(chg_date_thai($('#date_end_graph').val()));

        fnc_floodgateGraph(); //LoadGraph 	

    }

</script>