@font-face {
    font-family: BebasNeueRegular;
    src: url(fonts/BebasNeue-webfont.woff);
}

@font-face {
    font-family: Alegreya-Regular;
    src: url(fonts/Alegreya-Regular.ttf);
}

@font-face {
    font-family: Ubuntu-Medium;
    src: url(fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url(fonts/Ubuntu-Regular.ttf);
}

.ac-container {
    width: auto;
    margin: 10px auto 10px auto;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
}

.ac-container label {
    font-family: 'THSarabunNew', 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    /*padding: 5px 20px;*/
    padding: 5px 1px 5px 15px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #212121;
    /*text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
    line-height: 33px;
    font-size: 13px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 1%, #FAFAFA 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(100%, #FAFAFA));
    background: -webkit-linear-gradient(top, #ffffff 1%, #FAFAFA 100%);
    background: -o-linear-gradient(top, #ffffff 1%, #FAFAFA 100%);
    background: -ms-linear-gradient(top, #ffffff 1%, #FAFAFA 100%);
    background: linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#FAFAFA', GradientType=0);
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
    /*background: rgba(54, 25, 25, .00004);*/
}

.ac-container label:hover {
    background: #E3F2FD;
}

.ac-container input.menu:checked+label,
.ac-container input.menu:checked+label:hover {
    background: #3C9947;
    /*#42A5F5;*/
    color: #fff;
    /*text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);*/
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.ac-container label:hover:after,
.ac-container input.menu:checked+label:hover:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(images/arrow_down.png) no-repeat center center;
}

.ac-container input.menu:checked+label:hover:after {
    background-image: url(images/arrow_up.png);
}

.ac-container input.menu {
    display: none;
}

.ac-container article {
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container input.menu:checked~article {
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3);
}

.ac-container input.menu:checked~article.ac-large {
    height: auto;
    max-height: 100px;
    padding-top: 5px;
    overflow-y: auto;
}

.menu-item-radio {
    font-family: 'THSarabunNew', 'Ubuntu-Regular', Arial, sans-serif;
    font-size: 13px;
}

.menu-item-checkbox {
    font-family: 'THSarabunNew', 'Ubuntu-Regular', Arial, sans-serif;
    font-size: 13px;
}

.bt_delete {
    position: relative;
    float: right;
    background-image: url(images/delete.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.leaflet-control-layers,
.leaflet-control-layers:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    /*background: #e0e3ec url(images/bgnoise_lg.jpg) repeat top left;*/
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}


/*** เมื่อหน้าจอกว้าง */

@media (min-width: 992px) {
    .ac-container {
        width: 315px !important;
    }
}