<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="featureTele127-title"></h4>
        </div>

        <div class="modal-body" id="featureTele127tab-info">
            <ul id="aboutTele127Tabs" class="nav nav-tabs">
                <li class="active"><a href="#featureTele127-WL" data-toggle="tab"><i class="glyphicon glyphicon-time"></i>&nbsp;ระดับน้ำ</a></li>
                <li><a href="#featureTele127-R" data-toggle="tab"><i class="glyphicon glyphicon-tint"></i>&nbsp;ปริมาณน้ำฝน</a></li>
            
            </ul>
            <div id="aboutTele127TabsContent" class="tab-content" style="padding-top: 10px;">
                <div class="tab-pane fade active in" id="featureTele127-WL">

                </div>
                <div class="tab-pane fade" id="featureTele127-R">

                </div>
       
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>