<div id="weatherModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="featuretab-title"></h4>
            </div>
            <div class="modal-body" id="featuretab-info">
                <div class="container" style="width: 100%;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#basic_data"><i class="glyphicon glyphicon-cog"></i> ข้อมูลพื้นฐาน</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab_basic_weather" class="tab-pane fade in active">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-condensed">
                                            <tr>
                                                <td colspan="2" style="text-align: center;">
                                                    <b>ข้อมูลเมื่อวันที่ </b>
                                                    <span id="date_weather"></span>
                                                    <b> เวลา</b>
                                                    <span id="time_weather"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="text-align: center; width: 55%;">รายการ</th>
                                                <th style="text-align: center;">ค่าที่ได้</th>
                                            </tr>
                                            <tr>
                                                <th>สถานี</th>
                                                <td><span id="station_name_weather"></span>properties.[0]</td>
                                            </tr>
                                            <tr>
                                                <th>จังหวัด</th>
                                                <td><span id="province_weather"></span>properties.</td>
                                            </tr>
                                            <tr>
                                                <th>ความกดอากาศที่ระดับน้ำทะเล ()</th>
                                                <td><span id="mean_sea_level_pressure_weather"></span></td>
                                            </tr>
                                            <tr>
                                                <th>อุณหภูมิอากาศ ()</th>
                                                <td><span id="air_temperature_weather"></span></td>
                                            </tr>
                                            <tr>
                                                <th>อุณหภูมิจุดน้ำค้าง ()</th>
                                                <td><span id="dew_point_weather"></span></td>
                                            </tr>
                                            <tr>
                                                <th>ความดันไอ ()</th>
                                                <td><span id="vapor_pressure_weather"></span></td>
                                            </tr>
                                            <tr>
                                                <th>ทัศนวิสัยทางบก ()</th>
                                                <td><span id="land_visibility_weather"></span></td>
                                            </tr>
                                            <tr>
                                                <th>ความชื้นสัมพัทธ์ ()</th>
                                                <td><span id="relative_Humidity_weather"></span></td>
                                            </tr>
                                            <tr>
                                                <th>ทิศทางลม ()</th>
                                                <td><span id="wind_direction_weather"></span></td>
                                            </tr>
                                            <tr>
                                                <th>ความเร็วลม ()</th>
                                                <td><span id="wind_speed_weather"></span></td>
                                            </tr>
                                            <!--<tr>
                                                <th>ปริมาณฝน ทุกๆ 3 ชม. ()</th>
                                                <td><span id="rainfall_weather"></span></td>
                                            </tr>
                                            <tr>
                                                <th>ปริมาณฝน 24 ชม. ()</th>
                                                <td><span id="rainfall_24_hr_weather"></span></td>
                                            </tr>-->
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var modal_weather = document.getElementById('weatherModal');

        window.onclick = function (event) {
            if (event.target == modal_weather) {
                modal_weather.style.display = "none";
                $('.modal-backdrop').remove();
            }
        }
    </script>
</div>