<input type="hidden" id="station_id" value="">



<input type="hidden" id="check_load_water" value="0">
<input type="hidden" id="check_load_table" value="0">
<input type="hidden" id="check_load_graph" value="0">




<div class="modal-dialog ">
    <div class="modal-content">
        <div class="modal-header">
            <div class="pull-right">


                <button id="btn_maximize" type="button" class="btn_modal glyphicon glyphicon-resize-full  " title="Maximize" onclick="maximize(this); "></button>

                <button type="button" class="btn_modal glyphicon glyphicon-remove" data-dismiss="modal" aria-hidden="true" title="Close" onclick="$('.mapplic-tooltip-close').trigger('click'); "></button>


            </div>


            <h4 class="modal-title" style="color:#000; "></h4>
        </div>
        <div class="modal-body">


            <ul id="aboutTabs" class="nav nav-tabs">
                <li class="active"><a class="menu_tab" data-toggle="tab" href="#tab_water" aria-expanded="true"><i class="glyphicon glyphicon-time"></i> สภาพน้ำ</a></li>
                <li class=""><a class="menu_tab" data-toggle="tab" href="#tab_table" aria-expanded="false"><i class="glyphicon glyphicon-list-alt"></i> ตาราง </a></li>
                <li class=""><a class="menu_tab" data-toggle="tab" href="#tab_graph" aria-expanded="false"><i class="glyphicon glyphicon-stats"></i> กราฟ</a></li>
            </ul>

            <div id="aboutTabsContent" class="tab-content" style="padding-top: 10px;">

                <div class="tab-pane fade active in" id="tab_water">



                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed" id="table_data1" width="80%">
                                    <tbody>
                                        <tr>
                                            <td class="text-center" colspan="2" bgColor="#F9F9F9"><strong><span id="show_datenow">ข้อมูลวันที่ </span></strong></td>
                                        </tr>

                                        <tr>
                                            <td width="50%">ความจุที่ รนส. (ล้าน ลบ.ม.)</td>
                                            <td width="50%"><span id="show_vol1"></span> </td>
                                        </tr>
                                        <tr>
                                            <td width="50%">ความจุที่ รนก. (ล้าน ลบ.ม.)</td>
                                            <td width="50%"><span id="show_vol2"></span> </td>
                                        </tr>
                                        <tr>
                                            <td width="50%">ความจุที่ รนต. (ล้าน ลบ.ม.)</td>
                                            <td width="50%"><span id="show_vol3"></span> </td>
                                        </tr>

                                        <tr>
                                            <td width="50%">ปริมาตรน้ำในอ่าง (ล้าน ลบ.ม.)</td>
                                            <td width="50%"><span id="show_vol4"></span> </td>
                                        </tr>
                                        <tr>
                                            <td width="50%">ปริมาตรน้ำไหลเข้า (ล้าน ลบ.ม.)</td>
                                            <td width="50%"><span id="show_vol5"></span> </td>
                                        </tr>
                                        <tr>
                                            <td width="50%">ปริมาตรน้ำระบาย (ล้าน ลบ.ม.)</td>
                                            <td width="50%"><span id="show_vol6"></span> </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding-top:10px">
                        <div class="col-xs-2 col-lg-2 text-nowrap">
                            หมายเหตุ :
                        </div>
                        <div class="col-xs-10 col-lg-10" style="padding-left:0px">
                            รนส. หมายถึง ระดับน้ำสูงสุด<br> รนก. หมายถึง ระดับน้ำกักเก็บ<br> รนต. หมายถึง ระดับน้ำต่ำสุด
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="tab_table">



                    <form id="form_search_floodgate_table" name="form_search_floodgate_table">
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="form-inline" style="margin:5px 0 7px 0; text-align:center; ">
                                    <div class="form-group">
                                        <label>&nbsp;ตั้ั้งแต่วันที่&nbsp;</label>
                                        <input class="form-control input_date" id="date_start_table" type="text" maxlength="10" value="" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label>&nbsp;ถึง&nbsp;</label>
                                        <input class="form-control input_date" id="date_end_table" type="text" maxlength="10" value="" autocomplete="off">
                                    </div>
                                    <button id="btn_search_table" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> ค้นหา</button>
                                </div>

                            </div>
                        </div>


                    </form>

                    <div class="row">
                        <div class="col-lg-12">
                            <hr style="margin:10px; ">
                            <div align="center" style="margin:5px 0px 5px; ">
                                <div class="rsvmiddle_name"></div>
                                <div><strong>ข้อมูลวันที่</strong>
                                    <span class="show_date_start_table"></span>
                                    <strong>ถึง</strong>
                                    <span class="show_date_end_table"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="table-responsive">
                                <table width="100%" align="center" class="table table-bordered" id="table_data2">
                                    <thead>
                                        <tr>
                                            <th width="3%" rowspan="2" nowrap="nowrap">ลำดับ</th>
                                            <th width="20%" rowspan="2" nowrap="nowrap">วันที่</th>
                                            <th width="9%" rowspan="2" nowrap="nowrap">ความจุที่ รนส. <br>(ล้านลบ.ม.)</th>
                                            <th width="9%" rowspan="2" nowrap="nowrap">ความจุที่ รนก. <br>(ล้านลบ.ม.)</th>
                                            <th width="7%" rowspan="2" nowrap="nowrap">ความจุที่ รนต. <br>(ล้านลบ.ม.)</th>
                                            <th colspan="2" nowrap="nowrap">ปริมาตรน้ำในอ่างฯ</th>
                                            <th width="7%" rowspan="2" nowrap="nowrap">น้ำไหลลงอ่าง</th>
                                            <th width="6%" rowspan="2" nowrap="nowrap">น้ำระบาย</th>
                                        </tr>
                                        <tr>
                                            <th width="8%" nowrap="nowrap"> &nbsp; ปริมาตรน้ำ &nbsp; </th>
                                            <th width="9%" nowrap="nowrap"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; % &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="right">1</td>
                                            <td>xxx</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td colspan="2">&nbsp;</td>
                                            <td colspan="2">&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>






                </div>

                <div class="tab-pane fade chart_body" id="tab_graph">


                    <form id="form_search_floodgate_graph" name="form_search_floodgate_graph" class="form-inline" style="margin:5px 0 7px 0; text-align:center; ">
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="form-group">
                                    <label>ตั้งแต่วันที่&nbsp;</label>
                                    <input class="form-control input_date" id="date_start_graph" type="text" maxlength="10" value="" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label>&nbsp;ถึง&nbsp;</label>
                                    <input class="form-control input_date" id="date_end_graph" type="text" maxlength="10" value="" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <button id="btn_search_graph" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> ค้นหา</button>
                                </div>

                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-lg-12">
                            <hr style="margin:10px; ">
                            <div align="center" style="margin:5px 0px 5px; ">
                                <div class="rsvmiddle_name"></div>
                                <div><strong>ข้อมูลวันที่</strong>
                                    <span class="show_date_start_graph"></span>
                                    <strong>ถึง</strong>
                                    <span class="show_date_end_graph"></span>
                                </div>
                            </div>
                            <hr style="margin:10px; ">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div align="center">
                                <div id="legend" class="chart-legend text-center"></div>
                                <canvas id="chart1" width="500" height="300"></canvas>
                            </div>
                            <br>
                        </div>
                    </div>


                </div>

            </div>


        </div>
    </div>
</div>





<script type="text/javascript" src="asset/js/chart_data_dam.js"></script>

<script>
    //===Tab Event ===========================================
    var _date_start_table;
    var _date_end_table;
    $(function() {




        $("a[href='#tab_water']").click(function(e) {
            $('#modal_popup .modal-dialog').removeClass('modal-lg');
        });

        //-----------------------------------------------------------------------------------------------------------------
        $("a[href='#tab_table']").click(function(e) {
            $('#modal_popup .modal-dialog').removeClass('modal-lg').addClass('modal-lg');
            if ($('#check_load_table').val() == 0) {
                _date_start_table = chg_date_en($('#date_start_table').val());
                _date_end_table = chg_date_en($('#date_end_table').val());
                tab_table();
                //----
                $('#check_load_table').val(1);
            } //check 
        });
        $("#btn_search_table").click(function(e) {
            e.preventDefault();
            console.clear();
            _date_start_table = chg_date_en($('#date_start_table').val());
            _date_end_table = chg_date_en($('#date_end_table').val());
            tab_table();
        });

        //-----------------------------------------------------------------------------------------------------------------
        $("a[href='#tab_graph']").click(function(e) {
            $('#modal_popup .modal-dialog').removeClass('modal-lg').addClass('modal-lg');
            if ($('#check_load_graph').val() == 0) {
                tab_graph();
                //----
                $('#check_load_graph').val(1);
            }
        });
        $("#btn_search_graph").click(function(e) {
            e.preventDefault();
            console.clear();
            tab_graph();
        });


    }); //ready

    function tab_table() {

        $(".show_date_start_table").html(chg_date_thai(_date_start_table));
        $(".show_date_end_table").html(chg_date_thai(_date_end_table));

        block('#tab_table');
        $.ajax({
                method: "GET",
                url: base_url + "api/damGeojson?basin=chaophraya",
                data: {
                    date_start: _date_start_table,
                    date_end: _date_end_table,
                    station: $("#station_id").val()
                },
                dataType: "json"
            })
            .done(function(data) {

                if (data) {

                    var table_data = $("#table_data2 tbody");
                    var row_data = '';
                    var i = 0;
                    table_data.html('');

                    if (data.features.length == 0) {
                        row_data += '<tr><td colspan="9" align="center" class=""><br><strong>ไม่มีข้อมูล</strong><br><br> </td></tr>';
                    } else {
                        $.each(data.features, function(index, value) {

                            //console.log( print_r(value.properties).split('<br>').join('') );
                            i++;
                            row_data += '<tr>';
                            row_data += '<td align="right" nowrap>' + i + '</td>';
                            row_data += '<td nowrap>' + value.properties.DMD_Date_th + '</td>';
                            row_data += '<td align="right" nowrap>' + number_format(value.properties.DAM_QMax, 2) + '</td>';
                            row_data += '<td align="right" nowrap>' + number_format(value.properties.DAM_QStore, 2) + '</td>';
                            row_data += '<td align="right" nowrap>' + number_format(value.properties.DAM_QUsage, 2) + '</td>';
                            row_data += '<td align="right" nowrap>' + number_format(value.properties.DMD_Q, 2) + '</td>';
                            row_data += '<td align="right" nowrap>' + ' ' + number_format((parseFloat(value.properties.DMD_Q) / parseFloat(value.properties.DAM_QStore)) * 100, 2) + '%' + '</td>';
                            row_data += '<td align="right" nowrap>' + number_format(value.properties.DMD_Inflow, 2) + '</td>';
                            row_data += '<td align="right" nowrap>' + number_format(value.properties.DMD_Outflow, 2) + '</td>';
                            row_data += '</tr>';
                        });
                    }
                    table_data.append(row_data);
                    unblock('#tab_table');
                } //if data
            })
            .fail(function(jqXHR, textStatus, error) {
                unblock('#tab_table');
                alert("Error : " + textStatus + " " + error);
            });

    }


    function tab_graph() {
        $(".show_date_start_graph").html(chg_date_thai($('#date_start_graph').val()));
        $(".show_date_end_graph").html(chg_date_thai($('#date_end_graph').val()));

        fnc_graph(); //LoadGraph 	

    }
</script>