
ผังน้ำเจ้าพระยา
library 
  <link href="asset/css/css_spinner.css" rel="stylesheet" type="text/css" media="screen" />
  <link rel="stylesheet" href="asset/css/css_datepicker.css">
  <link rel="stylesheet" href="map3d/css/style.css">



  <script src="libraries/bootstrap/js/bootstrap-datepicker.js"></script>
  <script src="libraries/bootstrap/js/bootstrap-datepicker.th.js"></script>
  <script src="libraries/bootstrap/js/bootstrap-datepicker-thai.js"></script>


  <script type="text/javascript" src="asset/js/function_main.js"></script>
  <script type="text/javascript" src="asset/js/function_app.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {

      $('.input_date').datepicker({
        language: "th-th",
        autoclose: true,
      });

      //Event Modal 
      $(document).on("click", ".btn_detail", function (e) {
        e.preventDefault();
        $('#modal_popup').modal();
        $(".modal-title").html('<strong>' + $(this).data('title') + '</strong>');
      });

      $("a[href='#tab_water']").click(function (e) {
        $('#modal_popup .modal-dialog').removeClass('modal-lg');
      });

      $("a[href='#tab_table']").click(function (e) {
        $('#modal_popup .modal-dialog').removeClass('modal-lg').addClass('modal-lg');
      });

      $("a[href='#tab_graph']").click(function (e) {
        $('#modal_popup .modal-dialog').removeClass('modal-lg').addClass('modal-lg');
      });









